<template lang="pug">
  .c-profile
    .ed-grid.m-grid-10
      template(v-for="itemProfile in S_PROFILE")
        .m-cols-2(
          style="background-color: #EFEFEF;margin:3rem;padding:2rem;border-radius:2rem;width:12rem"
        )
          label.c-profile__avatar
            img(
              :src="itemProfile.image"
              style="width:10rem;border-radius:50% 50%;margin-top:-4rem"
            )
            h4 {{itemProfile.firstname}}
            p(style="margin-left:20%;margin-top:-10px;font-size:12px") {{itemProfile.program}}
            i(
              style="margin-left:20%;color:#0000b3;font-size:12px"
              @click="$modal.show('profile-details')").icon-agregar_ico  Ver Más
          modal(
            name="profile-details"
            :width="350"
            height="auto"
            :adaptive="true"
            class="c-modal"
          )
            .c-profile__box.ed-grid.m-grid-2
              .m-cols-2
                .c-profile__label
                  h3 {{ itemProfile.firstname }}
              .m-cols-2
                .c-profile__label
                  p {{ itemProfile.profile }}
              .m-cols-2(style="margin-top:10px")
                .c-profile__label
                  i.icon-mottivateca
                  span(style="margin-left:10px") {{ itemProfile.program }}
              .m-cols-2(style="margin-top:10px")
                .c-profile__label
                  i.icon-place_ico
                  span(style="margin-left:10px") {{ itemProfile.local }}
              .m-cols-2(style="margin-top:10px")
                .c-profile__label
                  i.icon-phone
                  span(style="margin-left:10px") {{ itemProfile.phone }}
              .m-cols-2(style="margin-top:10px")
                .c-profile__label
                  i.icon-email
                  span(style="margin-left:10px") {{ itemProfile.email }}
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      photo: require('@/assets/images/profile-base.png'),
      imageDni: '',
      data: {
        name: 'Sarah Connor',
        card: '76793259',
        date: '1997-11-15',
        age: '24',
        sex: 'Mujer',
        sons: '4',
        country: 'Perú',
        departament: 'Lima',
        district: 'San Miguel',
        document: 'dni_escaneado.jpg',
        about: 'Eu non viverra ultricies ultrices. Cursus vitae dui iaculis vulputate. Cras nulla risus donec in. Sed praesent ornal. Eu non viverra ultricies ultrices. Cursus vitae dui iaculis vulputate. Cras nulla risus donec in. Sed praesent ornal. Eu non viverra ultricies ultrices. Cursus vitae dui iaculis vulputate. Cras nulla risus donec in. Sed praesent ornal',
        presentation: 'Psicóloga especialista en temas de familia',
        email: 'correodeejemplo@gmail.com',
        phone: '934575282',
        educations: [
          {
            grade: 'Dr. Psicologia',
            institution: 'Universidad Tecnologica del Perú',
            dateInitial: '1997-11-15',
            dateEnded: '2010-11-15',
            document: 'dni_escaneado.jpg'
          },
          {
            grade: 'Dr. Psicologia',
            institution: 'Universidad Tecnologica del Perú',
            dateInitial: '1997-11-15',
            dateEnded: '2010-11-15',
            document: 'dni_escaneado.jpg'
          }
        ],
        specialities: {
          family: true,
          love: true,
          friends: true,
          work: false
        }
      },
      currentFilters: {
        fecha: {
          name: 'Fecha',
          value: null
        },
        search: '',
        dateFilters: ''
      },
      toggleSearch: false,
      currentOption: 'today',
      filters: {
        dates: [
          {
            name: 'Todos',
            value: 1
          },
          {
            name: 'Hoy',
            value: 2
          },
          {
            name: 'Mañana',
            value: 3
          },
          {
            name: 'Mes',
            value: 4
          }
        ]
      },
      password: 'absasdas',
      available: [],
      day: 1,
      workDays: [
        { value: 1, short: 'L' },
        { value: 2, short: 'M' },
        { value: 3, short: 'M' },
        { value: 4, short: 'J' },
        { value: 5, short: 'V' },
        { value: 6, short: 'S' }
      ],
      hours: [
        { startHour: '06:00', endHour: '06:45', state: false },
        { startHour: '06:45', endHour: '07:30', state: false },
        { startHour: '07:30', endHour: '08:15', state: false },
        { startHour: '08:15', endHour: '09:00', state: false },
        { startHour: '09:00', endHour: '09:45', state: false },
        { startHour: '09:45', endHour: '10:30', state: false },
        { startHour: '10:30', endHour: '11:15', state: false },
        { startHour: '11:15', endHour: '12:00', state: false },
        { startHour: '12:00', endHour: '12:45', state: false },
        { startHour: '12:45', endHour: '13:30', state: false },
        { startHour: '13:30', endHour: '14:15', state: false },
        { startHour: '14:15', endHour: '15:00', state: false },
        { startHour: '15:00', endHour: '15:45', state: false },
        { startHour: '15:45', endHour: '16:30', state: false },
        { startHour: '16:30', endHour: '17:15', state: false },
        { startHour: '17:15', endHour: '18:00', state: false },
        { startHour: '18:00', endHour: '18:45', state: false },
        { startHour: '18:45', endHour: '19:30', state: false },
        { startHour: '19:30', endHour: '20:15', state: false },
        { startHour: '20:15', endHour: '21:00', state: false },
        { startHour: '21:00', endHour: '21:45', state: false }
      ]
    }
  },

  computed: {
    ...mapState({
      S_PROFILE: state => state.Profile.S_PROFILES_LIST
    })
  },

  watch: {},
  async created () {
    await this.A_GET_PROFILE()
    this.setterAvailables()
    if (this.S_PROFILE.Agenda.imageDni) {
      const splitUrl = this.S_PROFILE.Agenda.imageDni.split('/')
      this.imageDni = splitUrl[splitUrl.length - 1]
    }
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_LOGOUT: 'Auth/A_LOGOUT',
      A_GET_PROFILE: 'Profile/A_GET_PROFILE'
    }),
    logoutAuth () {
      this.A_LOGOUT()
      this.$router.push({ name: 'LoginForm' })
    },
    setterAvailables () {
      this.workDays.forEach(day => {
        let newHours = []
        let state = true
        if (this.S_PROFILE.Availabilities && this.S_PROFILE.Availabilities.length > 0) {
          this.S_PROFILE.Availabilities.forEach(available => {
            if (day.value === Number(available.day)) {
              this.hours.forEach((hour, i) => {
                let state = false
                if (available.start_hour === `${hour.startHour}:00`) {
                  state = true
                }
                newHours.push({
                  startHour: hour.startHour,
                  endHour: hour.endHour,
                  state: state
                })
              })
              state = false
            }
          })
        }
        if (state) {
          newHours = this.hours
        }
        this.available.push({
          day: day.value,
          dayShort: day.short,
          hours: newHours
        })
      })
    },
    onSubmit () {
      console.log(this.data)
    },
    changeSpeciality (value) {
      this.data.specialities[value] = !this.data.specialities[value]
    },
    addEducation () {
      this.data.educations.push(
        {
          grade: '',
          institution: '',
          dateInitial: '',
          dateEnded: '',
          document: ''
        }
      )
    },
    deleteEducation (key) {
      this.data.educations.splice(key, 1)
    },
    previewFiles (e) {
      this.photo = URL.createObjectURL(e.target.files[0])
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
