<template lang='pug'>
  .c-login.ed-grid.m-grid-6
    img(src="@/assets/images/login/logo.svg")
    .m-cols-3.m-x-1.l-cols-4.l-x-1.c-login__banner
      img(src="@/assets/images/login/banner.svg")
    .m-cols-3.m-x-4.l-cols-2.l-x-5.c-login__access
      validation-observer.c-login-form(
        ref="observer"
        v-slot="{ handleSubmit }"
        tag="form"
        @submit.prevent
      )
        .input-group
          input-text(
            icon="user"
            type="text"
            rules="required"
            inputStyle=""
            name="name"
            v-model="data.firstname"
            placeholder="Nombre y Apellidos"
            @enter="handleSubmit(onSubmit)"
          )
          input-text(
            icon="birthday"
            type="date"
            rules="required"
            inputStyle=""
            name="birthday"
            v-model="data.birthday"
            placeholder="Fecha de Nacimiento"
            @enter="handleSubmit(onSubmit)"
          )
          input-text(
            icon="phone"
            type="phone"
            rules="required|integer|max:9"
            inputStyle=""
            name="phone"
            v-model="data.phone"
            placeholder="Celular"
            @enter="handleSubmit(onSubmit)"
          )
          select-input(
            style="height:3rem;margin-bottom:0.3rem;color:#efefef"
            inputStyle="white"
            name="local"
            rules="required"
            v-model="data.local"
            :elements="filters.locals"
            @input="changeCurrentLocal()"
            :placeholder="currentFilters.selects"
          )
          input-text(
            icon="mottivateca"
            type="text"
            rules="required"
            inputStyle=""
            name="programa"
            v-model="data.program"
            placeholder="Programa de Especializacion"
            @enter="handleSubmit(onSubmit)"
          )
        .input-group
          input-text(
            icon="email"
            type="text"
            rules="required"
            inputStyle=""
            name="username"
            v-model="data.email"
            placeholder="email"
            @enter="handleSubmit(onSubmit)"
          )
          input-password(
            icon="lock"
            rules="required"
            inputStyle=""
            name="password"
            v-model="data.password"
            placeholder="Contraseña"
            @enter="handleSubmit(onSubmit)"
          )
        .input-group
          label.e-checkbox
            input(
              type="checkbox",
              v-model="saveAuth"
            )
            span
              i.icon-check

            p Recordar cuenta
        button.e-btn.e-btn--rounded.e-btn--fullwidth(
          v-if="!isLoadingAuth"
          @click="handleSubmit(onSubmit)"
        ) Registrarse
        .e-btn.e-btn--rounded.e-btn--fullwidth.e-btn--loading(
          v-else
        )
          i.icon-loading
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    inputText: () => import('@/components/02-molecule/formElements/default'),
    inputPassword: () => import('@/components/02-molecule/formElements/password'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        firstname: '',
        bithday: '',
        phone: '',
        email: '',
        program: '',
        password: ''
      },
      emailRecover: '',
      username: '',
      name: '',
      birthday: '',
      program: '',
      errorMessage: '',
      password: '',
      local: '',
      saveAuth: false,
      isLoadingAuth: false,
      currentFilters: {
        selects: {
          name: 'Seleccionar Sede',
          value: null
        }
      },
      filters: {
        locals: [
          {
            name: 'Miraflores',
            value: 'Miraflores'
          },
          {
            name: 'La Molina',
            value: 'La Molina'
          },
          {
            name: 'San Isidro',
            value: 'San Isidro'
          }
        ]
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {
  },
  mounted () {},
  updated () {},
  methods: {
    changeCurrentLocal (e) {
      this.currentFilters.selects = e
    },
    ...mapActions({
      A_SET_PROFILE: 'Profile/A_SET_PROFILE'
    }),
    async onSubmit () {
      this.isLoading = true
      try {
        this.data.local = this.local.value
        const profile = await this.A_SET_PROFILE(this.data)
        if (profile) {
          this.isLoading = false
          this.$emit('success', true)
          this.$router.push({ name: 'LoginForm' })
        }
      } catch (error) {
        console.log(error.status)
        this.message = 'Error de registro ' + error.message
        console.error('LOADING CREATE PROFILE', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
