<template lang="pug">
  list-notes(
    :notesData="S_NOTES"
  )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listNotes: () => import('@/components/03-organism/listNotes/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentTab: 0,
      notesData: [
        {
          name: 'Maria Claudia',
          type: 'personal',
          state: 'regular',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Lidiando con la ansiedad',
          type: 'community',
          state: 'medium',
          session: {
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Lidiando con la ansiedad',
          type: 'community',
          state: 'emergency',
          session: {
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Maria Claudia',
          type: 'personal',
          state: 'medium',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        }
      ]
    }
  },

  computed: {
    ...mapState({
      S_NOTES: state => state.Notes.S_NOTES
    })
  },

  watch: {},
  async created () {
    await this.A_GET_NOTES()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_NOTES: 'Notes/A_GET_NOTES'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
