.o-aside-navigation {
  padding-left: 0;
  list-style: none;
  font-size: 1.2rem;
  margin-top: 3rem;

  li {
    padding: 0.5rem 0;
    cursor: pointer;

    a {
      display: block;
      color: $g-text-dark;

      &.active {
        color: $g-primary;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}
