.o-list-sessions {
  padding-top: 1rem;
  padding-bottom: 1rem;
  h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: $g-primary;
  }
  &__filters {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: $g-text-darker;

    p {
      margin-bottom: 0;
      padding: 0.5rem 1rem;
    }
    div:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}
