<template lang="pug">
  validation-observer.c-emotion-room-detail(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  )
    h3 {{room.title}}
    .ed-grid.m-grid-4
      .m-cols-1
        input-text(
          label="Temática de la sala"
          type="text"
          rules="required"
          inputStyle="input-regular--column full"
          name="tematic"
          v-model="tematic"
          placeholder=""
          @enter="handleSubmit(onSubmit)"
        )
        p Reglas
        input-text(
          type="text"
          rules="required"
          inputStyle="input-regular--column full"
          name="rule1"
          v-model="rule1"
          @enter="handleSubmit(onSubmit)"
        )
        input-text(
          type="text"
          rules="required"
          inputStyle="input-regular--column full"
          name="rule2"
          v-model="rule2"
          @enter="handleSubmit(onSubmit)"
        )
        input-text(
          type="text"
          rules="required"
          inputStyle="input-regular--column full"
          name="rule3"
          v-model="rule3"
          @enter="handleSubmit(onSubmit)"
        )
        .c-emotion-room-detail__psychologist
          p Psicólogo 1
          .box
            img( src="@/assets/images/profile.png" )
            .description
              h4 {{ room.psychologist[0] ? room.psychologist[0].name : '--' }}
              span Coach en familia
              .state.error
                span En linea
            i.icon-trash_ico.delete
          p Psicólogo 2
          .box
            img( src="@/assets/images/profile.png" )
            .description
              h4 {{ room.psychologist[1] ? room.psychologist[1].name : '--' }}
              span Coach en familia
              .state.error
                span En linea
            i.icon-trash_ico.delete
          .notification
            span Notificar al usuario
            i.icon-notif_ico
      .m-cols-2
        .c-emotion-room-detail__start
          input-text(
            label="Fecha"
            type="text"
            rules="required"
            inputStyle="input-regular--column full"
            name="date"
            v-model="dateStart"
            placeholder=""
            @enter="handleSubmit(onSubmit)"
          )
          input-text(
            label="Hora"
            type="time"
            rules="required"
            inputStyle="input-regular--column full"
            name="hour"
            v-model="hourStart"
            placeholder=""
            @enter="handleSubmit(onSubmit)"
          )
        .c-emotion-room-detail__legend
          span Lista de inscritos
          ul
            li.cancel Canceló
            li.connect Confirmó
            li.disconnect No contestó
        .c-emotion-room-detail__patients
          patient-start(
            v-for="(participant, key) in room.Participants"
            :key="key"
            :participant="participant"
          )
          .footer
            .e-btn.e-btn--small.e-btn--rounded.e-btn--secondary(
              @click="submitCaseRoom"
            ) Documentar caso
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    patientStart: () => import('@/components/02-molecule/emotionRoomTable/patientStart')
  },
  props: {
    // propierty: { required: false, type: String },
    room: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      tematic: '',
      dateStart: '',
      hourStart: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {
    this.tematic = this.room.Thematic.name
    this.rules = this.room.rules.split('- ')
    this.rule1 = this.rules[0]
    this.rule2 = this.rules[1]
    this.rule3 = this.rules[2]
    this.dateStart = this.$moment(this.room.start, 'YYYY-MM-DD').format('DD/MM/YYYY')
    this.hourStart = this.$moment(this.room.start, 'hh:mm:ss').format('HH:mm')
  },
  mounted () {},
  updated () {},
  methods: {
    handleSubmit () {
      console.log('send')
    },
    ...mapActions({
      A_POST_CASE_SESSION: 'Sessions/A_POST_CASE_SESSION'
    }),
    async submitCaseRoom () {
      const data = {
        idSession: this.room.id,
        idRoom: this.room.id,
        theme: this.room.Thematic.name,
        date: this.room.start,
        psychologist1: this.room.psychologist[0] ? this.room.psychologist[0].id : null,
        psychologist2: this.room.psychologist[1] ? this.room.psychologist[1].id : null
      }
      console.log(data)
      await this.A_POST_CASE_SESSION(data)
      this.$emit('caseRoomSubmited', data)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
