$g-primary: #236192;
$g-secondary: #236192;

$g-text-lighter: #ffffff;
$g-text-light: #aeb8c7;

$g-text-dark: #7d7d7d;
$g-text-darker: #404040;

$g-link-color: #3284ef;

$g-light: #ffffff;

$g-body: linear-gradient(to bottom, #040411, #040411 142%);

$g-error: #ef476f;
$g-success: #5bd76f;
$g-warning: #f1c40e;
