.c-breadcrumb {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  color: $g-primary;
  font-weight: 600;

  i {
    display: flex;
    align-items: center;
  }
  a {
    cursor: pointer;

    &:first-child {
      &:hover {
        text-decoration: none;
      }
    }
  }
  li {
    font-size: 1.1rem;
    &:not(:first-child) {
      padding: 0 1.5rem;
    }
  }
}
