.c-card-notification {
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  > i {
    flex-shrink: 0;
    font-size: 2rem;
    background-color: #ff6d3f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 1rem;
    width: 4.5rem;
    height: 4.5rem;
  }

  &__body {
    width: 100%;
    p {
      color: $g-text-darker;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;

    span {
      margin-right: auto;
    }
  }
  &__btn {
    background-color: $g-primary;
    color: white;
    font-size: 0.9rem;
    padding: 0.1rem 1rem 0.3rem;
    border-radius: 3rem;
    cursor: pointer;
  }
  &__options {
    position: relative;

    > i {
      background-color: white;
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.7rem;
      height: 1.7rem;
      box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
      border-radius: 50%;
      font-size: 1.2rem;
      color: #c4c4c4;
      cursor: pointer;
    }
    ul {
      position: absolute;
      background-color: white;
      display: block;
      list-style: none;
      padding: 0.5rem;
      box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
      border-radius: 0.5rem;
      top: 50%;
      left: 100%;
      transform: translate(1.5rem, -50%);

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: -1rem;
        width: 0;
        height: 0;
        transform: translateY(-50%);
        border-right: 1rem solid white;
        border-top: 0.7rem solid transparent;
        border-bottom: 0.7rem solid transparent;
      }

      li {
        font-size: 0.8rem;
        padding: 0.5rem;
      }
    }
  }
}
