.c-card-benefit {
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  padding: 1rem;
  display: flex;

  &:hover {
    text-decoration: none;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__border {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px dashed white;
    border-radius: 18px;
    color: white;
    overflow: hidden;
  }
  .points {
    display: flex;
    align-items: center;
    padding: .2rem .7rem;
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: white;
    color: $g-secondary;
    line-height: .9;
    border-radius: 50px;

    img {
      max-height: 1.4rem;
      margin-right: .5rem;
      width: auto;
    }
  }
  .award {
    margin-top: 1rem;
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    line-height: .8;
    margin-bottom: 2rem;
    min-height: 55px;
    
    span:first-child {
      margin-right: .5rem;
    }
    &.mb {
      span:last-child {
        display: block;
        font-size: 1.5rem;
        margin-top: .4rem;
        font-weight: 500;
        letter-spacing: .6px;
      }
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    background-color: rgba(#3F3F3F,.5);
    padding: .5rem 1rem;
    position: relative;

    p {
      margin-bottom: 0;
    }
    img {
      position: absolute;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      right: .5rem;
      top: -1rem;
    }
  }
}