.c-card-training {
  position: relative;
  display: block;
  margin: 0.5rem 0;
  color: white;
  overflow: hidden;
  border-radius: 1rem;

  &__badge,
  &__body {
    position: absolute;
  }
  img {
    display: block;
  }
  a {
    color: white;
    text-decoration: none;
  }
  &__badge {
    top: 0.5rem;
    left: 0.5rem;
    color: $g-secondary;
    background-color: white;
    font-size: 0.85rem;
    padding: 0.1em 0.5em 0.2em;
    display: flex;
    align-items: center;
    border-radius: 2rem;

    i {
      display: flex;
      align-items: center;
      margin-right: 0.3rem;
    }
  }
  &__favorite {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
    z-index: 10;
    cursor: pointer;

    i {
      display: flex;
      font-size: 1.2rem;
      color: #c4c4c4;
    }
    &.active {
      animation-name: bounceClick;
      animation-duration: 1s;

      i {
        color: $g-error;
      }

      @keyframes bounceClick {
        0% {
          transform: scale(1);
        }
        15% {
          transform: scale(1.1);
        }
        30% {
          transform: scale(1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
  &__body {
    bottom: 0;
    left: 0;
    width: 100%;

    div {
      position: relative;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(#030303, 0.3);
      }
      p,
      i {
        position: relative;
        z-index: 2;
      }
      i {
        font-size: 1.5rem;
        display: flex;
        cursor: pointer;
      }
      p {
        display: flex;
        align-items: center;
        height: 45px;
        margin-bottom: 0;
        width: 60%;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        filter: blur(4px);
      }
    }
  }
}
