.c-case {
  &__options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;

    .e-btn {
      margin: 0 .5rem;
    }
  }
  &__more {
    display: block;
    color: #7D7D7D;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;

    &--only {
      margin-bottom: 4rem;
    }
  }
}