.c-emotion-room-detail {
  padding: 1rem 0;
  h3 {
    color: $g-secondary;
    font-size: 2rem;
    font-weight: 600;
  }
  &__psychologist {
    margin-top: 1rem;

    p {
      margin-bottom: 1rem;
    }

    .box {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      padding: 1rem .5rem;
      border-radius: 16px;
      box-shadow: 1px 1px 15px 1px rgba(30, 6, 75, 0.15);
      margin-bottom: 1rem;

      img {
        width: 25%;
      }
      h4 {
        font-weight: 400;
        font-size: 1.1rem;
        margin-bottom: .2rem;
      }
      i {
        position: absolute;
      }
      .description {
        margin-left: .5rem;
      }
      .contact {
        bottom: .5rem;
        right: .5rem;
        background-color: $g-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        color: white;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;

        &::before {
          transform:rotateZ(130deg);
        }
      }
      .delete {
        right: .5rem;
        top: .5rem;
        background-color: $g-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        color: white;
        border-radius: 50%;
        font-size: .7rem;
        cursor: pointer;
      }
      
      .state {
        display: flex;
        align-items: center;
        margin-top: .7rem;

        &:before {
          content: "";
          display: block;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          margin-right: 0.5rem;
          background-color: $g-secondary;
        }
        &.connect:before {
          background-color: #5bd76f;
        }
        &.warning:before {
          background-color: #ffbe40;
        }
        &.error:before {
          background-color: #ff5656;
        }
      }
    }
    .notification {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;

      i {
        background-color: $g-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        color: white;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
        margin-top: .5rem;
      }
    }
  }
  &__start {
    display: flex;

    > div {
      max-width: 150px;
      margin-right: 2rem;
    }
  }
  &__legend {
    margin-top: 2rem;
    display: flex;

    ul {
      display: flex;
      padding-left: 2rem;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        padding-left: 1.5rem;

        &:before {
          content: "";
          display: block;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          margin-right: 0.5rem;
          background-color: $g-secondary;
        }
        &.connect:before {
          background-color: #5bd76f;
        }
        &.disconnect:before {
          background-color: #7D7D7D;
        }
        &.cancel:before {
          background-color: #ff5656;
        }
      }
    }
  }
  &__patients {
    display: flex;
    flex-wrap: wrap;

    .footer {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 2rem 0 1rem;
    }

    .patients-contact {
      display: flex;
      align-items: center;
      position: relative;
      width: 50%;
      margin: .5rem 0;

      > i {
        display: flex;
        color: white;
        height: 2rem;
        width: 2rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-left: .5rem;
        background-color: $g-secondary;

        &:before {
          transform: rotateZ(130deg);
        }
      }
      .label {
        background-color: #efefef;
        display: flex;
        align-items: center;
        border-radius: 4px;
        width: 10rem;
        padding: 0.3rem 0.7rem;
        cursor: pointer;

        &:before {
          content: "";
          display: block;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          margin-right: 0.5rem;
          background-color: $g-secondary;
        }
        &.connect:before {
          background-color: #5bd76f;
        }
        &.disconnect:before {
          background-color: #7D7D7D;
        }
        &.cancel:before {
          background-color: #ff5656;
        }
        i {
          margin-left: auto;
        }
      }
      ul {
        position: absolute;
        top: calc(100% + .5rem);
        background-color: white;
        box-shadow: 0 0 15px 1px rgba(30, 6, 75, 0.15);
        width: 10rem;
        border-radius: 6px;
        padding: 0;
        list-style: none;
        overflow: hidden;
        display: none;

        &.active {
          display: block;
        }

        li {
          padding: .5rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: all .3s;

          &:before {
            content: "";
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            margin-right: 0.5rem;
            background-color: $g-secondary;
          }
          &.connect:before {
            background-color: #5bd76f;
          }
          &.disconnect:before {
            background-color: #7D7D7D;
          }
          &.cancel:before {
            background-color: #ff5656;
          }

          &:hover {
            background-color: #efefef;
          }
        }
      }
    }
  }
}