.c-gubernamental {
  padding: 1rem;
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .data {
    background-color: #002D50;
    color: white;
    width: 300px;
    border-radius: .7rem;
    overflow: hidden;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem 1rem;
      font-size: 1.3rem;

      i {
        font-size: 3.5rem;
        opacity: .1;
      }
    }
    .description {
      background-color: rgba(#000000, .2);
      padding: .5rem;
      text-align: center;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
          display: flex;
          align-items: center;
          margin-left: .5rem;
        }
      }
    }
  }
  .info {
    color: $g-secondary;
    font-size: 2.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;

    span {
      font-size: 1.3rem;
      font-weight: 400;
      margin-left: .7rem;
    }
  }
  .body {
    margin-top: 2rem;
    .ed-grid {
      max-width: 100%;
    }
  }
  &__toggle {
    display: flex;
    align-items: center;
    color: $g-primary;

    span {
      font-weight: 500;
      margin-right: .5rem;
    }
    .input {
      display: flex;
      height: 1.8rem;
      width: 3.6rem;
      background-color: #C4C4C4;
      position: relative;
      transition: all .3s;
      cursor: pointer;
      border-radius: 3rem;

      span {
        position: absolute;
        top: .2rem;
        left: .2rem;
        width: 1.4rem;
        height: 1.4rem;
        background-color: white;
        margin-right: 0;
        transition: all .3s;
        border-radius: 50%;
      } 
    }
    input {
      display: none;
      
      &:checked + .input {
        background-color: $g-primary;
      }
      &:checked + .input span {
        left: 2rem;
      }
    }
  }
  &__trash {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;

    &:before {
      transform: translateY(2px);
    }
  }
  &__link {
    font-weight: 500;
    color: $g-secondary;
    text-decoration: underline;
  }
  &__program {
    i {
      display: flex;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;
      border-radius: 50%;

      &.error {
        background-color: #FF5656;
      }
      &.progress {
        color: #FFBE40;
      }
      &.complete {
        color: #5BD76F;
      }
    }
  }
  .total {
    text-align: right;
    margin-bottom: 0;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    font-size: 2rem;

    span {
      margin-right: .5rem;
      color: $g-secondary;
    }
    p {
      margin-bottom: 0;
      margin-left: .5rem;
      font-size: 1.2rem;
    }
  }
}