.c-header {
  position: relative;
  background-color: #D2EFF7;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;

    @include from(m) {
      height: 400px;
    }
    @include from(lg) {
      height: 500px;
    }
  }
  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      a {
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__item {
    display: block;
    margin: 0 1rem;
    text-align: center;
    color: #006AB6;
    font-weight: 600;
    font-size: 1.2rem;

    &.active,
    &:hover {
      .c-header__icon {
        background-color: #FF3337;
        color: white;
      }
    }
  }
  &__icon {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #006AB6;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 1rem;
    transition: all 0.3s;

    i {
      display: flex;
    }
  }
}
