.c-history {
  padding: 1.5rem 1rem;

  &__options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .c-search {
      margin-right: 1rem;
    }
    .e-btn, .c-select {
      margin-right: 1rem;
    }
  }
  &__filters {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    
    .e-btn--icon {
      min-height: 33px;
      padding-top: 0;
      padding-bottom: 0;
    }
    i:last-child {
      margin-right: 0;
    }
  }
  &__legend {
    max-width: 320px;

    ul {
      li {
        &:before {
          content: "";
          display: flex;
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
          margin-right: 0.5rem;
          background-color: white;
        }
      }
      &.primary {
        li {
          &:before {
            width: 1.3rem;
            height: 1.3rem;
          }
          &.error:before {
            box-shadow: 0 0 0 0.35rem #ff5656 inset;
          }
          &.start:before {
            background-color: #5bd76f;
          }
          &.connect:before {
            box-shadow: 0 0 0 0.35rem #5bd76f inset;
          }
          &.soon:before {
            box-shadow: 0 0 0 0.35rem #ffbe40 inset;
          }
          &.regular:before {
            box-shadow: 0 0 0 0.35rem #c4c4c4 inset;
          }
        }
      }
      &.secondary {
        margin-bottom: 0;

        li {
          &:nth-child(1):before {
            background-color: #5bd76f;
          }
          &:nth-child(2):before {
            background-color: #ffbe40;
          }
          &:nth-child(3):before {
            background-color: #ff5656;
          }
        }
      }
    }
  }
  .m-cols-5 {
    padding-top: 3rem;
  }
}
