.c-legend {
  border-radius: 12px;
  padding: 1rem;
  position: relative;
  box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
  overflow: hidden;
  max-width: 550px;
  margin-left: auto;

  &:after {
    content: "";
    display: block;
    width: 15px;
    height: 100%;
    background-color: $g-secondary;
    position: absolute;
    top: 0%;
    left: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;

    &:first-child {
      margin-bottom: 1rem;
    }
    li {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
    }
  }
}
