.c-managers {
  &__select {
    display: flex;
    align-items: center;

    > span {
      margin-right: 1rem;
      color: $g-secondary;
    }
  }
  &__title {
    display: flex;
    align-items: center;

    h2 {
      margin-bottom: 0;
      margin-left: 1rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: $g-secondary;
    }
  }
}