.c-mottivateca {
  padding: 1.5rem 1rem;

  &__options {
    display: flex;
    align-items: center;
    .e-btn {
      margin-right: 1rem;
    }
    .c-select {
      margin-right: 1rem;
    }
    .e-btn--icon-reverse {
      i {
        color: #C4C4C4;
      }
    }
  }
  &__list {
    padding-top: 1rem;
  }
  &__search {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .e-btn {
      margin-left: 1rem;
    }
  }
}