.c-protocols-detail {
    h4 {
      font-size: 1.1rem;
      font-weight: 500;
    }
    h4, p {
      color: #7D7D7D;
    }
    &__date {
      display: flex;
      align-items: center;
  
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7D7D7D;
        color: white;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: .5rem;
  
        &:before {
          transform: translateY(2px)
        }
      }
    }
    &__profile {
      display: flex;
      
      .column {
        margin-right: 2rem;
      }
    }
    &__title {
        display: flex;
        background-color: #006AB6;
        width: 50rem;
        margin-left: 3rem;
        margin-top: 1rem;
        color: #fff;
        padding-left: 15rem;
        border-radius: 0 1rem 0 0;
        
      }
  }