.c-room {
  padding: 6rem 0 2rem;

  .m-cols-4, .m-cols-2 {
    margin-bottom: 1.5rem;
  }

  &__call {
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    border-radius: .75rem;

    .e-btn {
      margin-top: auto;
    }
  }
  &__list {
    background-color: white;
    border-radius: .75rem;
    overflow: hidden;

    .header {
      background-color: $g-primary;
      color: white;
      padding: .7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin-bottom: 0;
        font-size: 1.1rem;
        padding-right: 2rem;
      }
      .calendar {
        background-color: white;
        color: $g-text-dark;
        display: flex;
        flex-direction: column;
        font-size: .7rem;
        line-height: 1;
        padding: .2rem .4rem;
        text-align: center;
        border-radius: .5rem;

        span:nth-child(2) {
          color: $g-text-darker;
          font-size: 1.2rem;
          margin-bottom: .1rem;
          font-weight: 600;
        }
      }
    }
    .chatWrap {
      background-color: #EFEFEF;
    }
    .states {
      list-style: none;
      background-color: #EFEFEF;
      font-weight: 300;
      color: $g-text-darker;
      font-size: .9rem;
      display: flex;
      justify-content: space-evenly;
      padding: .5rem;
      margin-bottom: 0;

      li {
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          width: .5rem;
          height: .5rem;
          background-color: $g-primary;
          border-radius: 50%;
          margin-right: .5rem;
        }
        &.connect {
          &:before {
            background-color: #5BD76F;
          }
        }
        &.warning {
          &:before {
            background-color: #FFBE40;
          }
        }
        &.error {
          &:before {
            background-color: #FF5656;
          }
        }
      }
    }
    .body {
      padding: .7rem .7rem .7rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .list-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        width: 100%;

        span {
          font-weight: 600;
        }
        i {
          color: $g-text-light;
          cursor: pointer;
        }
      }
      .users {
        padding-left: 0;
        list-style: none;
        width: 100%;
        margin-bottom: 0;

        li {
          display: flex;
          margin-bottom: 1rem;
          
          span:first-child {
            width: .8rem;
          }
          span:nth-child(2) {
            margin-right: auto;

            &:before {
              content: '';
              display: inline-block;
              width: .5rem;
              height: .5rem;
              background-color: $g-primary;
              border-radius: 50%;
              margin-right: .5rem;
              margin-left: .5rem;
            }
            &.connect {
              &:before {
                background-color: #5BD76F;
              }
            }
            &.warning {
              &:before {
                background-color: #FFBE40;
              }
            }
            &.error {
              &:before {
                background-color: #FF5656;
              }
            }
          }
          i {
            margin-left: .5rem;
            color: $g-text-light;
            display: block;
            cursor: pointer;

            &.disconect {
              position: relative;

              &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2px;
                height: 100%;
                background-color: red;
                transform: translate(-50%,-50%) rotateZ(45deg);
              }
            }
          }
        }
      }
    }
  }
  &__me {
    background-color: black;
    border-radius: .75rem;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    position: relative;
    overflow: hidden;

    .camera {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      
      video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .e-btn--icon {
      margin: 0 .5rem;
      font-size: 1.1rem;
      position: relative;
    }
  }
  &__notes {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    position: relative;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
    border-radius: .75rem;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 3rem;
      background-color: $g-primary;
    }
    .body {
      padding: 1rem;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;

      .priority {
        width: 35%;

        p {
          font-size: .95rem;
          font-weight: 500;
          color: $g-primary;
          margin-bottom: .5rem;
        }
        ul {
          padding-left: 0;
          list-style: none;
          margin-bottom: 0;

          li {
            font-size: .85rem;
            display: flex;
            align-items: center;
            padding: .2rem 0;

            i {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 1.05rem;
              height: 1.05rem;
              border: 1px solid #1E064B;
              border-radius: 4px;
              font-size: .7rem;
              color: transparent;
              margin-right: .5rem;
              cursor: pointer;
              transition: all .2s;

              &.active {
                background-color: #FFBE40;
                color: white;
                border: 1px solid #FFBE40;
              }
            }
          }
        }
      }
      .message {
        width: 65%;
        position: relative;

        textarea {
          background-color: #EFEFEF;
          width: 100%;
          border-radius: 12px;
          height: 12rem;
          padding: .5rem .5rem 2rem;
          color: $g-text-dark;
          overflow: hidden;
        }
        .tag {
          position: absolute;
          bottom: .5rem;
          left: .5rem;
          font-size: .8rem;
          border: 1px solid $g-text-dark;
          padding: .2rem 1rem;
          border-radius: 3rem;

          &.normal {
            border-color: #FFBE40;
            color: #FFBE40;
          }
          &.regular {
            border-color: #ff6d3f;
            color: #ff6d3f;
          }
          &.emergency {
            border-color: #ff5656;
            color: #ff5656;
          }
        }
        .e-btn--icon {
          position: absolute;
          bottom: .5rem;
          right: .5rem;
        }
      }
    }
  }
  #video-call {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    max-height: 405px;
    margin-bottom: 12px;
    
    div {
      width: 25%;
      color: white;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: .5rem;
      position: relative;

      video {
        height: 10rem;
        width: 100%;
        object-fit: cover;
        margin-bottom: .5rem;
        border-radius: .2rem;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50px;
      }

      span {
        text-overflow: ellipsis;
        width: calc(90%);
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
      }

      .hidden{
        opacity: 0;
      }
    }
  }
  .e-btn--icon {
    background-color: $g-primary;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 37px;
    cursor: pointer;

    i {
      margin: 0;
      display: flex;
    }
  }
}