.c-tabs {
  width: 100%;

  &__item {
    margin: 1rem 0;

    &.active {
      .c-tabs__title {
        background-color: $g-primary;
        color: white;

        i {
          transform: rotateX(180deg);
        }
      }
      .c-tabs__body {
        opacity: 0;
        display: block;
        height: auto;

        animation-name: tabAnimation;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        @keyframes tabAnimation {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
  &__title {
    background-color: white;
    padding: 1.5rem 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 1px rgba(30, 6, 75, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $g-text-darker;
    cursor: pointer;
    transition: all 0.3s;

    h3 {
      font-weight: 500;
      width: 90%;
      margin: 0;
    }
    i {
      display: block;
      font-size: 1.5rem;
      transition: all 0.3s;
    }
  }
  &__body {
    margin-top: 1rem;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 1px rgba(30, 6, 75, 0.1);
    display: none;
    opacity: 0;
    transition: all 0.3s;
    height: 0;
    overflow: hidden;

    p {
      margin-bottom: 0;
    }
  }
}
