.motive-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  font-size: .6rem;
  color: white;
  background-color: white;
  box-shadow: 0 0 0 2px $g-secondary inset;
  border-radius: .2rem;
  margin: 0 .3rem;
  margin-top: 0.3rem;
  cursor: pointer;

  &.active {
    background-color: $g-secondary;
    color: white;
  }
}
.c-therapy {
  padding: 6rem 0 2rem;
  &__question_s3_1
  {
    border: .30rem solid #FFBE40;
    border-radius: .57rem;
    padding: 1rem;
    background-color: white;
  }
  &__question_s3_2
  {
    border: .30rem solid #48A4AE;
    border-radius: .57rem;
    padding: 1rem;
    background-color: white;
  }
  &__question_s3_3
  {
    border: .30rem solid #5BD76F;
    border-radius: .57rem;
    padding: 1rem;
    background-color: white;
  }
  &__question_s4_1
  {
    border: .30rem solid #FF6D3F;
    border-radius: .57rem;
    padding: 1rem;
    background-color: white;
  }
  &__question_s4_2
  {
    border: .30rem solid #FF6D3F;
    border-radius: .57rem;
    padding: 1rem;
    background-color: white;
  }
  &__question_s4_3
  {
    border: .30rem solid #FF6D3F;
    border-radius: .57rem;
    padding: 1rem;
    background-color: white;
  }
  &__camera {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: .5rem;
    border-radius: .75rem;
    min-height: 20rem;
    margin-bottom: 1rem;

    .e-btn {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
    .user {
      position: relative;

      img {
        width: 96px;
        height: 96px;
        object-fit: cover;
        border-radius: 50%;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $g-text-dark;
      }
      &.connect {
        &:before {
          background-color: #5BD76F;
        }
      }
      &.warning {
        &:before {
          background-color: #FFBE40;
        }
      }
      &.error {
        &:before {
          background-color: #FF5656;
        }
      }
    }
  }
  &__notes {
    background-color: white;
    border-radius: .75rem;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
    overflow: hidden;
    margin-bottom: 1rem;

    .header {
      background-color: $g-secondary;
      padding: .5rem;
      display: flex;
      justify-content: space-between;

      ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        display: flex;

        li {
          background-color: #0D7CCC;
          border-radius: .5rem;
          height: 2rem;
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin-left: .5rem;

          &.active {
            background-color: white;
            color: $g-secondary;
          }
        }
      }
    }
    .body {
      display: flex;
      padding: 1rem;

      .message {
        width: 65%;
        position: relative;

        textarea {
          background-color: #EFEFEF;
          width: 100%;
          border-radius: 12px;
          height: 12rem;
          padding: .5rem .5rem 2rem;
          color: $g-text-dark;
          overflow: hidden;
        }
        .tag {
          position: absolute;
          bottom: .5rem;
          left: .5rem;
          font-size: .8rem;
          border: 1px solid $g-text-dark;
          padding: .2rem 1rem;
          border-radius: 3rem;

          &.normal {
            border-color: #FFBE40;
            color: #FFBE40;
          }
          &.regular {
            border-color: #ff6d3f;
            color: #ff6d3f;
          }
          &.emergency {
            border-color: #ff5656;
            color: #ff5656;
          }
        }
        .e-btn--icon {
          position: absolute;
          bottom: .5rem;
          right: .5rem;
        }
      }
      .data {
        width: 35%;
        display: flex;
        flex-direction: column;

        ul {
          padding-left: 0;
          list-style: none;
          margin-bottom: 0;

          li {
            font-size: .85rem;
            display: flex;
            align-items: center;
            padding: .2rem 0;

            i {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 1.05rem;
              height: 1.05rem;
              border: 1px solid #1E064B;
              border-radius: 4px;
              font-size: .7rem;
              color: transparent;
              margin-right: .5rem;
              cursor: pointer;
              transition: all .2s;

              &.active {
                background-color: #FFBE40;
                color: white;
                border: 1px solid #FFBE40;
              }
            }
          }
        }
        span {
          color: $g-secondary;
        }
        .priority {
          margin-top: auto;

          p {
            margin-bottom: .5rem;
            font-size: .9rem;
            color: $g-secondary;
          }
        }
      }
    }
  }
  &__indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    .index {
      background-color: $g-secondary;
      color: white;
      width: 5rem;
      border-radius: .75rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      padding: .5rem;
      
      span:last-child {
        font-size: 2rem;
        font-weight: 500;
      }
    }
    .points {
      width: calc(100% - 6rem);
    }
    .list {
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;
      display: flex;
      justify-content: space-between;

      li {
        background-color: white;
        width: 12%;
        padding: .2rem .2rem .3rem;
        border-radius: .5rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 700;
        opacity: .5;
        box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);

        &.active {
          background-color: $g-secondary;
          color: white;
          opacity: 1;
        }
      }
    }
    .options {
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;
      background-color: white;
      border-radius: .5rem;
      padding: .5rem;
      box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
      margin-top: .5rem;
      display: flex;
      justify-content: space-between;

      li {
        box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
        border-radius: .5rem;
        width: 14%;
        text-align: center;
        font-weight: 700;
        padding: .5rem;
        color: $g-secondary;
        cursor: pointer;

        &.active {
          color: white;
          background-color: $g-secondary;
        }
      }
    }
  }
  &__indicator_s3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    .index {
      background-color: $g-secondary;
      color: white;
      width: 5rem;
      border-radius: .75rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      padding: .5rem;
      
      span:last-child {
        font-size: 2rem;
        font-weight: 500;
      }
    }
    .points {
      width: calc(100% - 6rem);
    }
    .list {
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;
      display: flex;
      justify-content: space-between;

      li {
        background-color: white;
        width: 12%;
        padding: .2rem .2rem .3rem;
        border-radius: .5rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 700;
        opacity: .5;
        box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);

        &.active {
          background-color: $g-secondary;
          color: white;
          opacity: 1;
        }
      }
    }
    .options {
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;
      background-color: transparent;
      border-radius: .5rem;
      padding: .5rem;
      margin-top: .5rem;
      display: flex;
      justify-content: space-between;
      width:38rem;

      li {
        box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
        border-radius: .5rem;
        width: 30%;
        text-align: center;
        font-weight: 700;
        padding: .5rem;
        color: $g-secondary;
        cursor: pointer;
        background-color: white;

        &.active-1 {
          color: white;
          background-color: #FFBE40;
        }
        &.active-2 {
          color: white;
          background-color: #48A4AE;
        }
        &.active-3 {
          color: white;
          background-color: #5BD76F;
        }
      }
    }
  }
  &__indicator_s4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    .index {
      background-color: $g-secondary;
      color: white;
      width: 5rem;
      border-radius: .75rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      padding: .5rem;
      
      span:last-child {
        font-size: 2rem;
        font-weight: 500;
      }
    }
    .points {
      width: calc(100% - 6rem);
    }
    .list {
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;
      display: flex;
      justify-content: space-between;

      li {
        background-color: white;
        width: 12%;
        padding: .2rem .2rem .3rem;
        border-radius: .5rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 700;
        opacity: .5;
        box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);

        &.active {
          background-color: $g-secondary;
          color: white;
          opacity: 1;
        }
      }
    }
    .options {
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;
      background-color: transparent;
      border-radius: .5rem;
      padding: .5rem;
      margin-top: .5rem;
      display: flex;
      justify-content: space-between;
      width:38rem;

      li {
        box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
        border-radius: .5rem;
        width: 30%;
        text-align: center;
        font-weight: 700;
        padding: .5rem;
        color: $g-secondary;
        cursor: pointer;
        background-color: white;

        &.active-1 {
          color: white;
          background-color: #FF6D3F;
        }
        &.active-2 {
          color: white;
          background-color: #FF6D3F;
        }
        &.active-3 {
          color: white;
          background-color: #FF6D3F;
        }
      }
    }
  }
  &__alert {
    background-color: white;
    border-radius: .57rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
    
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      color: white;
      background-color: $g-error;
      border-radius: 50%;
      margin-right: .7rem;
    }
    p {
      margin-bottom: 0;
      font-weight: 300;
      font-size: .95rem;
    }
  }
  &__section {
    background-color: white;
    border-radius: .57rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
    font-weight: 300;

    p {
      margin-bottom: .5rem;
      font-size: .95rem;
    }
    h3 {
      font-size: 1rem;
      font-weight: 500;
    }
    .ed-grid {
      > div {
        padding: .5rem 0;
        display: flex;
        align-items: center;

        i {
          display: flex;
          margin-right: .5rem;
        }
        b {
          font-size: 1.3rem;
          margin-left: .5rem;
          font-weight: 600;
        }
      }
    }
    &.tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $g-text-darker;
      font-weight: 400;
      background-color:#FFFFFF;
    }
    .points {
      input {
        text-align: center;
        width: 4rem;
      }
    }
    .legend {
      display: flex;
      margin: 1.5rem 0;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: .5rem;

        li {
          margin: .2rem 0;
        }
      }
    }
    &.ending-section {
      .input-regular {
        margin: .5rem 0;

        label {
          margin-bottom: .5rem;
        }
      }
    }
    &.ending-program {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ending-hours {
        width: 100%;
        display: flex;
        gap: .5rem;
        grid-auto-rows: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(3.5rem, 1fr));
        padding: .5rem;
        overflow-x: auto;
        
        .hour {
          border: 1px solid $g-primary;
          border-radius: .5rem;
          color: $g-secondary;
          padding: .25rem;
          cursor: pointer;
          &.active {
            background-color: $g-primary;
            color: $g-light;
          }
          &[disabled] {
            border: 1px solid $g-text-light;
            background-color: $g-text-light;
            color: $g-text-darker;
          }
        }
      }
      .ending-checks {
        margin: 1.5rem 0;
      }
    }
    &.completed {
      background-color: $g-sucess;
      color: $g-light;
    }
  }
  &__section_s3 {
    background-color: transparent;
    border-radius: .57rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;

    p {
      background-color: white;
      margin-bottom: .5rem;
      font-size: .95rem;
      border-radius: .57rem;
      padding: 1rem;
    }
    h3 {
      font-size: 1rem;
      font-weight: 500;
    }
    .ed-grid {
      > div {
        padding: .5rem 0;
        display: flex;
        align-items: center;

        i {
          display: flex;
          margin-right: .5rem;
        }
        b {
          font-size: 1.3rem;
          margin-left: .5rem;
          font-weight: 600;
        }
      }
    }
    &.tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $g-text-darker;
      font-weight: 400;
    }
    .points {
      input {
        text-align: center;
        width: 4rem;
      }
    }
    .legend {
      display: flex;
      margin: 1.5rem 0;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: .5rem;

        li {
          margin: .2rem 0;
        }
      }
    }
    &.ending-section {
      .input-regular {
        margin: .5rem 0;

        label {
          margin-bottom: .5rem;
        }
      }
    }
    &.ending-program {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ending-checks {
        margin: 1.5rem 0;
      }
    }
  }
  &__section_s3_1 {
    background-color: transparent;
    border-radius: .57rem;
    margin-bottom: 1rem;
    font-weight: 300;

    p {
      background-color: white;
      margin-bottom: .5rem;
      font-size: .95rem;
      border-radius: .57rem;
      padding: 1rem;
      border: .30rem solid #FFBE40;
    }
    h3 {
      background-color: white;
      margin-bottom: .5rem;
      border-radius: .57rem;
      padding: 1rem;
      margin-top: 1rem;
      border: .30rem solid #FFBE40;
      font-size: 1.1rem;
      font-weight: bold;
    }
    h6 {
      font-size: .9rem;
      font-weight: 400;
    }
    .ed-grid {
      > div {
        padding: .5rem 0;
        display: flex;
        align-items: center;

        i {
          display: flex;
          margin-right: .5rem;
        }
        b {
          font-size: 1.3rem;
          margin-left: .5rem;
          font-weight: 600;
        }
      }
    }
    &.tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $g-text-darker;
      font-weight: 400;
    }
    .points {
      input {
        text-align: center;
        width: 4rem;
      }
    }
    .legend {
      display: flex;
      margin: 1.5rem 0;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: .5rem;

        li {
          margin: .2rem 0;
        }
      }
    }
    &.ending-section {
      .input-regular {
        margin: .5rem 0;

        label {
          margin-bottom: .5rem;
        }
      }
    }
    &.ending-program {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ending-checks {
        margin: 1.5rem 0;
      }
    }
  }
  &__section_s3_2 {
    background-color: transparent;
    border-radius: .57rem;
    margin-bottom: 1rem;
    font-weight: 300;

    p {
      background-color: white;
      margin-bottom: .5rem;
      font-size: .95rem;
      border-radius: .57rem;
      padding: 1rem;
      border: .35rem solid #48A4AE;
    }
    h3 {
      background-color: white;
      margin-bottom: .5rem;
      border-radius: .57rem;
      padding: 1rem;
      margin-top: 1rem;
      border: .30rem solid #48A4AE;
      font-size: 1.1rem;
      font-weight: bold;
    }
    h6 {
      font-size: .9rem;
      font-weight: 400;
    }
    .ed-grid {
      > div {
        padding: .5rem 0;
        display: flex;
        align-items: center;

        i {
          display: flex;
          margin-right: .5rem;
        }
        b {
          font-size: 1.3rem;
          margin-left: .5rem;
          font-weight: 600;
        }
      }
    }
    &.tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $g-text-darker;
      font-weight: 400;
    }
    .points {
      input {
        text-align: center;
        width: 4rem;
      }
    }
    .legend {
      display: flex;
      margin: 1.5rem 0;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: .5rem;

        li {
          margin: .2rem 0;
        }
      }
    }
    &.ending-section {
      .input-regular {
        margin: .5rem 0;

        label {
          margin-bottom: .5rem;
        }
      }
    }
    &.ending-program {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ending-checks {
        margin: 1.5rem 0;
      }
    }
  }
  &__section_s3_3 {
    background-color: transparent;
    border-radius: .57rem;
    margin-bottom: 1rem;
    font-weight: 300;

    p {
      background-color: white;
      margin-bottom: .5rem;
      font-size: .95rem;
      border-radius: .57rem;
      padding: 1rem;
      border: .35rem solid #5BD76F;
    }
    h3 {
      background-color: white;
      margin-bottom: .5rem;
      border-radius: .57rem;
      padding: 1rem;
      margin-top: 1rem;
      border: .30rem solid #5BD76F;
      font-size: 1.1rem;
      font-weight: bold;
    }
    h6 {
      font-size: .9rem;
      font-weight: 400;
    }
    .ed-grid {
      > div {
        padding: .5rem 0;
        display: flex;
        align-items: center;

        i {
          display: flex;
          margin-right: .5rem;
        }
        b {
          font-size: 1.3rem;
          margin-left: .5rem;
          font-weight: 600;
        }
      }
    }
    &.tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $g-text-darker;
      font-weight: 400;
    }
    .points {
      input {
        text-align: center;
        width: 4rem;
      }
    }
    .legend {
      display: flex;
      margin: 1.5rem 0;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: .5rem;

        li {
          margin: .2rem 0;
        }
      }
    }
    &.ending-section {
      .input-regular {
        margin: .5rem 0;

        label {
          margin-bottom: .5rem;
        }
      }
    }
    &.ending-program {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ending-checks {
        margin: 1.5rem 0;
      }
    }
  }
  &__section_s4 {
    background-color: transparent;
    border-radius: .57rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;

    p {
      background-color: white;
      margin-bottom: .5rem;
      font-size: .95rem;
      border-radius: .57rem;
      padding: 1rem;
    }
    h3 {
      font-size: 1rem;
      font-weight: 500;
    }
    .ed-grid {
      > div {
        padding: .5rem 0;
        display: flex;
        align-items: center;

        i {
          display: flex;
          margin-right: .5rem;
        }
        b {
          font-size: 1.3rem;
          margin-left: .5rem;
          font-weight: 600;
        }
      }
    }
    &.tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $g-text-darker;
      font-weight: 400;
    }
    .points {
      input {
        text-align: center;
        width: 4rem;
      }
    }
    .legend {
      display: flex;
      margin: 1.5rem 0;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: .5rem;

        li {
          margin: .2rem 0;
        }
      }
    }
    &.ending-section {
      .input-regular {
        margin: .5rem 0;

        label {
          margin-bottom: .5rem;
        }
      }
    }
    &.ending-program {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ending-checks {
        margin: 1.5rem 0;
      }
    }
  }
  &__section_s4_1 {
    background-color: transparent;
    border-radius: .57rem;
    margin-bottom: 1rem;
    font-weight: 300;

    p {
      background-color: white;
      margin-bottom: .5rem;
      font-size: .95rem;
      border-radius: .57rem;
      padding: 1rem;
      border: .30rem solid #FF6D3F;
    }
    h3 {
      background-color: white;
      margin-bottom: .5rem;
      border-radius: .57rem;
      padding: 1rem;
      margin-top: 1rem;
      border: .30rem solid #FF6D3F;
      font-size: 1.1rem;
      font-weight: bold;
    }
    h6 {
      font-size: .9rem;
      font-weight: 400;
    }
    .ed-grid {
      > div {
        padding: .5rem 0;
        display: flex;
        align-items: center;

        i {
          display: flex;
          margin-right: .5rem;
        }
        b {
          font-size: 1.3rem;
          margin-left: .5rem;
          font-weight: 600;
        }
      }
    }
    &.tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $g-text-darker;
      font-weight: 400;
    }
    .points {
      input {
        text-align: center;
        width: 4rem;
      }
    }
    .legend {
      display: flex;
      margin: 1.5rem 0;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: .5rem;

        li {
          margin: .2rem 0;
        }
      }
    }
    &.ending-section {
      .input-regular {
        margin: .5rem 0;

        label {
          margin-bottom: .5rem;
        }
      }
    }
    &.ending-program {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ending-checks {
        margin: 1.5rem 0;
      }
    }
  }
  &__section_s4_2 {
    background-color: transparent;
    border-radius: .57rem;
    margin-bottom: 1rem;
    font-weight: 300;

    p {
      background-color: white;
      margin-bottom: .5rem;
      font-size: .95rem;
      border-radius: .57rem;
      padding: 1rem;
      border: .35rem solid #FF6D3F;
    }
    h3 {
      background-color: white;
      margin-bottom: .5rem;
      border-radius: .57rem;
      padding: 1rem;
      margin-top: 1rem;
      border: .30rem solid #FF6D3F;
      font-size: 1.1rem;
      font-weight: bold;
    }
    h6 {
      font-size: .9rem;
      font-weight: 400;
    }
    .ed-grid {
      > div {
        padding: .5rem 0;
        display: flex;
        align-items: center;

        i {
          display: flex;
          margin-right: .5rem;
        }
        b {
          font-size: 1.3rem;
          margin-left: .5rem;
          font-weight: 600;
        }
      }
    }
    &.tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $g-text-darker;
      font-weight: 400;
    }
    .points {
      input {
        text-align: center;
        width: 4rem;
      }
    }
    .legend {
      display: flex;
      margin: 1.5rem 0;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: .5rem;

        li {
          margin: .2rem 0;
        }
      }
    }
    &.ending-section {
      .input-regular {
        margin: .5rem 0;

        label {
          margin-bottom: .5rem;
        }
      }
    }
    &.ending-program {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ending-checks {
        margin: 1.5rem 0;
      }
    }
  }
  &__section_s4_3 {
    background-color: transparent;
    border-radius: .57rem;
    margin-bottom: 1rem;
    font-weight: 300;

    p {
      background-color: white;
      margin-bottom: .5rem;
      font-size: .95rem;
      border-radius: .57rem;
      padding: 1rem;
      border: .35rem solid #FF6D3F;
    }
    h3 {
      background-color: white;
      margin-bottom: .5rem;
      border-radius: .57rem;
      padding: 1rem;
      margin-top: 1rem;
      border: .30rem solid #FF6D3F;
      font-size: 1.1rem;
      font-weight: bold;
    }
    h6 {
      font-size: .9rem;
      font-weight: 400;
    }
    .ed-grid {
      > div {
        padding: .5rem 0;
        display: flex;
        align-items: center;

        i {
          display: flex;
          margin-right: .5rem;
        }
        b {
          font-size: 1.3rem;
          margin-left: .5rem;
          font-weight: 600;
        }
      }
    }
    &.tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $g-text-darker;
      font-weight: 400;
    }
    .points {
      input {
        text-align: center;
        width: 4rem;
      }
    }
    .legend {
      display: flex;
      margin: 1.5rem 0;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: .5rem;

        li {
          margin: .2rem 0;
        }
      }
    }
    &.ending-section {
      .input-regular {
        margin: .5rem 0;

        label {
          margin-bottom: .5rem;
        }
      }
    }
    &.ending-program {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ending-checks {
        margin: 1.5rem 0;
      }
    }
  }
  .list-future-sessions {
    .header {
      display: flex;
      align-items: center;
      margin-bottom: .5rem;

      i {
        display: flex;
        margin-right: .5rem;
      }
    }
    .item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      img {
        width: 3rem;
        height: 3rem;
        margin-right: .5rem;
      }
      p {
        font-weight: 500;
        width: calc(100% - 3.5rem);
        color: $g-text-darker;
        font-size: .85rem;
      }
      span {
        color: $g-secondary;
        display: flex;
        width: 100%;
        font-size: .8rem;
        justify-content: flex-end;
        align-items: center;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.2rem;
          height: 1.2rem;
          font-size: .7rem;
          background-color: #E0E0E0;
          border-radius: .3rem;
          margin-left: .5rem;
  
          &:before {
            opacity: 0;
          }
          &.active {
            background-color: $g-secondary;
            color: white;
  
            &::before{
              opacity: 1;
            }
          }
        }
      }
    }
    .date, .alert {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      width: 100%;

      i {
        width: 1.2rem;
        height: 1.2rem;
        background-color: $g-secondary;
        color: white;
        font-size: .7rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: .5rem;

        &.icon-close {
          background-color: $g-text-dark;
          font-size: .5rem;
          width: 1rem;
          height: 1rem;
          margin-left: auto;
          margin-right: 0;
          cursor: pointer;
        }
      }
      span {
        color: $g-text-dark;
        justify-content: flex-start;
      }
    }
  }
  .ending-checks {
    display: flex;
    margin-bottom: 1rem;

    &.column {
      flex-direction: column;
    }

    .item {
      display: flex;
      align-items: center;
      margin-right: 1rem;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.2rem;
        height: 1.2rem;
        font-size: .7rem;
        background-color: #E0E0E0;
        border-radius: .3rem;
        margin-right: .5rem;
        flex-shrink: 0;

        &:before {
          opacity: 0;
        }
        &.active {
          background-color: $g-secondary;
          color: white;

          &::before{
            opacity: 1;
          }
        }
      }
    }
  }
  &__sons {
    justify-content: space-between;
    .input-regular {
      justify-content: flex-start;
      width: auto;
    }
    input {
      width: 3rem;
      text-align: center;
      margin-left: 0;
      font-weight: bold;
      font-size: 1.3rem;
      color: #7d7d7d;
    }
  }
  &__experience {
    &-title {
      background-color:#B7EFED;
      border-radius: .75rem;
      padding: .5rem;
      position: relative;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        i {
          display: block;
        }
      }
      .list {
        position: absolute;
        background-color: #EFEFEF;
        width: 100%;
        top: calc(100% + .5rem);
        left: 0;
        padding: .5rem;
        border-radius: .5rem;
        z-index: 10;
        margin-bottom: 1rem;
        box-shadow: 1px 1px 5px 2px rgba(30, 6, 75, 0.25);

        .item {
          display: flex;
          margin-bottom: .5rem;
          cursor: pointer;

          &:last-child {
            margin-bottom: 0;
          }
          &.active {
            i {
              background-color: #006AB6;
              color: white;
            }
          }
          i {
            display: flex;
            width: 1rem;
            height: 1rem;
            font-size: .5rem;
            justify-content: center;
            align-items: center;
            border: 1px solid #006AB6;
            border-radius: 5px;
            margin-right: .5rem;
            margin-top: .2rem;
            color: transparent;
          }
        }
      }
    }
    &-title_s5 {
      background-color: #B7EFED;
      border-radius: .75rem;
      padding: .5rem;
      position: relative;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        i {
          display: block;
        }
      }
      .list {
        position: absolute;
        background-color: #EFEFEF;
        width: 100%;
        top: calc(100% + .5rem);
        left: 0;
        padding: .5rem;
        border-radius: .5rem;
        z-index: 10;
        margin-bottom: 1rem;
        box-shadow: 1px 1px 5px 2px rgba(30, 6, 75, 0.25);

        .item {
          display: flex;
          margin-bottom: .5rem;
          cursor: pointer;

          &:last-child {
            margin-bottom: 0;
          }
          &.active {
            i {
              background-color: #006AB6;
              color: white;
            }
          }
          i {
            display: flex;
            width: 1rem;
            height: 1rem;
            font-size: .5rem;
            justify-content: center;
            align-items: center;
            border: 1px solid #006AB6;
            border-radius: 5px;
            margin-right: .5rem;
            margin-top: .2rem;
            color: transparent;
          }
        }
      }
    }
    &-body {
      margin-bottom: 1rem;
      
      &:last-child {
        margin-bottom: 0;
      }
      textarea {
        font-weight: 300;
      }
      ol {
        padding-left: 1.7rem;
        margin-bottom: 0;

        li {
          margin: 1rem 0;
        }
      }
      ul {
        list-style: none;
        padding-left: 2rem;
        margin-bottom: 0;

        li {
          p {
            margin: .7rem 0;
          }
        }
      }
    }
  }
  &__create-task {
    a {
      color: $g-secondary;
      text-align: center;
      display: block;
      margin: 3rem 0 2rem;
      text-decoration: underline;
      cursor: pointer;
    }
    p {
      text-align: center;
      font-size: .8rem;
      line-height: 1.1;
    }
    .task-assign {
      border-radius: .7rem;
      padding: .5rem;
      box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);

      .header {
        display: flex;
        align-items: center;
        color: $g-text-darker;
        font-size: .9rem;
        line-height: 1.2;
        margin-bottom: .5rem;

        i {
          margin-right: .5rem;
        }
      }
      p {
        text-align: left;
      }
      .footer {
        margin-top: 1rem;
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        i.icon-edit {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.2rem;
          height: 1.2rem;
          background-color: $g-secondary;
          border-radius: 50%;
          color: white;
          font-size: .6rem;
          cursor: pointer;
        }
        i.icon-check {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.2rem;
          height: 1.2rem;
          font-size: .6rem;
          color: white;
          background-color: white;
          box-shadow: 0 0 0 2px $g-secondary inset;
          border-radius: .2rem;
          margin: 0 .3rem;
          cursor: pointer;

          &.active {
            background-color: $g-secondary;
            color: white;
          }
        }
      }
    }
  }
  &__preview-task {
    p {
      text-align: center;
      margin-top: 2rem;
    }
    img {
      display: block;
      margin: 1rem auto 3rem;
    }
    .task {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
      padding: .8rem;
      border-radius: .7rem;
      text-align: center;

      h4 {
        margin-bottom: .5rem;
        color: $g-text-darker;
        font-weight: 400;
      }
      p {
        margin-top: 0;
      }
      ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        text-align: left;

        li {
          margin: .5rem 0;
          padding: .6rem .5rem;
          background-color: #EFEFEF;
          font-size: .9rem;
          border-radius: .3rem;
        }
      }
      span {
        font-size: .8rem;
        display: block;
        text-align: left;
      }
    }
  }
  &__new-task {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: .5rem;
      margin-top: 1rem;
    }
    a {
      display: inline-block;
      margin: 3rem auto 1rem;
    }
    &--questions {
      padding:1rem 2rem;

      label {
        margin-top: .3rem;
        white-space: pre-wrap;
      }
      .input-regular {
        margin: .5rem 0;
      }
      input[type='number'] {
        width: 5rem;
      }
      .add-question {
        font-size: .9rem;
        color: $g-text-darker;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .select {
    position: relative;
    
    span {
      display: inline-block;
      margin-bottom: .5rem;
    }
    p {
      background-color: #efefef;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .3rem .5rem;
      margin-bottom: 0;
      border-radius: 4px;
      font-size: .9rem;
      cursor: pointer;

      span {
        margin-bottom: 0;
      }

      i {
        display: flex;
      }
    }
    .options {
      list-style: none;
      background-color: #EFEFEF;
      padding-left: 0;
      border-radius: 4px;
      position: absolute;
      width: 100%;
      top: calc(100% + .2rem);
      z-index: 10;
      margin-bottom: 0;
      overflow: hidden;

      li {
        padding: .3rem .5rem;
        font-size: .9rem;
        cursor: pointer;
        color: #404040;

        &:hover {
          background-color: #C4C4C4;
        }
      }
    }
  }
  .e-btn--icon {
    background-color: $g-primary;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 37px;
    cursor: pointer;

    i {
      margin: 0;
      display: flex;
    }
  }
}