<template lang="pug">
  .section
    .c-therapy__section.tab(
      @click="tabTherapy.patient = !tabTherapy.patient"
    )
      span(style="font-weight: bold;color:#333") 1. Ficha de datos del paciente
      i(
        :class="tabTherapy.patient ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.patient"
    )
      .ed-grid.m-grid-5
        .m-cols-2
          input-text(
            icon="profile"
            type="text"
            rules="required"
            inputStyle="input-regular--row full"
            name="name"
            v-model="data.name"
          )
        .m-cols-1
          i.icon-female
          select-input(
            style="boder:none;height:0.7rem;width:8rem;font-size:12px;color:#7D7D7D;background-color:#fff"
            :elements="filters.gender"
            :selected="data.gender"
            inputStyle="row"
            @input="changeCurrentGender()"
            v-model="data.gender"
          )
        .m-cols-2
          input-text(
            icon="personal-card"
            type="text"
            rules="required"
            inputStyle="input-regular--row full"
            name="card"
            v-model="data.card"
          )
        .m-cols-2
          input-text(
            icon="birthday"
            type="text"
            rules="required"
            inputStyle="input-regular--row full"
            name="birthday"
            v-model="data.birthday"
          )
        .m-cols-3
          i.icon-folder
          select-input(
            style="boder:none;height:0.7rem;width:12rem;font-size:12px;color:#7D7D7D;background-color:#fff"
            :elements="filters.ocupation"
            inputStyle="row"
            :selected="item.Patient.ocupation"
            v-model="data.ocupation"
          )
        .m-cols-2
          i.icon-graduate
          select-input(
            style="boder:none;height:0.7rem;width:11rem;font-size:12px;color:#7D7D7D;background-color:#fff"
            :elements="filters.study_nivel"
            inputStyle="row"
            :selected="item.Patient.study_nivel"
            v-model="data.study_nivel"
          )
        .m-cols-1
          i.icon-ring
          select-input(
            style="boder:none;height:0.7rem;width:9rem;font-size:12px;color:#7D7D7D;background-color:#fff"
            :elements="filters.civil_state"
            inputStyle="row"
            :selected="item.Patient.civil_state"
            v-model="data.civil_state"
          )
        .m-cols-5
          i.icon-sons
          select-input(
            style="boder:none;height:0.7rem;width:9rem;font-size:12px;color:#7D7D7D;background-color:#fff"
            :elements="filters.children"
            inputStyle="row"
            name="sons"
            v-model="profile.attribute.children"
            @change="saveProfileAttribute('children');cohabitingsCalc()"
            @input="changeselect"
            :value="profile.attribute.children"
          )
        template(
          v-for="(item, i) in Number(profile.attribute.children)"
        )
          .m-cols-2
            input-text(
              icon="birthday"
              placeholder="Nombre"
              type="text"
              rules="required"
              inputStyle="input-regular--row full icon--transparent"
              name="name"
              v-model="data.son.name"
            )
          .m-cols-2
            input-text(
              type="text"
              placeholder="Edad"
              rules="required"
              inputStyle="input-regular--row full"
              name="age"
              v-model="data.son.age"
            )
        .m-cols-5
          i.icon-family
          span(style="font-weight:bold") Convivientes
        .m-cols-5.c-therapy__sons
          input-text(
            label="Hijos:"
            type="text"
            rules="required"
            inputStyle="input-regular--row"
            name="sons"
            v-model="profile.attribute['children']"
            @change="saveProfileAttribute('children');cohabitingsCalc()"
          )
          input-text(
            label="Padres:"
            type="text"
            rules="required"
            inputStyle="input-regular--row"
            name="parents"
            v-model="profile.attribute['parents']"
            @change="saveProfileAttribute('parents');cohabitingsCalc()"
          )
          input-text(
            label="Hermanos:"
            type="text"
            rules="required"
            inputStyle="input-regular--row"
            name="parents"
            v-model="profile.attribute['brothers']"
            @change="saveProfileAttribute('brothers');cohabitingsCalc()"
          )
          input-text(
            label="Otros:"
            type="text"
            rules="required"
            inputStyle="input-regular--row"
            name="others"
            v-model="profile.attribute['others']"
            @change="saveProfileAttribute('others');cohabitingsCalc()"
          )
          .total
            span TOTAL:
            b {{ profile.cohabiting }}
    .c-therapy__section.tab(
      @click="tabTherapy.presentation = !tabTherapy.presentation"
    )
      span(style="font-weight: bold;color:#333") 2. Presentación de las herramientas de la plataforma virtual
      i(
        :class="tabTherapy.presentation ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.presentation"
    )
      p Nos alegra que hayas decidido inscribirte en Mottiva. Mottiva es una plataforma virtual que tiene el objetivo ofrecer herramientas e información para fortalecer tu bienestar y salud mental. El día de hoy estamos comenzando con la Terapia breve donde trabajaremos temas personales y pensaremos juntos/as estrategias de acción para poder afrontar de mejor manera situaciones que te puedan estar provocando malestar. En Mottiva también tenemos otras herramientas que se complementan y que ayudan a ver de manera integral tu bienestar: el diario de emociones y las salas emocionales. Durante la Terapia breve, haremos uso del diario de emociones. El diario es una herramienta donde podrás grabar o escribir tus reflexiones, emociones, pensamientos a partir de algunas situaciones que te molestan o incomodan. Estas narraciones las iras haciendo en la semana y podremos analizarlas juntos/as en la sesión. Sabemos que hablar o escribir sobre temas que nos aquejan puede ser difícil, pero te alentamos a que lo hagas y te aseguramos que esta información solo será leída o escuchada por ti y por mí. Finalmente contamos con salas emocionales. Son espacios grupales de máximo 8 participantes y facilitados por dos Especialistas de Bienestar donde podrás compartir tus experiencias sobre temas específicos con otros/as usuarios/as. En estas salas emocionales se discutirán temas como: crianza, regulación emocional, entre otros. Te animo a que te inscribas en las salas para que puedas contar con la experiencia completa de Mottiva
    .c-therapy__section.tab(
      @click="tabTherapy.realization = !tabTherapy.realization"
    )
      span(style="font-weight: bold;color:#333") 3. Realización del encuadre del acompañamiento psicológico
      i(
        :class="tabTherapy.realization ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.realization"
    )
      p Para poder aprovechar la Terapia Breve, es importante que hablemos de algunas indicaciones para que sepas cómo funciona:
        | <br><br>- Yo soy el Especialista de Bienestar asignado para ti. Eso quiere decir que esta es nuestra primera reunión y nos juntaremos 5 veces más. Estaré esperándote el mismo día y a la misma hora durante cinco semanas, separando este espacio para ti.
        | <br><br>- Este es un espacio de escucha para ti. Aquí podrás hablarme de lo que necesites conversar y podremos reflexionar juntos/as y desarrollar estrategias que te ayuden a fortalecer tus capacidades y sentirte mejor emocionalmente.
        | <br><br>- Las sesiones son de 30 minutos. Así que es muy importante que te conectes unos minutos antes para poder aprovecharlas. Si vas a llegar tarde, por favor avisa ya que lamentablemente, si pasan los 15 minutos de atraso la sesión estaría perdida. No es posible que la alarguemos ya que otras personas me esperan para también tener su sesión.
        | <br><br>- Si sabes que no podrás llegar, es posible reprogramar si nos avisas con por lo menos 24 horas de anticipación. Se puede hacer una reprogramación durante todo el proceso. Así, si tienes que faltar una sesión, esa semana no tendríamos la sesión y todo correría una semana más. Si ves que ya no va a ser posible que puedas asistir en el horario que hemos coordinado, podemos conversarlo y ver si podemos agendar otro horario de acuerdo a las posibilidades de ambos.
        | <br><br>- Si bien nos juntaremos una vez por semana, para que puedas vivir de manera integral la experiencia Mottiva, es importante que completes las actividades que pedimos entre sesiones o que asistas a las salas emocionales. No pasará nada si no lo haces, pero creemos que puede ayudar a que la experiencia sea completa y puedas vivirla plenamente.
        | <br><br>- Además, como parte de la Terapia Breve, nos gustaría que completemos juntos/as algunas preguntas en la primera y en la última sesión. Ninguna respuesta estará bien o estará mal, puedes responder con completa sinceridad. Estas preguntas nos ayudan a tener información para saber cómo funcionan las terapias en general y hacer ajustes si es necesario.
        | <br><br>- Finalmente, es importante resaltar que todo lo que conversemos en este espacio, quedará en este espacio. Es decir, es confidencial, esto solo se rompería para cuidarte a ti o a otros. Es decir, si tu vida o la de alguien cercano a ti corre peligro.
    .c-therapy__section.tab(
      @click="tabTherapy.experience = !tabTherapy.experience"
    )
      span(style="font-weight: bold;color:#333") 4. Profundizar en experiencia previa en Terapia psicológica
      i(
        :class="tabTherapy.experience ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.experience"
    )
      .c-therapy__experience-title
        .head(
          @click="expectativeSelect = !expectativeSelect"
        )
          span Expectativas del Acompañamiento Terapéutico
          i.icon-down
        .list(
          v-if="expectativeSelect"
        )
          .item(
            v-for="item in optionsExpectative"
            :key="item.id"
            @click="item.state = !item.state"
            :class="item.state ? 'active': ''"
          )
            i.icon-check
            p {{ item.name }}

      .c-therapy__experience-body
        ol
          li(
            v-for="item in optionsExpectative"
            :key="item.id"
            v-if="item.state"
          ) {{ item.name }}
        input-area(
          v-if="optionsExpectative[optionsExpectative.length - 1].state"
          rules="required"
          name="experience"
          v-model="data.experience"
          placeholder="Seleccionar para comenzar a escribir"
        )
      .c-therapy__experience-title
        .head(
          @click="guideState = !guideState"
        )
          span Guia de preguntas (opcional)
          i(
            :class="guideState ? 'icon-up':'icon-down'"
          )
      .c-therapy__experience-body(
        v-if="guideState"
      )
        ul
          li
            p a. ¿Has tenido alguna experiencia con psicólogos/psiquiatras antes?
            input-area(
              name="asdasdaskhdb"
              v-model="session.attributes.therapy_questionGuide_a"
              @change="saveSessionsAttribute('therapy_questionGuide_a')"
            )
          li
            p b. ¿Cómo fue esa experiencia?
            input-area(
              rules="required"
              name="guide-2"
              v-model="session.attributes.therapy_questionGuide_b"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_questionGuide_b')"
            )
          li
            p c. Si fuiste donde algún psiquiatra, ¿Te dijeron algún tipo de diagnóstico? ¿Te indicó alguna medicación?
            input-area(
              rules="required"
              name="guide-3"
              v-model="session.attributes.therapy_questionGuide_c"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_questionGuide_c')"
            )
    .c-therapy__section.tab(
      @click="tabTherapy.aplication = !tabTherapy.aplication"
    )
      span(style="font-weight: bold;color:#333") 5. Aplicación de las escalas de bienestar
      i(
        :class="tabTherapy.aplication ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.aplication"
    )
      h3 Escala de Afectos Positivos y Afectos Negativos
      p 1. Escala de experiencias positivas y negativas
      p ¿Cómo te has estado sintiendo en las últimas cuatro semanas?
      .legend
        span Leyenda:
        ul
          li 1: Muy rara vez o nunca
          li 2: Rara vez
          li 3: Algunas veces
          li 4: Frecuentemente
          li 5: Muy frecuentemente o siempre
      .ed-grid.m-grid-2.points
        .m-cols-1(
          v-for="(item, key) in escale" :key="key"
        )
          p {{item.name}}
          select-input(
            :elements="filters.numbers"
            style="text-align: center;width:5rem;background-color:#EFEFEF;color:#7D7D7D;border-radius:5px;position: absolute;margin-left:8rem;"
            type="number"
            rules="required|max_value:5"
            inputStyle="input-regular--row"
            v-model="session.attributes[`therapy_like_${key}`]"
            @change="saveSessionsAttribute(`therapy_like_${key}`)"
          )
      h3 Escala Subjetiva
      p Si tuvieras que ponerle una puntuación a cómo te sientes actualmente, del 1 al 10 (1 siendo “muy mal” y 10 siendo “muy bien”).
      .ed-grid.m-grid-2.points
        .m-cols-2
          p Sensación de Bienestar Primera sesión
          select-input(
            :elements="filters.numbers2"
            style="text-align: center;width:5rem;background-color:#EFEFEF;color:#7D7D7D;border-radius:5px;position: absolute;margin-left:29rem;"
            type="number"
            rules="required|max_value:10"
            inputStyle="input-regular--row"
            v-model="session.attributes.therapy_wellness"
            @change="saveSessionsAttribute('therapy_wellness')"
          )
        .m-cols-2
          p Expectativas de puntaje luego del proceso
          select-input(
            :elements="filters.numbers2"
            style="text-align: center;width:5rem;background-color:#EFEFEF;color:#7D7D7D;border-radius:5px;position: absolute;margin-left:29rem;"
            type="number"
            rules="required|max_value:10"
            inputStyle="input-regular--row"
            v-model="session.attributes.therapy_hope"
            @change="saveSessionsAttribute('therapy_hope')"
          )
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    item: {
      require: true,
      type: Object
    }
  },

  data () {
    return {
      data: {
        name: `${this.item.Patient.firstname} ${this.item.Patient.lastname}`,
        card: this.item.Patient.dni,
        birthday: `${this.$moment(this.item.Patient.birthday, 'YYYY-MM-DDTHH:mm:ss.SSS').format('DD/MM/YYYY')} | ${this.getAgeFromBirthday(this.item.Patient.birthday)} años`,
        son: {
          name: '',
          age: ''
        },
        experience: ''
      },
      profile: {
        cohabiting: 0,
        attribute: []
      },
      filters: {
        gender: [
          {
            name: 'Mujer',
            value: '1'
          },
          {
            name: 'Hombre',
            value: '2'
          }
        ],
        ocupation: [
          {
            name: 'Trabajo independiente',
            value: '1'
          },
          {
            name: 'Trabajo dependiente',
            value: '2'
          },
          {
            name: 'Trabajo laboral',
            value: '3'
          },
          {
            name: 'No trabaja',
            value: '4'
          }
        ],
        study_nivel: [
          {
            name: 'Primaria concluída',
            value: '1'
          },
          {
            name: 'Primaria no concluída',
            value: '2'
          },
          {
            name: 'Secundaría concluída',
            value: '3'
          },
          {
            name: 'Secundaría no concluída',
            value: '4'
          },
          {
            name: 'Superior completa',
            value: '5'
          },
          {
            name: 'Superior no concluída',
            value: '6'
          }
        ],
        civil_state: [
          {
            name: 'Casado/a',
            value: '1'
          },
          {
            name: 'Conviviente',
            value: '2'
          },
          {
            name: 'Viudo/a',
            value: '3'
          },
          {
            name: 'Soltero/a',
            value: '4'
          }
        ],
        numbers: [
          {
            name: '1',
            value: '1'
          },
          {
            name: '2',
            value: '2'
          },
          {
            name: '3',
            value: '3'
          },
          {
            name: '4',
            value: '4'
          },
          {
            name: '5',
            value: '5'
          }
        ],
        numbers2: [
          {
            name: '1',
            value: '1'
          },
          {
            name: '2',
            value: '2'
          },
          {
            name: '3',
            value: '3'
          },
          {
            name: '4',
            value: '4'
          },
          {
            name: '5',
            value: '5'
          },
          {
            name: '6',
            value: '6'
          },
          {
            name: '7',
            value: '7'
          },
          {
            name: '8',
            value: '8'
          },
          {
            name: '9',
            value: '9'
          },
          {
            name: '10',
            value: '10'
          }
        ],
        children: [
          {
            name: '1 hijo',
            value: '1'
          },
          {
            name: '2 hijos',
            value: '2'
          },
          {
            name: '3 hijos',
            value: '3'
          },
          {
            name: '4 hijos',
            value: '4'
          },
          {
            name: '5 hijos',
            value: '5'
          },
          {
            name: '6 hijos',
            value: '6'
          },
          {
            name: '7 hijos',
            value: '7'
          },
          {
            name: '8 hijos',
            value: '8'
          },
          {
            name: '9 hijos',
            value: '9'
          },
          {
            name: '10 hijos',
            value: '10'
          }
        ]
      },
      session: {
        attributes: {
          therapy_questionGuide_a: '',
          therapy_questionGuide_b: '',
          therapy_questionGuide_c: '',
          therapy_wellness: '',
          therapy_hope: ''
        }
      },
      tabTherapy: {
        patient: false,
        presentation: false,
        realization: false,
        experience: false,
        aplication: false
      },
      expectativeSelect: false,
      guideState: true,
      optionsExpectative: [
        {
          id: 1,
          name: 'No tiene claridad y no tiene experiencia sobre qué se realiza en Terapia psicológica',
          state: false
        },
        {
          id: 2,
          name: 'No tiene claridad pero si tiene experiencia en Terapia Psicológica.',
          state: false
        },
        {
          id: 3,
          name: 'Ha tenido experiencia(s) positiva(s) en Terapia psicológica',
          state: false
        },
        {
          id: 4,
          name: 'Ha tenido experiencia(s) negativa(s) en Terapia psicológica',
          state: false
        },
        {
          id: 5,
          name: 'Tiene un diagnóstico psiquiátrico y no toma medicación actualmente',
          state: false
        },
        {
          id: 6,
          name: 'Tiene un diagnóstico psiquiátrico y toma medicación actualmente',
          state: false
        },
        {
          id: 7,
          name: 'Si tiene antecedentes psiquiátricos, explicar brevemente la respuesta',
          state: false
        },
        {
          id: 8,
          name: 'Agregar otros',
          state: false
        }
      ],
      escale: [
        {
          name: 'Positivo/a',
          value: ''
        },
        {
          name: 'Feliz',
          value: ''
        },
        {
          name: 'Negativo/a',
          value: ''
        },
        {
          name: 'Triste',
          value: ''
        },
        {
          name: 'Bien',
          value: ''
        },
        {
          name: 'Temeroso/a',
          value: ''
        },
        {
          name: 'Mal',
          value: ''
        },
        {
          name: 'Alegre',
          value: ''
        },
        {
          name: 'Agradable',
          value: ''
        },
        {
          name: 'Molesto/a',
          value: ''
        },
        {
          name: 'Desagradable',
          value: ''
        },
        {
          name: 'Complacido/a',
          value: ''
        }
      ]
    }
  },

  computed: {},

  watch: {},
  created () {
    this.item.Patient.attributes.forEach(element => {
      this.profile.attribute[element.key] = String(element.value)
    })
    this.cohabitingsCalc()
    this.item.sessions[0].attributes.forEach(element => {
      this.session.attributes[element.key] = String(element.value)
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_PROFILE_ATTRIBUTE: 'Profile/A_SET_ATTRIBUTE',
      A_SET_SESSIONS_ATTRIBUTE: 'Sessions/A_SET_ATTRIBUTE'
    }),
    changeselect (e) {
      this.profile.attribute.children = e.value
    },
    cohabitingsCalc () {
      this.profile.cohabiting = parseInt('0' + this.profile.attribute.children) + parseInt('0' + this.profile.attribute.parents) + parseInt('0' + this.profile.attribute.brothers) + parseInt('0' + this.profile.attribute.others)
    },
    getAgeFromBirthday (birthday) {
      if (birthday) {
        const totalMonths = this.$moment().diff(birthday, 'months')
        const years = parseInt(totalMonths / 12)
        const months = totalMonths % 12
        if (months !== 0) {
          return years
        }
        return years
      }
      return null
    },
    async saveProfileAttribute (key) {
      try {
        const body = {
          key,
          value: this.profile.attribute[key]
        }
        const response = await this.A_SET_PROFILE_ATTRIBUTE({ id: this.item.Patient.id, body })
        console.log(response.message)
      } catch (error) {
        console.log('Something a went error:', error)
      }
    },
    saveSessionsAttribute (key) {
      try {
        const body = {
          key,
          value: this.session.attributes[key]
        }
        this.A_SET_SESSIONS_ATTRIBUTE({ id: this.item.sessions[0].id, body })
      } catch (error) {
        console.log('Something a went error:', error)
      }
    },
    changeCurrentGender (e) {
      this.data.gender = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
