<template lang="pug">
    .section
        .c-therapy__section.tab(
            @click="tabTherapy.experience = !tabTherapy.experience"
        )
            span 1. Tarea del diario de emociones
            i(
                :class="tabTherapy.experience ? 'icon-up': 'icon-down'"
            )
        .c-therapy__section_s4(
            v-if="tabTherapy.experience"
        )
            .c-therapy__indicator_s4
                ul.options
                        li(
                            @click="tabsTherapies = 'situation-1'"
                            :class="tabsTherapies === 'situation-1' ? 'active-1':''"
                        ) SITUACIÓN 1
                        li(
                            @click="tabsTherapies = 'situation-2'"
                            :class="tabsTherapies === 'situation-2' ? 'active-2':''"
                        ) SITUACIÓN 2
                        li(
                            @click="tabsTherapies = 'situation-3'"
                            :class="tabsTherapies === 'situation-3' ? 'active-3':''"
                        ) SITUACIÓN 3
            .situation-1-therapy(
                v-if="tabsTherapies === 'situation-1'"
            )
                .c-therapy__section_s4_1
                    p Como te comenté en la sesión anterior, el Diario de Emociones es una de las herramientas de la plataforma que puedes utilizar fuera de las sesiones y, si quisieras, podamos luego retomar lo que has grabado o escrito y conversarlo conmigo. Puedes entrar al Diario de Emociones y, si en la semana sucede alguna situación o episodio que te haga recordar lo que venimos conversando en las sesiones, las puedes escribir o grabar por audio. Puedes incluir los pensamientos y sensaciones que se despiertan a partir de dicha situación. Sé que esta tarea puede no ser fácil, pero te ayudará a recordar y ser consciente de aquello que te va sucediendo, lo que vas sintiendo y cómo vas actuando. El objetivo es que entre esta y la próxima sesión puedas plasmar algunas situaciones en el Diario de Emociones y las podemos discutir en la siguiente sesión. Esto no obligatorio, no pasa nada si no tienes tiempo de hacerlo, pero si pensamos que escribir o grabar en el Diario de emociones entre las sesiones puede ayudar a que aproveches la plataforma de manera completa y potencializa las sesiones individuales que tenemos. Veamos el Diario de Emociones juntos/as por si tienes alguna duda.
                    h3 Preguntas y Respuestas
                        h4 a. ¿Quiénes estan involucrados en la situación?
                        h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque amet ac pharetra convallis quis aenean elementum et. Urna consectetur ac pretium faucibus sed auctor.
                        h4 b. ¿Que te hace pensar la situacion que describes?
                        h6 Sed quis aliquet phasellus bibendum pulvinar justo. Pulvinar cursus magna lobortis vestibulum sit imperdiet aliquet. Integer sagittis, vitae, consequat cras.
                        h4 c. ¿Qué te hace sentir la situación que describes?
                        h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque amet ac pharetra convallis quis aenean elementum et. Urna consectetur ac pretium faucibus sed auctor.
                .c-therapy__question_s4_1
                    .c-therapy__experience-title
                        .head(
                            @click="guideState = !guideState"
                        )
                            span Guia de preguntas (opcional)
                            i(
                            :class="guideState ? 'icon-up':'icon-down'"
                            )
                    .c-therapy__experience-body(
                        v-if="guideState"
                    )
                        ul
                            li
                                p a. ¿Cómo así decidiste inscribirte para este servicio?
                                input-area(
                                    name="guide-1zdcsdf"
                                    v-model="session.attributes['therapy_questionGuide_a_s5']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_a_s5')"
                                )
                            li
                                p b. ¿Cuál es la razón principal de tu consulta?
                                input-area(
                                    rules="required"
                                    name="guide-2"
                                    v-model="session.attributes['therapy_questionGuide_b_s5']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_b_s5')"
                                )
                            li
                                p c. ¿Desde cuándo te sientes así o te encuentras en esa situación?
                                input-area(
                                    rules="required"
                                    name="guide-3"
                                    v-model="session.attributes['therapy_questionGuide_c_s5']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_c_s5')"
                                )
                            li
                                p d. ¿Ha pasado algo que haya generado un cambio en su situación?
                                input-area(
                                    rules="required"
                                    name="guide-4"
                                    v-model="session.attributes['therapy_questionGuide_d_s5']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_d_s5')"
                                )
            .situation-2-therapy(
            v-if="tabsTherapies === 'situation-2'"
            )
                .c-therapy__section_s4_2
                    p Como te comenté en la sesión anterior, el Diario de Emociones es una de las herramientas de la plataforma que puedes utilizar fuera de las sesiones y, si quisieras, podamos luego retomar lo que has grabado o escrito y conversarlo conmigo. Puedes entrar al Diario de Emociones y, si en la semana sucede alguna situación o episodio que te haga recordar lo que venimos conversando en las sesiones, las puedes escribir o grabar por audio. Puedes incluir los pensamientos y sensaciones que se despiertan a partir de dicha situación. Sé que esta tarea puede no ser fácil, pero te ayudará a recordar y ser consciente de aquello que te va sucediendo, lo que vas sintiendo y cómo vas actuando. El objetivo es que entre esta y la próxima sesión puedas plasmar algunas situaciones en el Diario de Emociones y las podemos discutir en la siguiente sesión. Esto no obligatorio, no pasa nada si no tienes tiempo de hacerlo, pero si pensamos que escribir o grabar en el Diario de emociones entre las sesiones puede ayudar a que aproveches la plataforma de manera completa y potencializa las sesiones individuales que tenemos. Veamos el Diario de Emociones juntos/as por si tienes alguna duda.
                    h3 Preguntas y Respuestas
                        h4 a. ¿Quiénes estan involucrados en la situación?
                        h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque amet ac pharetra convallis quis aenean elementum et. Urna consectetur ac pretium faucibus sed auctor.
                        h4 b. ¿Que te hace pensar la situacion que describes?
                        h6 Sed quis aliquet phasellus bibendum pulvinar justo. Pulvinar cursus magna lobortis vestibulum sit imperdiet aliquet. Integer sagittis, vitae, consequat cras.
                        h4 c. ¿Qué te hace sentir la situación que describes?
                        h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque amet ac pharetra convallis quis aenean elementum et. Urna consectetur ac pretium faucibus sed auctor.
                .c-therapy__question_s4_2
                    .c-therapy__experience-title
                        .head(
                            @click="guideState = !guideState"
                        )
                            span Guia de preguntas (opcional)
                            i(
                            :class="guideState ? 'icon-up':'icon-down'"
                            )
                    .c-therapy__experience-body(
                        v-if="guideState"
                    )
                        ul
                            li
                                p a. ¿Cómo así decidiste inscribirte para este servicio?
                                input-area(
                                    rules="required"
                                    name="guide-1"
                                    v-model="session.attributes['therapy_questionGuide_a_s6']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_a_s6')"
                                )
                            li
                                p b. ¿Cuál es la razón principal de tu consulta?
                                input-area(
                                    rules="required"
                                    name="guide-2"
                                    v-model="session.attributes['therapy_questionGuide_b_s6']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_b_s6')"
                                )
                            li
                                p c. ¿Desde cuándo te sientes así o te encuentras en esa situación?
                                input-area(
                                    rules="required"
                                    name="guide-3"
                                    v-model="session.attributes['therapy_questionGuide_c_s6']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_c_s6')"
                                )
                            li
                                p d. ¿Ha pasado algo que haya generado un cambio en su situación?
                                input-area(
                                    rules="required"
                                    name="guide-4"
                                    v-model="session.attributes['therapy_questionGuide_d_s6']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_d_s6')"
                                )
            .situation-3-therapy(
            v-if="tabsTherapies === 'situation-3'"
            )
                .c-therapy__section_s4_3
                    p Como te comenté en la sesión anterior, el Diario de Emociones es una de las herramientas de la plataforma que puedes utilizar fuera de las sesiones y, si quisieras, podamos luego retomar lo que has grabado o escrito y conversarlo conmigo. Puedes entrar al Diario de Emociones y, si en la semana sucede alguna situación o episodio que te haga recordar lo que venimos conversando en las sesiones, las puedes escribir o grabar por audio. Puedes incluir los pensamientos y sensaciones que se despiertan a partir de dicha situación. Sé que esta tarea puede no ser fácil, pero te ayudará a recordar y ser consciente de aquello que te va sucediendo, lo que vas sintiendo y cómo vas actuando. El objetivo es que entre esta y la próxima sesión puedas plasmar algunas situaciones en el Diario de Emociones y las podemos discutir en la siguiente sesión. Esto no obligatorio, no pasa nada si no tienes tiempo de hacerlo, pero si pensamos que escribir o grabar en el Diario de emociones entre las sesiones puede ayudar a que aproveches la plataforma de manera completa y potencializa las sesiones individuales que tenemos. Veamos el Diario de Emociones juntos/as por si tienes alguna duda.
                    h3 Preguntas y Respuestas
                        h4 a. ¿Quiénes estan involucrados en la situación?
                        h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque amet ac pharetra convallis quis aenean elementum et. Urna consectetur ac pretium faucibus sed auctor.
                        h4 b. ¿Que te hace pensar la situacion que describes?
                        h6 Sed quis aliquet phasellus bibendum pulvinar justo. Pulvinar cursus magna lobortis vestibulum sit imperdiet aliquet. Integer sagittis, vitae, consequat cras.
                        h4 c. ¿Qué te hace sentir la situación que describes?
                        h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque amet ac pharetra convallis quis aenean elementum et. Urna consectetur ac pretium faucibus sed auctor.
                .c-therapy__question_s4_3
                    .c-therapy__experience-title
                        .head(
                            @click="guideState = !guideState"
                        )
                            span Guia de preguntas (opcional)
                            i(
                            :class="guideState ? 'icon-up':'icon-down'"
                            )
                    .c-therapy__experience-body(
                        v-if="guideState"
                    )
                        ul
                            li
                                p a. ¿Cómo así decidiste inscribirte para este servicio?
                                input-area(
                                    rules="required"
                                    name="guide-1"
                                    v-model="session.attributes['therapy_questionGuide_a_s4']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_a_s4')"
                                )
                            li
                                p b. ¿Cuál es la razón principal de tu consulta?
                                input-area(
                                    rules="required"
                                    name="guide-2"
                                    v-model="session.attributes['therapy_questionGuide_b_s4']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_b_s4')"
                                )
                            li
                                p c. ¿Desde cuándo te sientes así o te encuentras en esa situación?
                                input-area(
                                    rules="required"
                                    name="guide-3"
                                    v-model="session.attributes['therapy_questionGuide_c_s4']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_c_s4')"
                                )
                            li
                                p d. ¿Ha pasado algo que haya generado un cambio en su situación?
                                input-area(
                                    rules="required"
                                    name="guide-4"
                                    v-model="session.attributes['therapy_questionGuide_d_s4']"
                                    placeholder="Seleccionar para comenzar a escribir"
                                    @change="saveSessionsAttribute('therapy_questionGuide_d_s4')"
                                )
        .c-therapy__section.tab(
          @click="tabTherapy.motive = !tabTherapy.motive"
        )
          span 2. Profundizar en el motivo de la consulta
          i(
            :class="tabTherapy.motive ? 'icon-up': 'icon-down'"
          )
        .c-therapy__section(
          v-if="tabTherapy.motive"
        )
          h4 Motivo Principal
          p Consectetur adipiscing elit. Id lectus eu posuere in duis platea gravida cursus bibendum. Enim integer mauris bibendum tristique lectus viverra.
          .c-therapy__experience-title(
              style="background-color:#EFEFEF;")
            .head(
              @click="motiveMain = !motiveMain"
            )
              span Actores Involucrados
              i(
                :class="motiveMain ? 'icon-up':'icon-down'"
              )
          .c-therapy__experience-body(
            v-if="motiveMain"
          )
            template(
              v-for="(item, i) in checkes"
            )
              .motive-checkbox(
                @click="check(i)"
                :class="item.item ? 'active' : ''"
              ) {{ item.count }}
              p(style="margin-top:-1.3rem;margin-left:2rem") {{item.value}}
          template(
              v-for="(item1, n) in checkes"
            )
            p(v-if="item1.item===true") {{item1.count + '.-'}} {{item1.value}}
            template(
              v-if="item1.value==='Otros' && item1.item===true"
            )
              input-area-g(
                rules="required"
                name="description"
                v-model="description"
                placeholder="Seleccionar para comenzar a escribir"
              )
          .c-therapy__experience-title(
                style="background-color:#EFEFEF;")
              .head(
                @click="emotions = !emotions"
              )
                span Emociones que se despiertan
                i(
                  :class="emotions ? 'icon-up':'icon-down'"
                )
          .c-therapy__experience-body(
            v-if="emotions"
          )
            template(
              v-for="(item2, i) in checkesEmotions"
            )
              .motive-checkbox(
                @click="checkEmotion(i)"
                :class="item2.item ? 'active' : ''"
              ) {{ item2.count }}
              p(style="margin-top:-1.3rem;margin-left:2rem") {{item2.value}}
          template(
              v-for="(item3, n) in checkesEmotions"
            )
            p(v-if="item3.item===true") {{item3.count + '.-'}} {{item3.value}}
            template(
              v-if="item3.value==='Otros motivos' && item3.item===true"
            )
              input-area-g(
                rules="required"
                name="description"
                v-model="description"
                placeholder="Seleccionar para comenzar a escribir"
              )
</template>

<script>
import { mapActions } from 'vuex'
export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    item: {
      require: true,
      type: Object
    },
    week: {
      require: true,
      type: Number
    }
  },

  data () {
    return {
      data: '',
      session: {
        attributes: {
          therapy_questionGuide_a_s5: '',
          therapy_questionGuide_b_s5: '',
          therapy_questionGuide_c_s5: '',
          therapy_questionGuide_d_s5: '',
          therapy_questionGuide_a_s6: '',
          therapy_questionGuide_b_s6: '',
          therapy_questionGuide_c_s6: '',
          therapy_questionGuide_d_s6: '',
          therapy_questionGuide_a_s4: '',
          therapy_questionGuide_b_s4: '',
          therapy_questionGuide_c_s4: '',
          therapy_questionGuide_d_s4: ''
        }
      },
      count: 0,
      emotions: false,
      checkes: [
        {
          item: false,
          count: 0,
          value: 'Pareja'
        },
        {
          item: false,
          count: 0,
          value: 'Padre/Madre'
        },
        {
          item: false,
          count: 0,
          value: 'Hermanos'
        },
        {
          item: false,
          count: 0,
          value: 'Familia extensa'
        },
        {
          item: false,
          count: 0,
          value: 'Amistades'
        },
        {
          item: false,
          count: 0,
          value: 'Colegas de trabajo'
        },
        {
          item: false,
          count: 0,
          value: 'Compañeros/as de estudio'
        },
        {
          item: false,
          count: 0,
          value: 'Otros'
        }
      ],
      checkesEmotions: [
        {
          item: false,
          count: 0,
          value: 'Tristeza'
        },
        {
          item: false,
          count: 0,
          value: 'Ansiedad'
        },
        {
          item: false,
          count: 0,
          value: 'Miedo/Temor'
        },
        {
          item: false,
          count: 0,
          value: 'Desesperanza'
        },
        {
          item: false,
          count: 0,
          value: 'Incertidumbre frente al futuro'
        },
        {
          item: false,
          count: 0,
          value: 'Estrés académico/laboral'
        },
        {
          item: false,
          count: 0,
          value: 'Frustración'
        },
        {
          item: false,
          count: 0,
          value: 'Calma/Tranquilidad'
        },
        {
          item: false,
          count: 0,
          value: 'Felicidad/Alegría'
        },
        {
          item: false,
          count: 0,
          value: 'Emociones/sentimientos poco claros'
        },
        {
          item: false,
          count: 0,
          value: 'Otros motivos'
        }
      ],
      filters: {
        options: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ],
        numbers: [
          {
            name: '1',
            value: '1'
          },
          {
            name: '2',
            value: '2'
          },
          {
            name: '3',
            value: '3'
          },
          {
            name: '4',
            value: '4'
          },
          {
            name: '5',
            value: '5'
          }
        ]
      },
      tabsTherapies: 'situation-1',
      tabTherapy: {
        motive: false,
        experience: false,
        explain: false,
        patient: false,
        presentation: false,
        presentation1: false,
        realization: false,
        aplication: false
      },
      motiveMain: false,
      /**
       * patient
       * presentation
       * realization
       * experience
       * aplication
       */
      guideState: true,
      guideState1: true,
      guide: [
        '',
        '',
        ''
      ],
      profile: {
        cohabiting: 0,
        attribute: []
      },
      attribute: [],
      subject: [
        '',
        ''
      ]
    }
  },

  computed: {},

  watch: {},
  created () {
    this.item.sessions[this.week - 1].attributes.forEach(element => {
      this.session.attributes[element.key] = String(element.value)
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_SESSIONS_ATTRIBUTE: 'Sessions/A_SET_ATTRIBUTE'
    }),
    check (i) {
      this.checkes[i].item = !this.checkes[i].item
      this.count = (this.checkes[i].item) ? this.count + 1 : this.count - 1
      this.checkes[i].count = this.count
    },
    checkEmotion (i) {
      this.checkesEmotions[i].item = !this.checkesEmotions[i].item
      this.count = (this.checkesEmotions[i].item) ? this.count + 1 : this.count - 1
      this.checkesEmotions[i].count = this.count
    },
    saveSessionsAttribute (key) {
      try {
        const body = {
          key,
          value: this.session.attributes[key]
        }
        this.A_SET_SESSIONS_ATTRIBUTE({ id: this.item.sessions[this.week - 1].id, body })
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style>

</style>
