<template lang="pug">
  .ed-grid.m-grid-3
    .m-cols-1
      .c-therapy__section.c-therapy__create-task
        .ed-grid.s-grid-2(
          style="grid-template-columns: repeat(2, calc((100% - 4rem * 1) / 2));"
        )
          .s-cols-1
            img(
              src="@/assets/images/method_respiration.svg"
            )
          .s-cols-1(
            style="display: block;"
          )
            h3 Respiración
            p Oxigenado nuestro cuerpo funciona mejor
        p Tarea 1: Vínculos positivos
        h3 RETO: Aprender técnicas de respiración
        h3 MISIONES:
        template(
          v-for="(task, i) in S_TASKS"
        )
          .task-assign
            .header
              i(
                :class="task.TaskTypes.id === 3 ? 'icon-video' : 'icon-team'"
              )
              span
                strong {{ task.TaskTypes.id === 3 ? 'Video:' : 'Sala de emociones:' }}
                | &nbsp;&nbsp;&nbsp;{{ task.name }}
            p  {{ task.description }}
          br
    .m-cols-2
      .c-therapy__section.c-therapy__preview-task
        h3 Previsualización
        .task
          img(
            src="@/assets/images/meditation_pana.svg"
            style="border-radius: 50%;"
          )
          p {{ item.Patient.firstname }} tienes un reto
          h4 Aprender técnicas de respiración
          p Oxigenado nuestro cuerpo funciona mejor
      .c-therapy__section
        .task
          h3 MISIONES:
          .header
            i.icon-video
            strong &nbsp;&nbsp;&nbsp;Mira los siguientes videos:
            template(
              v-for="(task, i) in this.taskMedia"
            )
              router-link(:to="task.TaskMedia.Media.file").c-card-task
                span.c-card-task__badge
                  i.icon-play
                  | {{ $moment(task.TaskMedia.Media.duration, "hh:mm:ss").format("m [min.]") }}
                .c-card-task__body
                  div
                    p {{ task.TaskMedia.Media.name }}
                    i.icon-play
                    img(:src="task.TaskMedia.Media.image")
                img(:src="task.TaskMedia.Media.image")
            i.icon-team
            strong &nbsp;&nbsp;&nbsp;Te proponemos estas salas de emociones
            template(
              v-for="(task, i) in this.taskRoom"
            )
              router-link(:to="task.TaskMedia.Media.file").c-card-task
                span.c-card-task__badge
                  i.icon-play
                  | {{ $moment(task.TaskMedia.Media.duration, "hh:mm:ss").format("m [min.]") }}
                .c-card-task__body
                  div
                    p {{ task.TaskMedia.Media.name }}
                    i.icon-play
                    img(:src="task.TaskMedia.Media.image")
                img(:src="task.TaskMedia.Media.image")
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area')
  },
  props: {
    item: {
      require: true,
      type: Object
    },
    week: {
      require: true,
      type: Number
    }
  },

  data () {
    return {
      assignTask: false,
      statePreview: 'list',
      data: {
        name: '',
        description: ''
      },
      optionStateTask: false,
      optionsTask: [
        {
          value: '1',
          name: 'Lista de elementos'
        },
        {
          value: '2',
          name: 'Texto libre'
        }
      ],
      currentOptionTask: {
        value: '',
        name: 'Elegir tipo de tarea'
      },
      questions: [],
      taskMedia: [],
      taskRoom: []
    }
  },

  computed: {
    ...mapState({
      S_TASKS: state => state.Tasks.S_TASKS
    })
  },

  watch: {
    week: async function () {
      await this.getTasks()
    }
  },
  async created () {
    await this.getTasks()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_TASKS: 'Tasks/A_GET_TASKSPATIENT',
      A_SET_SESSIONTASK: 'Tasks/A_SET_SESSIONTASK'
    }),
    async getTasks () {
      const tasks = await this.A_GET_TASKS({ params: { idPatient: this.$route.params.slug, week: this.week, types: [3, 4] } })
      tasks.forEach(el => {
        if (el.TaskTypes.id === 3) {
          this.taskMedia.push(el)
        } else {
          this.taskRoom.push(el)
        }
      })
    },
    async saveSessionTask (i, idTask) {
      this.S_TASKS[i].SessionTask = (this.S_TASKS[i].SessionTask === null) ? true : null
      try {
        const state = (this.S_TASKS[i].SessionTask === null) ? 0 : 1
        const response = await this.A_SET_SESSIONTASK({ body: { idSession: this.item.sessions[this.week - 1].id, idTask, state } })
        console.log(response.message)
      } catch (error) {
        console.log('Something a went error:', error)
      }
    },
    addTasks () {
      this.questions.push({ question: '', counts: '' })
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
