<template lang="pug">
  .c-creator
    .ed-grid.m-grid-5
      .m-cols-5
        .c-creator__title
          i.icon-left(
            @click="returnPage()"
          )
          h3 Subir usuarios
      .m-cols-3.c-creator-saves__content
        label.c-creator-saves
          input(
            type="file"
            accept=".xlsx, .xls, .csv"
          )
          .c-creator-saves__files
            i.icon-excel
            p Arrastra y suelta tus archivos aquí o
            .e-btn.e-btn--secondary.e-btn--rounded.e-btn--icon.e-btn--small
              i.icon-computer
              | Busca en tu ordenador
            span
              i.icon-save-1
              | Bajar formato de ejemplo
        .c-creator-saves__options
          .select
            span Crear como:
            select-input(
              inputStyle="white"
              :elements="filters.patient"
              @input="changeCurrentEmotion()"
              :placeholder="currentFilters.patient"
            )
          .select
            span Institución:
            select-input(
              inputStyle="white"
              :elements="filters.institution"
              @input="changeCurrentInstitution()"
              :placeholder="currentFilters.institution"
            )
        router-link.e-btn.e-btn--small.e-btn--fullwidth.e-btn--rounded.e-btn--secondary(
          :to="{ name: 'CreatorListPage' }"
        ) Subir
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        name: ''
      },
      filters: {
        patient: [
          {
            name: 'Usuario',
            value: 1
          },
          {
            name: 'Paciente',
            value: 1
          }
        ],
        institution: [
          {
            name: 'Mottiva',
            value: 1
          },
          {
            name: 'Paciente',
            value: 1
          }
        ]
      },
      currentFilters: {
        patient: {
          name: 'Selecciona',
          value: null
        },
        institution: {
          name: 'Selecciona',
          value: null
        }
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentEmotion (e) {
      this.currentFilters.patient = e
    },
    changeCurrentInstitution (e) {
      this.currentFilters.institution = e
    },
    returnPage () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
