<template lang="pug">
  .c-creator.c-creator__table
    .ed-grid.m-grid-5
      .m-cols-5
        .c-creator__title
          i.icon-left(
            @click="returnPage()"
          )
          h3 Subir usuarios
      .m-cols-5
        .c-creator__status
          .item
            i.icon-search
            p 3
            span Errores
      .m-cols-5
        creator-table(
          :items="users"
        )
      .m-cols-5
        .btn-center
          .e-btn.e-btn--secondary.e-btn--rounded.e-btn--small Descartar erróneos
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    creatorTable: () => import('@/components/03-organism/creatorTable/default'),
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        name: ''
      },
      filters: {
        patient: [
          {
            name: 'Usuario',
            value: 1
          },
          {
            name: 'Paciente',
            value: 1
          }
        ],
        institution: [
          {
            name: 'Mottiva',
            value: 1
          },
          {
            name: 'Paciente',
            value: 1
          }
        ]
      },
      currentFilters: {
        patient: {
          name: 'Selecciona',
          value: null
        },
        institution: {
          name: 'Selecciona',
          value: null
        }
      },
      users: [
        {
          id: 1,
          firstname: 'Juan Carlos',
          lastname: 'Herrera Lopez',
          document: '948526987',
          phone: '',
          dateStart: '25/10/2021',
          dateEnd: '',
          birthday: '25/10/2021'
        },
        {
          id: 2,
          firstname: 'Adrian Tito',
          lastname: 'Rodriguez Rodriguez',
          document: '',
          phone: '948528587',
          dateStart: '25/10/2021',
          dateEnd: '',
          birthday: '25/10/2021'
        },
        {
          id: 3,
          firstname: 'Lorem Ipsum',
          lastname: 'Herrera Lopez',
          document: '48026945',
          phone: '948528587',
          dateStart: '25/10/2021',
          dateEnd: '',
          birthday: '25/10/2021'
        }
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentEmotion (e) {
      this.currentFilters.patient = e
    },
    changeCurrentInstitution (e) {
      this.currentFilters.institution = e
    },
    returnPage () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
