<template lang="pug">
  .c-creator.c-creator__table
    .ed-grid.m-grid-5
      .m-cols-5
        .c-creator__title
          i.icon-left(
            @click="returnPage()"
          )
          h3 Subir usuarios
      .m-cols-5
        .c-creator__status
          .item
            i.icon-ok_ico
            p 224
            span Correctos
          router-link(
            :to="{ name: 'CreatorListErrorPage' }"
          ).item
            i.icon-search
            p 3
            span Errores
      .m-cols-5
        creator-table(
          :items="users"
        )
      .m-cols-5
        .btn-center
          .e-btn.e-btn--secondary.e-btn--rounded.e-btn--small(
            @click="$modal.show('create-list-users')"
          ) Aceptar
          .e-btn.e-btn--secondary.e-btn--rounded.e-btn--small(
            @click="$modal.show('delete-list-users')"
          ) Eliminar
    modal(
      name="create-list-users"
      :scrollable="true"
      :width="350"
      height="auto"
      class="c-modal--option"
      :shiftY="0.2"
    )
      i.icon-close(
        @click="$modal.hide('create-list-users')"
      )
      img(
        src="@/assets/images/correct.svg"
      )
      h2 Los usuarios
      p Fueron subidos correctamente
    modal(
      name="delete-list-users"
      :scrollable="true"
      :width="350"
      height="auto"
      class="c-modal--option"
      :shiftY="0.2"
    )
      i.icon-close(
        @click="$modal.hide('delete-list-users')"
      )
      img(
        src="@/assets/images/error.svg"
      )
      h2 Los usuarios subidos
      p Fueron eliminados correctamente
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    creatorTable: () => import('@/components/03-organism/creatorTable/default'),
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        name: ''
      },
      filters: {
        patient: [
          {
            name: 'Usuario',
            value: 1
          },
          {
            name: 'Paciente',
            value: 1
          }
        ],
        institution: [
          {
            name: 'Mottiva',
            value: 1
          },
          {
            name: 'Paciente',
            value: 1
          }
        ]
      },
      currentFilters: {
        patient: {
          name: 'Selecciona',
          value: null
        },
        institution: {
          name: 'Selecciona',
          value: null
        }
      },
      users: [
        {
          id: 3,
          firstname: 'Lorem Ipsum',
          lastname: 'Herrera Lopez',
          document: '48026945',
          phone: '948528587',
          dateStart: '25/10/2021',
          dateEnd: '',
          birthday: '25/10/2021'
        },
        {
          id: 4,
          firstname: 'Lorem Ipsum',
          lastname: 'Herrera Lopez',
          document: '48026945',
          phone: '948528587',
          dateStart: '25/10/2021',
          dateEnd: '',
          birthday: '25/10/2021'
        },
        {
          id: 5,
          firstname: 'Lorem Ipsum',
          lastname: 'Herrera Lopez',
          document: '48026945',
          phone: '948528587',
          dateStart: '25/10/2021',
          dateEnd: '',
          birthday: '25/10/2021'
        },
        {
          id: 6,
          firstname: 'Lorem Ipsum',
          lastname: 'Herrera Lopez',
          document: '48026945',
          phone: '948528587',
          dateStart: '25/10/2021',
          dateEnd: '',
          birthday: '25/10/2021'
        },
        {
          id: 7,
          firstname: 'Lorem Ipsum',
          lastname: 'Herrera Lopez',
          document: '48026945',
          phone: '948528587',
          dateStart: '25/10/2021',
          dateEnd: '',
          birthday: '25/10/2021'
        }
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentEmotion (e) {
      this.currentFilters.patient = e
    },
    changeCurrentInstitution (e) {
      this.currentFilters.institution = e
    },
    returnPage () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
