<template lang="pug">
  .o-list-sessions
    .o-list-sessions__filters
      select-input(:elements="filters.time" @input="changeCurrentSelect")
      p Pacientes: 3
      p Sala de emociones: 2
    .ed-grid.m-grid-2
      .m-cols-1(v-for="(element, key) in notesData")
        card-session(
          :session="element"
          :type="elementState(element.Session.SessionAttributes[0].value)"
          typeSession="personal"
          :router="{ name: 'NotesDetail', params: { slug: element.id } }"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    cardSession: () => import('@/components/02-molecule/cardSession/note'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
    notesData: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      currentFilters: {
        time: {
          name: 'Todos',
          value: 'all'
        }
      },
      filters: {
        time: [
          {
            name: 'Todos',
            value: 'all'
          },
          {
            name: 'Urgente',
            value: 'emergency'
          },
          {
            name: 'Moderado',
            value: 'medium'
          },
          {
            name: 'Normal',
            value: 'regular'
          }
        ]
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentSelect (e) {
      this.currentFilters.time = e
    },
    elementState (e) {
      /**
       * R: regular
       * M: medium
       * E: emergency
       * C: community
       */
      if (e === 'Normal') {
        return 'regular'
      } else if (e === 'Moderado') {
        return 'medium'
      }
      return 'emergency'
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
