<template lang="pug">
  .c-protocole-case.ed-grid.m-grid-6
    .c-protocole-case__options.m-cols-5
      select-input(
        inputStyle="white"
        :elements="filters.atentions"
        @input="changeCurrentAtention()"
        :placeholder="currentFilters.atentions"
      )
      .e-btn.e-btn--rounded.e-btn--white
        i.icon-calendar
      .c-search(
        v-click-outside="hide"
        @click="toggleSearch = true"
        :class="toggleSearch ? 'active': ''"
      )
        input(
          type="text"
        )
        i.icon-buscar_ico
    .c-protocole-case__table.m-cols-5
      .c-table
        .c-table__head.ed-grid.m-grid-8
          //- Header
          .m-cols-1 Codigo
          .m-cols-1 Proceso
          .m-cols-3 Objetivo
          .m-cols-1 Aprobado por
          .m-cols-1 Fecha de creacion
          .m-cols-1 Ver
        .c-table__body
          //- Body
          .row.ed-grid.m-grid-8
            .m-cols-1
              .cell(
                class="gray-light"
              ) 00020
            .m-cols-1
              .cell Test inicial
            .m-cols-3
              .cell Orientar la toma de datos en un caso de violencia
            .m-cols-1
              .cell PsicoAdmin
            .m-cols-1
              .cell 15/12/2020
            .m-cols-1
              .cell
                .icon-carpeta_open_ico
          .row.ed-grid.m-grid-8
            .m-cols-1
              .cell(
                class="gray-light"
              ) 00020
            .m-cols-1
              .cell Test inicial
            .m-cols-3
              .cell Orientar la toma de datos en un caso de violencia
            .m-cols-1
              .cell PsicoAdmin
            .m-cols-1
              .cell 15/12/2020
            .m-cols-1
              .cell
                .icon-carpeta_open_ico
          .row.ed-grid.m-grid-8
            .m-cols-1
              .cell(
                class="gray-light"
              ) 00020
            .m-cols-1
              .cell Test inicial
            .m-cols-3
              .cell Orientar la toma de datos en un caso de violencia
            .m-cols-1
              .cell PsicoAdmin
            .m-cols-1
              .cell 15/12/2020
            .m-cols-1
              .cell
                .icon-carpeta_open_ico
          .row.ed-grid.m-grid-8
            .m-cols-1
              .cell(
                class="gray-light"
              ) 00020
            .m-cols-1
              .cell Test inicial
            .m-cols-3
              .cell Orientar la toma de datos en un caso de violencia
            .m-cols-1
              .cell PsicoAdmin
            .m-cols-1
              .cell 15/12/2020
            .m-cols-1
              .cell
                .icon-carpeta_open_ico
          .row.ed-grid.m-grid-8
            .m-cols-1
              .cell(
                class="gray-light"
              ) 00020
            .m-cols-1
              .cell Test inicial
            .m-cols-3
              .cell Orientar la toma de datos en un caso de violencia
            .m-cols-1
              .cell PsicoAdmin
            .m-cols-1
              .cell 15/12/2020
            .m-cols-1
              .cell
                .icon-carpeta_open_ico
          .row.ed-grid.m-grid-8
            .m-cols-1
              .cell(
                class="gray-light"
              ) 00020
            .m-cols-1
              .cell Test inicial
            .m-cols-3
              .cell Orientar la toma de datos en un caso de violencia
            .m-cols-1
              .cell PsicoAdmin
            .m-cols-1
              .cell 15/12/2020
            .m-cols-1
              .cell
                .icon-carpeta_open_ico
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      toggleSearch: false,
      filters: {
        atentions: [
          {
            name: 'test inicial',
            value: 0
          },
          {
            name: 'boton de alerta',
            value: 0
          },
          {
            name: 'boton escuchame',
            value: 0
          },
          {
            name: 'recepcion de llamada',
            value: 0
          }
        ]
      },
      currentFilters: {
        atentions: {
          name: 'Proceso de atencion',
          value: 0
        }
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentAtention (e) {
      this.currentFilters.atentions = e
    },
    hide () {
      this.toggleSearch = false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
