@charset "UTF-8";

@font-face {
  font-family: "mottiva";
  src: url("assets/fonts/icons-2/icomoon.eot");
  src: url("assets/fonts/icons-2/icomoon.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/icons-2/icomoon.woff") format("woff"),
    url("assets/fonts/icons-2/icomoon.ttf") format("truetype"),
    url("assets/fonts/icons-2/icomoon.svg#mottiva") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "mottiva" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mottiva" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adjuntar_ico:before {
  content: "\e900";
}
.icon-adjunto_ico:before {
  content: "\e901";
}
.icon-agregar_ico:before {
  content: "\e902";
}
.icon-alerta_2_ico:before {
  content: "\e903";
}
.icon-alterta_ico:before {
  content: "\e904";
}
.icon-amarillo_ico:before {
  content: "\e905";
}
.icon-apple_ico:before {
  content: "\e906";
}
.icon-arrow_delante_ico:before {
  content: "\e907";
}
.icon-arrow_ico:before {
  content: "\e908";
}
.icon-audio_ico:before {
  content: "\e909";
}
.icon-back_ico:before {
  content: "\e90a";
}
.icon-bajar_doc_ico:before {
  content: "\e90b";
}
.icon-bajar_ico:before {
  content: "\e90c";
}
.icon-bebe_ico:before {
  content: "\e90d";
}
.icon-beneficios_error_ico:before {
  content: "\e90e";
}
.icon-beneficios_ico:before {
  content: "\e90f";
}
.icon-beneficios_ok_ico:before {
  content: "\e910";
}
.icon-beneficios_pendiente_ico:before {
  content: "\e911";
}
.icon-bg_llamada_ico:before {
  content: "\e912";
}
.icon-break_ico:before {
  content: "\e913";
}
.icon-buscar_ico:before {
  content: "\e914";
}
.icon-cake_ico:before {
  content: "\e915";
}
.icon-cancela_ico:before {
  content: "\e916";
}
.icon-carpeta_ico:before {
  content: "\e917";
}
.icon-carpeta_open_ico:before {
  content: "\e918";
}
.icon-cart_ico:before {
  content: "\e919";
}
.icon-cerrar_ico:before {
  content: "\e91a";
}
.icon-cerrar_sesion_ico-1:before {
  content: "\e91b";
}
.icon-cerrar_sesion_ico:before {
  content: "\e91c";
}
.icon-civil_ico:before {
  content: "\e91d";
}
.icon-clave_ico:before {
  content: "\e91e";
}
.icon-close_ico:before {
  content: "\e91f";
}
.icon-comida_ico:before {
  content: "\e920";
}
.icon-contesto_ico:before {
  content: "\e921";
}
.icon-creador_ico:before {
  content: "\e922";
}
.icon-data_ico:before {
  content: "\e923";
}
.icon-depor_ico:before {
  content: "\e924";
}
.icon-descuento_ico:before {
  content: "\e925";
}
.icon-diario_hojas_ico:before {
  content: "\e926";
}
.icon-dni_ico:before {
  content: "\e927";
}
.icon-edit_ico-1:before {
  content: "\e928";
}
.icon-edit_ico:before {
  content: "\e929";
}
.icon-entrar_ico:before {
  content: "\e92a";
}
.icon-escuela_ico:before {
  content: "\e92b";
}
.icon-estadisticas_ico:before {
  content: "\e92c";
}
.icon-excel_ico:before {
  content: "\e92d";
}
.icon-face_ico:before {
  content: "\e92e";
}
.icon-fam_ico:before {
  content: "\e92f";
}
.icon-fechas_ico:before {
  content: "\e930";
}
.icon-fem_ico:before {
  content: "\e931";
}
.icon-flehca_derecha_ico:before {
  content: "\e932";
}
.icon-foto_ico:before {
  content: "\e933";
}
.icon-gestion_ico:before {
  content: "\e934";
}
.icon-gestores_ico:before {
  content: "\e935";
}
.icon-group_ico:before {
  content: "\e936";
}
.icon-gubernamental_ico:before {
  content: "\e937";
}
.icon-hidro_ico:before {
  content: "\e938";
}
.icon-historial_ico:before {
  content: "\e939";
}
.icon-history_ico:before {
  content: "\e93a";
}
.icon-home_ico:before {
  content: "\e93b";
}
.icon-idea_ico:before {
  content: "\e93c";
}
.icon-img_ico:before {
  content: "\e93d";
}
.icon-intereses_ico:before {
  content: "\e93e";
}
.icon-join_ico:before {
  content: "\e93f";
}
.icon-libros_ico:before {
  content: "\e940";
}
.icon-limpia_ico:before {
  content: "\e941";
}
.icon-llamando_ico:before {
  content: "\e942";
}
.icon-login_ico_check:before {
  content: "\e943";
}
.icon-login_ico_contrasena:before {
  content: "\e944";
}
.icon-login_ico_correo:before {
  content: "\e945";
}
.icon-login_ico_usuario:before {
  content: "\e946";
}
.icon-login_ico_ver_contra:before {
  content: "\e947";
}
.icon-ma_ico:before {
  content: "\e948";
}
.icon-mail_ico:before {
  content: "\e949";
}
.icon-marcado_off_ico:before {
  content: "\e94a";
}
.icon-marcado_on_ico:before {
  content: "\e94b";
}
.icon-masc_ico:before {
  content: "\e94c";
}
.icon-mascota_ico:before {
  content: "\e94d";
}
.icon-max__ico:before {
  content: "\e94e";
}
.icon-megas_ico:before {
  content: "\e94f";
}
.icon-mensajes_ico:before {
  content: "\e950";
}
.icon-metro_ico:before {
  content: "\e951";
}
.icon-micro_ico:before {
  content: "\e952";
}
.icon-mini__ico:before {
  content: "\e953";
}
.icon-mottivateca__ico:before {
  content: "\e954";
}
.icon-n_sesiones_ico:before {
  content: "\e955";
}
.icon-no_contesto_ico:before {
  content: "\e956";
}
.icon-notif_ico:before {
  content: "\e957";
}
.icon-offline_ico:before {
  content: "\e958";
}
.icon-ok_2_ico:before {
  content: "\e959";
}
.icon-ok_ico:before {
  content: "\e95a";
}
.icon-otro_ico:before {
  content: "\e95b";
}
.icon-pacientes_ico:before {
  content: "\e95c";
}
.icon-pausa_ico:before {
  content: "\e95d";
}
.icon-PC_ico:before {
  content: "\e95e";
}
.icon-perfil_ico:before {
  content: "\e95f";
}
.icon-phone_2_ico:before {
  content: "\e960";
}
.icon-phone_ico:before {
  content: "\e961";
}
.icon-place_ico:before {
  content: "\e962";
}
.icon-plane_ico:before {
  content: "\e963";
}
.icon-play_ico:before {
  content: "\e964";
}
.icon-programas_ico:before {
  content: "\e965";
}
.icon-protocolos_ico:before {
  content: "\e966";
}
.icon-psico_icono:before {
  content: "\e967";
}
.icon-psicologo_ico:before {
  content: "\e968";
}
.icon-random_2_ico:before {
  content: "\e969";
}
.icon-random_ico:before {
  content: "\e96a";
}
.icon-rango_fechas_ico:before {
  content: "\e96b";
}
.icon-read_ico:before {
  content: "\e96c";
}
.icon-rojo_ico:before {
  content: "\e96d";
}
.icon-ropa_ico:before {
  content: "\e96e";
}
.icon-salas_emo_ico:before {
  content: "\e96f";
}
.icon-salas_ok_ico:before {
  content: "\e970";
}
.icon-salud_ico:before {
  content: "\e971";
}
.icon-sesiones_ico:before {
  content: "\e972";
}
.icon-star_ico:before {
  content: "\e973";
}
.icon-stats_ico:before {
  content: "\e974";
}
.icon-subir_bg_ico:before {
  content: "\e975";
}
.icon-subir_ico:before {
  content: "\e976";
}
.icon-super_ma_ico:before {
  content: "\e977";
}
.icon-tarea_ico:before {
  content: "\e978";
}
.icon-titulo_ico:before {
  content: "\e979";
}
.icon-trabajo_ico:before {
  content: "\e97a";
}
.icon-transfer_ico:before {
  content: "\e97b";
}
.icon-trash_2_ico:before {
  content: "\e97c";
}
.icon-trash_ico:before {
  content: "\e97d";
}
.icon-uni_ico:before {
  content: "\e97e";
}
.icon-user_ico:before {
  content: "\e97f";
}
.icon-vegetal_ico:before {
  content: "\e980";
}
.icon-verde_ico:before {
  content: "\e981";
}
.icon-video_ico:before {
  content: "\e982";
}
