<template lang="pug">
  .c-layout-dashboard
    .c-layout-dashboard__navbar
      navbar(
        position="fixed",
        type="white"
      )
    .c-layout-dashboard__body.c-layout-dashboard__body--image
      router-view
</template>

<script>
// import { mapState } from 'vuex'
import navbar from '@/components/03-organism/navbar.vue'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    navbar
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      toggleUser: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
