<template lang="pug">
  .c-sessions
    .ed-grid.m-grid-5
      .m-cols-2
        .c-search(
          v-click-outside="hide"
          @click="toggleSearch = true"
          :class="toggleSearch ? 'active': ''"
        )
          input(
            type="text"
            placeholder="Buscar"
          )
          i.icon-buscar_ico
        .c-sessions__options
          .e-btn.e-btn--rounded.e-btn--secondary.e-btn--small(
            @click="changeOptions('today')"
            :class="currentOption === 'today' ? '':'e-btn--white'"
          ) Hoy: {{$moment().format('DD')}}
          .e-btn.e-btn--rounded.e-btn--secondary.e-btn--small(
            v-if="false"
            @click="changeOptions('pending')"
            :class="currentOption === 'pending' ? '':'e-btn--white'"
          ) Pendientes
          .e-btn.e-btn--rounded.e-btn--secondary.e-btn--small(
            v-if="false"
            @click="changeOptions('draft')"
            :class="currentOption === 'cleans' ? '':'e-btn--white'"
          ) Borradores
      .m-cols-3
        legend-table.c-sessions__legend
          ul.primary
            li.error Tarde
            li.start Iniciando
            li.connect Conectados
            li.soon Pronto
            li.regular Regular
          ul.secondary
            li En sala
            li Navegando
            li Ausente
      .m-cols-5
        session-table(
          :socket="socket"
        )
</template>

<script>
import { mapActions } from 'vuex'
import io from 'socket.io-client'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    sessionTable: () => import('@/components/03-organism/sessionsTable/default'),
    legendTable: () => import('@/components/01-atomo/legendTable/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      toggleSearch: false,
      currentOption: 'today',
      day: new Date().getDay() - 1,
      socket: io('https://api.mottiva.pe:3000')
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  async created () {
    await this.A_GET_SESSIONS({
      current: 'today',
      offset: 0,
      limit: 150
    })
    this.socket.connect()
    this.socket.emit('joinHelpdesk', {})
  },
  mounted () {
    this.socket.on('newHelpdeskAssigned', (data) => {
      if (data.id !== this.socket.id) {
        this.A_GET_SESSIONS({
          current: this.currentOption,
          offset: 0,
          limit: 20
        })
      }
    })
  },
  updated () {},
  methods: {
    ...mapActions({
      A_GET_SESSIONS: 'Sessions/A_GET_SESSIONS'
    }),
    changeOptions (value) {
      console.log(value)
      this.currentOption = value
      this.A_GET_SESSIONS({
        current: this.currentOption,
        offset: 0,
        limit: 4
      })
    },
    hide () {
      this.toggleSearch = false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
