<template lang="pug">
  validation-provider(
    :rules="rules"
    v-slot="{ errors }"
    :slim="true"
  )
    .c-select(
      :class="[inputStyle,{ 'input--error': errors[0] || forceSucessMessage !== '' }]"
      v-click-outside="hide"
    )
      input(
        v-show="false"
        name="select"
        v-model="currentElement.value"
      )
      span(
        v-if="label"
      ) {{ label }}
      .c-select__label(
        @click="stateSelect = !stateSelect"
        v-click-outside="hide"
      )
        span {{ currentElement.name }}
        i.icon-down
      transition(name="fade")
        ul.c-select__options(v-show="stateSelect")
          li(
            v-for="element in elements"
            @click="currentElement = element"
          ) {{ element.name }}
    //  .input__error-caption(
        v-if="forceErrorMessage === ''"
      )
        span(
          v-if="errors[0]"
        ) {{ errors[0] }}
      .input__error-caption(
        v-else
      )
        span {{ forceErrorMessage }}

      .input__error-caption(
        v-if="forceSucessMessage !== ''"
      )
        span {{ forceSucessMessage }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    elements: {
      required: true,
      type: Array
    },
    placeholder: {
      required: false,
      type: Object
    },
    inputStyle: {
      required: false,
      type: String
    },
    rules: {
      type: String,
      default: ''
    },
    forceErrorMessage: {
      type: String,
      default: ''
    },
    forceSucessMessage: {
      type: String,
      default: ''
    },
    label: {
      required: false,
      type: String
    }
  },

  data () {
    return {
      data: '',
      stateSelect: false,
      currentElement: null
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {
    currentElement () {
      this.$emit('input', this.currentElement)
      this.stateSelect = false
    }
  },
  created () {
    if (this.placeholder) {
      this.currentElement = this.placeholder
    } else {
      this.currentElement = this.elements[0]
    }
  },
  mounted () {},
  updated () {},
  methods: {
    hide () {
      this.stateSelect = false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
