.c-login {
  margin: 0 auto;

  &__access {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      display: block;
      margin: 0 auto 2rem;
      width: 70%;
    }
  }
  &__banner {
    display: flex;
    align-items: center;

    @include to(m) {
      display: none;
    }

    img {
      width: 100%;

      @include from(lg) {
        width: 95%;
      }
    }
  }
}
