<template lang="pug">
  .row.ed-grid.m-grid-11
    .m-cols-1
      .cell {{patient.firstname}}
    .m-cols-1
      .cell {{patient.lastname}}
    .m-cols-1
      .cell {{$moment(patient.birthday, 'YYY-MM-DD').format('DD/MM/YYYY')}}
    .m-cols-1
      .cell {{patient.age}}
    .m-cols-1
      .cell {{patient.dni}}
    .m-cols-1
      .cell {{patient.phone}}
    // .m-cols-1.center
      .cell {{patient.District ? patient.District.City.name : '--'}}
    // .m-cols-1.center
      .cell {{patient.District ? patient.District.name :'--'}}
    .m-cols-1.center
      .cell {{patient.ProfileInstitutions.length > 0 ? patient.ProfileInstitutions[0].Institution.name : '--'}}
    .m-cols-1.center
      .cell
        .c-sessions__legend
          ul.primary
            li(
              style="list-style:none"
              :class="sessionState"
            )
    .m-cols-1.center
      .cell {{patient.sessions}}
    .m-cols-1
      .cell
    .m-cols-1
      a Ver Más
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    legendTable: () => import('@/components/01-atomo/legendTable/default')
  },
  props: {
    // propierty: { required: false, type: String },
    patient: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      sessionState: null,
      toggleOption: false
    }
  },

  computed: {},

  watch: {},
  created () {
    this.getSessionState()
  },
  mounted () {},
  updated () {},
  methods: {
    getSessionState () {
      switch (true) {
        case (this.patient.sessions === this.patient.sessionsCompleted && this.patient.sessions !== 0):
          this.sessionState = 'connect'
          break
        case (this.patient.sessions > this.patient.sessionsCompleted):
          this.sessionState = 'soon'
          break
        case (this.patient.sessionsTruncate > 0):
          this.sessionState = 'error'
          break
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
