<template lang="pug">
  .c-stadistics
    .c-stadistics__header
      span Instituciones:
      select-input(
        :elements="filters.options"
        @input="changeCurrentEmotion()"
        :placeholder="currentFilters.emotions"
      )
    h2 Estadísticas generales
    .c-stadistics__body(
      v-if="statistics"
    )
      ul
        li
          .item
            p Pacientes
            .box
              i.icon-user
              span {{ statistics.patient }}
        li
          .item
            p Psicologos
            .box
              i.icon-psicologo_ico
              span {{ statistics.psychologist }}
        li
          .item
            p Mesa ayuda
            .box
              i.icon-ma_ico
              span {{ statistics.helpdesk }}
        li
          .item
            p Nº sesiones
            .box
              i.icon-n_sesiones_ico
              span {{ statistics.session }}
        li
          .item
            p Programas completados
            .box
              i.icon-programas_ico
              span {{ statistics.program }}
        li
          .item
            p Salas de emociones
            .box
              i.icon-salas_emo_ico
              span {{ statistics.room }}
            span Nº participantes
              b {{ statistics.roomParticipant }}
        li
          .item
            p S.Emociones completadas
            .box
              i.icon-salas_ok_ico
              span {{ statistics.roomCompleted }}
            span Nº participantes
              b {{ statistics.roomCompletedParticipant }}
        li
          .item
            p Hojas de diario de emociones
            .box
              i.icon-diario_hojas_ico
              span {{ statistics.diary }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

import { mapActions, mapState } from 'vuex'

export default {
  components: {
    // component
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      filters: {
        options: [{
          name: 'Mottiva',
          value: null
        }]
      },
      currentFilters: {
        emotions: {
          name: 'Mottiva',
          value: null
        }
      },
      statistics: null
    }
  },

  computed: {
    ...mapState({
      S_INSTITUTIONS: state => state.S_INSTITUTIONS
    })
  },

  watch: {},
  async created () {
    this.statistics = await this.A_GET_STATISTICS()
    const options = await this.A_GET_INSTITUTIONS({ type: 1 })
    options.map(item => {
      this.filters.options.push({
        name: item.name,
        value: item.id
      })
    })
  },
  mounted () {
  },
  updated () {
  },
  methods: {
    ...mapActions({
      A_GET_STATISTICS: 'Statistics/A_GET_STATISTICS',
      A_GET_INSTITUTIONS: 'Institution/A_GET_INSTITUTIONS'
    }),
    changeCurrentEmotion (e) {
      this.currentFilters.emotions = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
