<template lang="pug">
  validation-observer.c-mottivateca-create(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  )
    .c-mottivateca-create__header
      i.icon-left(
        @click="prevPage"
      )
      h3 GESTOR DE MOTTIVATECA
    .c-mottivateca-create__body
      .ed-grid.m-grid-5
        .m-cols-1
          .c-mottivateca-create__types
            span Tipo de material
            ul
              li(
                :class="type === 'video' ? 'active' : null"
              )
                div(
                  @click="type = 'video'"
                )
                  i.icon-video_ico
                  span Video
              li(
                :class="type === 'audio' ? 'active' : null"
              )
                div(
                  @click="type = 'audio'"
                )
                  i.icon-audio_ico
                  span Audio
              li
                div
                  i.icon-adjunto_ico
                  span Borradores
        .m-cols-4
          .c-mottivateca-create__form.ed-grid.m-grid-2
            .m-cols-2
              input-text(
                :label="`Título de ${type}`"
                type="text"
                rules="required"
                inputStyle="input-regular--column full"
                name="name"
                v-model="data.name"
                :placeholder="`Introduce un título para el ${type}`"
              )
            .m-cols-1
              input-area(
                :label="`Descripción del ${type}`"
                type="text"
                rules="required"
                inputStyle="input-regular--column full"
                name="description"
                v-model="data.description"
              )
            .m-cols-1(
              v-if="type === 'video'"
            )
              input-text(
                label="Link"
                placeholder="Ingrese el link de vimeo"
                type="text"
                rules="required"
                inputStyle="input-regular--column full"
                name="link"
                v-model="data.vimeo"
                @change="searchVimeo()"
              )
              .s-center
                img(
                  v-if="data.image"
                  :src="data.image"
                  style="margin-top: 8px;max-height: 8rem"
                )
            .m-cols-1(
              v-else
            )
              label.input-file
                span.label Portada
                .input-file__content(
                  style="background-repeat: no-repeat;background-size: cover;"
                  :style="image.url ? `background-image: url('${image.url}')` : null"
                )
                  span
                    i.icon-subir_ico
                    | Adjunta una imagen
                  p El archivo debe tener 1080 x 1920 pixeles de medida, formatos: JPG, PNG.
                  input(
                    type="file"
                    ref="image"
                    v-on:change="onImagePicked"
                    accept="image/png, image/jpeg"
                  )
            .m-cols-2
              .selects
                .c-select
                  span Usuario
                  select-input(
                    inputStyle="white"
                    v-model="data.users"
                    :elements="filters.users"
                    @input="changeCurrentUsers()"
                    :placeholder="currentFilters.users"
                  )
                .c-select
                  span Categoría
                  select-input(
                    inputStyle="white"
                    v-model="data.categories"
                    :elements="filters.categories"
                    @input="changeCurrentCategories()"
                    :placeholder="currentFilters.categories"
                  )
                .c-select
                  span Temática
                  select-input(
                    inputStyle="white"
                    v-model="data.method_id"
                    :elements="filters.tematic"
                    @input="changeCurrentTematic()"
                    :placeholder="currentFilters.tematic"
                  )
                input-text(
                  label="Puntos"
                  type="number"
                  rules="required"
                  inputStyle="input-regular--column full"
                  name="points"
                  v-model="data.points"
                )
                input-text(
                  label="Duración"
                  type="number"
                  rules="required"
                  inputStyle="input-regular--column full"
                  name="duration"
                  v-model="data.duration"
                )
            .m-cols-2(
              v-if="type !== 'video'"
            )
              label.c-video
                span Audio
                .c-video__input
                  span
                    i.icon-subir_ico
                    | Adjunta un audio
                  p El archivo de audio debe tener el formato mp3 y no pesar mas de 50 mb
                input(
                  type="file"
                  ref="file"
                  v-on:change="onFilePicked"
                  accept=".mp3"
                )
        .m-cols-5.m-right
          template(
            v-if="type !== 'video'"
          )
            button.e-btn.e-btn--small.e-btn--secondary(
              v-if="!isLoading"
              @click="handleSubmit(onSubmit)"
            ) Confirmar
            button.e-btn.e-btn--small.e-btn--icon.e-btn--secondary.e-btn--loading(
              style="display: initial"
              v-else
            )
              i.icon-loading
          template(
            v-else
          )
            button.e-btn.e-btn--small.e-btn--secondary(
              v-if="!isLoading"
              @click="handleSubmit(onSubmitVideo)"
            ) Confirmar
            button.e-btn.e-btn--small.e-btn--icon.e-btn--secondary.e-btn--loading(
              style="display: initial"
              v-else
            )
              i.icon-loading
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'
import { Vimeo } from 'vimeo'
import { CLIENT_ID, CLIENT_SECRET, ACCESS_TOKEN } from '@/plugins/vimeo'
import { mapActions } from 'vuex'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      image: {
        url: '',
        base: ''
      },
      audio: {
        image: '',
        file: ''
      },
      data: {
        file: '',
        image: '',
        imageAudio: null,
        type: 2,
        name: '',
        description: '',
        vimeo: '',
        users: '',
        categories: '',
        method_id: '',
        points: '',
        duration: ''
      },
      type: 'video',
      filters: {
        emotions: [
          {
            name: 'emocion 1',
            value: 1
          },
          {
            name: 'emocion 2',
            value: 1
          }
        ],
        users: [
          {
            name: 'Pacientes',
            value: 1
          },
          {
            name: 'Psicologos',
            value: 2
          }
        ],
        categories: [
          {
            name: 'Capacitaciones',
            value: 1
          },
          {
            name: 'M. Libre',
            value: 2
          }
        ],
        tematic: [
          {
            name: 'Alimentación',
            value: 1
          },
          {
            name: 'Actividad física',
            value: 2
          },
          {
            name: 'Nuevos hábitos',
            value: 3
          },
          {
            name: 'Familia',
            value: 4
          },
          {
            name: 'Padres',
            value: 5
          },
          {
            name: 'Pareja',
            value: 6
          }
        ]
      },
      currentFilters: {
        emotions: {
          name: 'Selecciona',
          value: null
        },
        users: {
          name: 'Selecciona',
          value: null
        },
        categories: {
          name: 'Selecciona',
          value: null
        },
        tematic: {
          name: 'Selecciona',
          value: null
        }
      },
      isLoading: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_TRAINING: 'Training/A_SET_TRAINING',
      A_SET_TRAININGVIDEO: 'Training/A_SET_TRAININGVIDEO'
    }),
    changeCurrentEmotion (e) {
      this.currentFilters.emotions = e
    },
    changeCurrentUsers (e) {
      this.currentFilters.users = e
    },
    changeCurrentCategories (e) {
      this.currentFilters.categories = e
    },
    changeCurrentTematic (e) {
      this.currentFilters.method_id = e
    },
    prevPage () {
      this.$router.go(-1)
    },
    onImagePicked (e) {
      const files = e.target.files
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.image.base = fileReader.result
      })
      fileReader.readAsDataURL(files[0])
      this.image.url = URL.createObjectURL(files[0])
      console.log('this.image.url', this.image.url)
      this.audio.image = this.$refs.image.files[0]
    },
    onFilePicked () {
      this.audio.file = this.$refs.file.files[0]
    },
    searchVimeo () {
      const idVideo = this.getIdFromVimeoURL(this.data.vimeo)
      const client = new Vimeo(CLIENT_ID, CLIENT_SECRET, ACCESS_TOKEN)
      console.log('idVideo', idVideo)
      client.request({
        method: 'GET',
        path: '/videos/' + idVideo
      }, this.setImage)
    },
    setImage (error, body) {
      try {
        if (error) {
          console.log('Something a error on setImage:', error)
        }
        if (body.pictures.sizes.length > 0) {
          this.data.image = body.pictures.sizes[0].link.replace('100x75', '480x270')
          this.data.file = body.files[1].link
        }
      } catch (error) {
        console.log('Something a error on setImage2:', error)
      }
    },
    getIdFromVimeoURL (url) {
      return /(vimeo(pro)?\.com)\/(?:[^\d]+)?(\d+)\??(.*)?$/.exec(url)[3]
    },
    async onSubmit () {
      try {
        this.isLoading = false
        const data = new FormData()
        data.append('category_media_id', this.data.categories.value)
        data.append('method_id', this.data.method_id.value)
        data.append('name', this.data.name)
        data.append('duration', this.data.duration)
        data.append('description', this.data.description)
        data.append('points', this.data.points)
        data.append('image', this.audio.image)
        data.append('file', this.audio.file)
        data.append('role_id', this.data.users.value)
        const response = await this.A_SET_TRAINING(data)
        console.log(response)
        this.$router.push({ name: 'MottivatecaPage' })
        this.isLoading = false
      } catch (error) {
        console.log('You have a error:', error)
      }
    },
    async onSubmitVideo () {
      try {
        this.isLoading = false
        const data = this.data
        data.category_media_id = this.data.categories.value
        data.method_id = this.data.method_id.value
        data.role_id = this.data.users.value
        const response = await this.A_SET_TRAININGVIDEO(data)
        console.log(response)
        this.$router.push({ name: 'MottivatecaPage' })
        this.isLoading = false
      } catch (error) {
        console.log('You have a error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
