<template lang="pug">
  .c-mottivateca
    .ed-grid.m-grid-5
      .m-cols-5
        .c-mottivateca__search
          .c-search(
            v-click-outside="hide"
            @click="toggleSearch = true"
            :class="toggleSearch ? 'active': ''"
          )
            input(
              type="text"
              placeholder="Buscar"
              v-model="currentFilters.reference"
              @keyup="getByReference"
            )
            i.icon-buscar_ico
          router-link.e-btn.e-btn--rounded.e-btn--secondary.e-btn--small.e-btn--white.e-btn--icon(
            :to="{ name:'MottivatecaCreatePage' }"
          )
            i.icon-subir_ico
            | Subir nuevo
        .c-mottivateca__options
          .e-btn.e-btn--rounded.e-btn--secondary.e-btn--small.e-btn--icon(
            @click="currentOption = 'video'; getMedia()"
            :class="currentOption === 'video' ? '':'e-btn--white'"
          )
            i.icon-video_ico
            | Video
          .e-btn.e-btn--rounded.e-btn--secondary.e-btn--small.e-btn--icon(
            @click="currentOption = 'audio'; getMedia()"
            :class="currentOption === 'audio' ? '':'e-btn--white'"
          )
            i.icon-audio_ico
            | Audio
          select-input.white(
            :elements="filters.users"
            @input="changeCurrentUser()"
            v-model="currentFilters.users"
            :placeholder="currentFilters.users"
          )
          select-input.white(
            :elements="filters.points"
            @input="changeCurrentSelect()"
            v-model="currentFilters.points"
            :placeholder="currentFilters.points"
          )
          .e-btn.e-btn--rounded.e-btn--secondary.e-btn--small.e-btn--icon-reverse(
            :class="currentFilters.archived? '':'e-btn--white'"
            @click="currentFilters.archived = !currentFilters.archived; getMedia()"
          ) Archivados
            i.icon-trash_ico
          .e-btn.e-btn--rounded.e-btn--secondary.e-btn--small.e-btn--icon-reverse(
            :class="currentFilters.marked? '':'e-btn--white'"
            @click="currentFilters.marked = !currentFilters.marked; getMedia()"
          ) Marcados
            i.icon-marcado_on_ico
      .m-cols-5.c-mottivateca__list
        .ed-grid.m-grid-3
          .m-cols-1(
            v-for="(training, key) in S_MOTTIVATECAS"
            :key="key"
          )
            card-training(
              :router="{ name:'MottivatecaDetailPage', params: { id: training.id } }"
              :training="training"
            )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    legendTable: () => import('@/components/01-atomo/legendTable/default'),
    selectInput: () => import('@/components/02-molecule/formElements/select'),
    cardTraining: () => import('@/components/02-molecule/cardMottivateca/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      demo: '',
      data: '',
      toggleSearch: false,
      currentOption: 'video',
      filters: {
        points: [
          {
            name: 'Método',
            value: 1
          },
          {
            name: 'M. Libre',
            value: 0
          }
        ],
        users: [
          {
            name: 'Psicólogos',
            value: '2'
          },
          {
            name: 'Pacientes',
            value: '1'
          }
        ]
      },
      currentFilters: {
        points: {
          name: 'Categoría',
          value: null
        },
        users: {
          name: 'Pacientes',
          value: '1'
        },
        archived: false,
        marked: false,
        reference: ''
      },
      listTraining: []
    }
  },

  computed: {
    ...mapState({
      S_MOTTIVATECAS: state => state.Mottivateca.S_MOTTIVATECAS
    })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_MOTTIVATECAS: 'Mottivateca/A_GET_MOTTIVATECAS'
    }),
    hide () {
      this.toggleSearch = false
    },
    changeCurrentSelect (e) {
      this.getMedia()
    },
    changeCurrentUser (e) {
      this.getMedia()
    },
    getByReference (e) {
      console.log(e.keyCode)
      if (e.keyCode === 13) {
        this.getMedia()
      }
    },
    getMedia () {
      const params = {
        search: this.currentFilters.reference,
        type: this.currentOption,
        role: this.currentFilters.users.value,
        withMethod: this.currentFilters.points.value,
        archived: this.currentFilters.archived ? 1 : '',
        marked: this.currentFilters.marked ? 1 : ''
      }
      this.A_GET_MOTTIVATECAS(params)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
