<template lang="pug">
  .c-tabs
    .c-tabs__item(
      v-for="(item, index) in items" :key="index"
      :class="currentTab === index ? 'active': ''"
    )
      .c-tabs__title(@click="currentTab = index")
        h3 {{ item.title }}
        i.icon-down
      .c-tabs__body
        p {{ item.body }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    items: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      currentTab: null
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
