<template lang="pug">
  .c-protocols-detail
    .c-protocols-detail__title
        h3 SP {{S_PROTOCOL.code}} - Psicologos - {{S_PROTOCOL.ProtocolProcess.name}}
    .c-creator__form.ed-grid.m-grid-4(style="margin-top:0.8rem;margin-left:1.5rem")
        .m-cols-2
            h4 Objetivo del Protocolo:
            p {{S_PROTOCOL.goal}}
            h4 Introducción:
            p {{S_PROTOCOL.introduction}}
            h4 Procedimiento:
            p {{S_PROTOCOL.procedure}}
        .m-cols-1
            h4 Código:
            h2 SP {{S_PROTOCOL.code}}
            h4 Fecha de Creación:
            h2 {{S_PROTOCOL.createdAt}}
            h4 Responsable:
            h2 {{S_PROTOCOL.Responsible.firstname}} {{S_PROTOCOL.Responsible.lastname}}
            h4 Aprobado por:
            h2 {{S_PROTOCOL.Approver.firstname}} {{S_PROTOCOL.Approver.lastname}}
            h4 Proceso de atención:
            h2 {{S_PROTOCOL.ProtocolProcess.name}}

</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    ...mapState({
      S_PROTOCOL: state => state.Protocols.S_PROTOCOL
    })
  },
  watch: {},
  async created () {
    await this.A_GET_PROTOCOL({ id: this.$route.params.id })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PROTOCOL: 'Protocols/A_GET_PROTOCOL'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
