<template lang="pug">
  .c-room(v-if="S_ROOM.emotion_room")
    .ed-grid.m-grid-6
      .m-cols-4
        .c-room__call
          #video-call
          .e-btn.e-btn--rounded.e-btn--small.e-btn--white(
            v-if="!stateCall.active"
            @click="initCall()"
          ) Iniciar sala
          .e-btn.e-btn--rounded.e-btn--small.e-btn--white(
            v-else
            @click="$modal.show('close-room')"
          ) Terminar sala
      .m-cols-2
        .c-room__list
          .header
            .e-btn--icon(
              v-if="chat.active"
              @click="toggleChat()"
            )
              i.icon-left
            p(
              v-if="chat.active"
              style="width:100%; text-align: center"
            ) {{ 'Chat' }}
            p(
              v-if="!chat.active"
            ) {{ S_ROOM.emotion_room.title }}
            .calendar(
              v-if="!chat.active"
            )
              span {{ $moment(S_ROOM.emotion_room.start, 'YYYY-MM-DDTHH:mm:ss Z').format('ddd') }}
              span {{ $moment(S_ROOM.emotion_room.start, 'YYYY-MM-DDTHH:mm:ss Z').format('D') }}
              span {{ $moment(S_ROOM.emotion_room.start, 'YYYY-MM-DDTHH:mm:ss Z').format('MMM').toUpperCase() }}
          ul(
            v-if="!chat.active"
          ).states
            li.connect En sala
            li.warning Navegando
            li.error Ausente
          div(
            v-if="chat.active"
            style="display:flex; align-items: center; padding: 8px;"
            class="states"
          )
            span Mensaje para:
            .e-btn.e-btn--rounded.e-btn--small(
              :class="chat.current == 'all' ? '': 'disabled'"
              @click="toggleCurrentChat('all')"
              style="margin-left: auto"
            ) {{ 'Todos' }}
            .e-btn.e-btn--rounded.e-btn--small(
              @click="toggleCurrentChat('us')"
              style="margin-left: 4px;"
              :class="chat.current != 'all' ? '': 'disabled'"
            ) {{ 'Nosotros' }}
          .body(
            v-if="!chat.active"
          )
            .list-header
              span Lista de Inscritos
              i.icon-user-not
            ul.users
              li(v-for="(patient, key) in patientList" :key="key")
                span {{ key + 1 }}
                span(
                  :class="patient.state"
                ) {{ patient.firstname }}
                  b {{ patient.name }}
                i.icon-microfone(
                  @click="micOff(patient.id)"
                  :class="patient.mic ? '': 'disconect'"
                )
                i.icon-camera-1(
                  @click="camOff(patient.id)"
                  :class="patient.camera ? '': 'disconect'"
                )
            .e-btn.e-btn--rounded.e-btn--small(
              @click="toggleChat()"
            ) {{ 'Chat' }}
          div(
            style="width: 100%; padding: 0px 8px 8px;"
            v-if="chat.active"
            class="chatWrap"
          )
            div(
              v-if="chat.current == 'all'"
              style="background: white; width: 100%; border-radius: .7rem; padding: .75rem;"
            )
              .conversation(style="height: 300px; overflow: auto;")
                ul(style="list-style: none; padding: 0; margin:0;")
                  li(
                    style="list-style: none; padding: 0; margin:0; display:block; clear:both; overflow: auto;"
                    v-for="(item, key) in messages"
                  )
                    div(
                      style="display:inline-block; padding: 8px; border-radius: 8px; margin-bottom: 4px; font-size: 80%; color: #006AB6"
                      v-if="item.type === 'in'"
                      :class="item.type"
                    )
                      b( style="display:block" ) {{ item.author }}
                      span {{ item.message }}
                    div(
                      style="float: right; display:inline-block; padding: 8px; border-radius: 8px; margin-bottom: 4px; font-size: 80%; color: white"
                      v-if="item.type === 'out'"
                      :class="item.type"
                    )
                      b( style="display:block" ) {{ 'Yo' }}
                      span {{ item.message }}
              div
                input-text(
                  type="text"
                  v-model="messageChat"
                  placeholder="Escribir mensaje"
                  v-on:keyup.enter.native="sendMessage"
                )
            div(
              v-if="chat.current == 'us'"
              style="background: white; width: 100%; border-radius: .7rem; padding: .75rem;"
            )
              .privaditos(style="height: 300px; overflow: auto;")
                ul(style="list-style: none; padding: 0; margin:0;")
                  li(
                    style="list-style: none; padding: 0; margin:0; display:block; clear:both; overflow: auto;"
                    v-for="(item, key) in patientList"
                  )
                    div(
                      style="display:flex; align-items:center; margin-bottom: 16px;"
                      @click="enablePrivate(key)"
                    )
                      img(
                        :src="item.Avatar.image"
                        style="width:48px;height:48px;border-radius:24px;object-fit: cover;margin-right:8px;border:solid 1px #EFEFEF;"
                      )
                      div(
                        style="width:100%;"
                      )
                        span(
                          v-if="item.created_at > 0"
                          class="dateMessage"
                        ) {{ $moment(item.created_at, 'x').format('HH:mm') }}
                        b(style="display:block;font-size:80%;color: #006AB6") {{ item.firstname }}
                        span(
                          v-if="item.countMessage > 0"
                          class="countMessage"
                        ) {{ item.countMessage }}
                        span(style="font-size:80%") {{ item.lastMessage }}
            div(
              v-if="chat.current == 'private'"
              style="background: white; width: 100%; border-radius: .7rem; padding: .75rem;"
            )
              span(
                @click="toggleCurrentChat('us')"
                class="backToUs"
              )
                i.icon-left
              .conversation(style="height: 300px; overflow: auto;")
                ul(style="list-style: none; padding: 0; margin:0;")
                  li(
                    style="list-style: none; padding: 0; margin:0; display:block; clear:both; overflow: auto;"
                    v-for="(item, key) in privateMessages"
                  )
                    div(
                      style="display:inline-block; padding: 8px; border-radius: 8px; margin-bottom: 4px; font-size: 80%; color: #006AB6"
                      v-if="item.type === 'in'"
                      :class="item.type"
                    )
                      b( style="display:block" ) {{ item.author }}
                      span {{ item.message }}
                    div(
                      style="float: right; display:inline-block; padding: 8px; border-radius: 8px; margin-bottom: 4px; font-size: 80%; color: white"
                      v-if="item.type === 'out'"
                      :class="item.type"
                    )
                      b( style="display:block" ) {{ 'Yo' }}
                      span {{ item.message }}
              div
                input-text(
                  type="text"
                  v-model="messagePrivateChat"
                  placeholder="Escribir mensaje"
                  v-on:keyup.enter.native="sendPrivateMessage"
                )
      .m-cols-3
        .c-room__me
          .camera#videoElement
          .e-btn--icon(
              @click="enableAudio()"
            )
            i(
              :class="stateCall.mic ? 'icon-microfone': 'icon-microfone-not'"
            )
          .e-btn--icon(
              @click="enableCamera()"
            )
            i(
              :class="stateCall.camera ? 'icon-camera-1': 'icon-camera-1-not'"
            )
      .m-cols-3
        .c-room__notes
          .body
            .priority
              p Añadir prioridad
              ul
                li(
                  @click="changeState('normal')"
                )
                  i.icon-check(
                    :class="noteState === 'normal' ? 'active':''"
                  )
                  | Normal
                li(
                  @click="changeState('regular')"
                )
                  i.icon-check(
                    :class="noteState === 'regular' ? 'active':''"
                  )
                  | Mediana
                li(
                  @click="changeState('emergency')"
                )
                  i.icon-check(
                    :class="noteState === 'emergency' ? 'active':''"
                  )
                  | Urgente
            .message
              textarea(
                v-model="message"
              )
              .tag(
                v-if="noteState"
                :class="noteState"
              ) {{ stateName }}
              .e-btn--icon(
                @click="sendNote()"
              )
                i.icon-check
    modal(
      name="close-room"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
    )
      .c-recover-pass
        p ¿Estás seguro de terminar la sala?
        p
          span Si las cierras todos los pacientes saldrán de la sala y no podrán entrar a esta sala.
        validation-observer.c-login-form.c-login-form--recover(
          ref="observer"
          v-slot="{ handleSubmit }"
          tag="form"
          @submit.prevent
        )
          button.e-btn.e-btn--rounded.e-btn--small(
            @click="closeRoom()"
          ) Sí, quiero salir
          button.e-btn.e-btn--rounded.e-btn--small.disabled(
            @click="$modal.hide('close-room')"
            style="margin-left: 8px;"
          ) No, quedarme
</template>

<script>
import VideoTwilio from 'twilio-video'
import { mapState, mapActions } from 'vuex'
import jwtDecode from 'jwt-decode'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      room: null,
      message: '',
      noteState: '',
      stateCall: {
        active: false,
        mic: true,
        camera: true
      },
      patientList: [],
      AllMute: false,
      localTracks: null,
      chat: {
        active: false,
        current: 'all'
      },
      messages: [],
      privateMessages: [],
      messageChat: '',
      messagePrivateChat: '',
      currentPrivate: 0,
      currentPrivateChatParticipantId: 0
    }
  },

  computed: {
    ...mapState({
      S_ROOM: state => state.Rooms.S_ROOM,
      S_PARTICIPANTS: state => state.Rooms.S_PARTICIPANTS,
      S_CHAT: state => state.Rooms.S_CHAT
    }),
    stateName () {
      if (this.noteState === 'normal') {
        return 'Normal'
      } else if (this.noteState === 'regular') {
        return 'Mediana'
      }
      return 'Urgente'
    }
  },

  watch: {},
  async created () {
    try {
      await this.A_GET_ROOM({
        id: this.$route.params.slug
      })
      if (this.S_ROOM.emotion_room.state !== 1) {
        this.$router.push('/agenda/sesiones')
      } else {
        await this.initParticipantList()
        const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
        this.$socket.emit('enterRoom', { idProfile: profile.user.idProfile, idRoom: this.S_ROOM.emotion_room.id })

        // subscribe tu user events
        this.$socket.emit('joinRoom', { roomName: 'room-' + this.S_ROOM.emotion_room.id })
        this.localTracks = await VideoTwilio.createLocalTracks({
          audio: true,
          video: true
        })

        var video = document.querySelector('#videoElement')
        const localVideoTrack = this.localTracks.find(track => track.kind === 'video')
        video.appendChild(localVideoTrack.attach())
        this.initNote()

        window.addEventListener('beforeunload', this.beforeUnload)

        const chat = await this.A_GET_ROOM_CHAT(this.S_ROOM.emotion_room.Chat.id)
        this.messages = chat.data.messages
      }
    } catch (error) {
      console.log('error', error)
    }
  },
  destroyed () {
    window.removeEventListener('beforeunload', this.beforeUnload)
    const localVideoTrack = this.localTracks.find(track => track.kind === 'video')
    const localAudioTrack = this.localTracks.find(track => track.kind === 'audio')
    localVideoTrack.disable()
    localVideoTrack.stop()
    localAudioTrack.disable()
    localAudioTrack.stop()
    if (this.room) {
      this.disconnectCall()
    }
    const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
    this.$socket.emit('exitRoom', { idProfile: profile.user.idProfile, idRoom: this.S_ROOM.emotion_room.id })
  },
  mounted () {
    this.sockets.subscribe('messageToUser', (data) => {
      if (data.to === 'room-' + this.S_ROOM.emotion_room.id) {
        let type = 'in'
        if (data.idSocket === this.$socket.id) {
          type = 'out'
        }
        this.messages = [...this.messages, {
          message: data.message,
          author: data.author,
          type: type
        }]
      } else {
        this.patientList.map((item, key) => {
          if (data.to === 'room-private-' + item.idPrivate) {
            this.patientList[key].lastMessage = data.message
            this.patientList[key].countMessage++
            this.patientList[key].created_at = this.$moment.now()
            if (this.chat.current === 'private' && this.currentPrivate === item.idPrivate) {
              let type = 'in'
              if (data.idSocket === this.$socket.id) {
                type = 'out'
              }
              this.privateMessages = [...this.privateMessages, {
                message: data.message,
                author: data.author,
                type: type
              }]
            }
          }
        })
      }
    })
    this.sockets.subscribe('newSubscribe', (data) => {
      if (data.idRoom === this.S_ROOM.emotion_room.id) {
        this.initParticipantList()
      }
    })
  },
  updated () {
    this.$nextTick(() => this.scrollChatToEnd())
  },
  methods: {
    ...mapActions({
      A_GET_ROOM: 'Rooms/A_GET_ROOM',
      A_GET_PARTICIPANTS_ROOM: 'Rooms/A_GET_PARTICIPANTS_ROOM',
      A_SAVE_NOTE: 'Rooms/A_SAVE_NOTE',
      A_TWILLIO_ACCESS: 'Auth/A_TWILLIO_ACCESS',
      A_GET_ROOM_CHAT: 'Rooms/A_GET_ROOM_CHAT',
      A_SET_ROOM_MESSAGE: 'Rooms/A_SET_ROOM_MESSAGE',
      A_GET_PRIVATE_CHAT: 'Rooms/A_GET_PRIVATE_CHAT',
      A_GET_ROOM_PRIVATE_CHAT: 'Rooms/A_GET_ROOM_PRIVATE_CHAT',
      A_CLOSE_ROOM: 'Rooms/A_CLOSE_ROOM'
    }),
    async initCall () {
      await this.connectCall()
      this.stateCall.active = true
    },
    async disconnectCall () {
      if (this.room) {
        console.log('disconnect from room')
        await this.room.disconnect()
      }
      // const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
      // this.$socket.emit('exitRoom', { idProfile: profile.user.idProfile, idRoom: this.S_ROOM.emotion_room.id })
      // aqui para botar!!!
    },
    changeAllAudio () {
      this.AllMute = !this.AllMute

      this.patientList.forEach(element => {
        element.mic = !this.AllMute
      })
    },
    participantConnected (participant) {
      if (participant) {
        console.log('Participant "%s" connected', participant.sid)
        console.log('Participant "%s" connected', participant.identity)
        // const videoRemote = document.querySelector('#videoRemoteElement')
        const videoRemote = document.createElement('div')
        videoRemote.id = participant.sid
        const identity = participant.identity.split('*_*')
        const spanName = document.createElement('span')
        spanName.innerText = identity[0]
        const imgAvatar = document.createElement('img')
        imgAvatar.src = 'https://mottivabucket.' + identity[1]
        videoRemote.appendChild(spanName)
        videoRemote.appendChild(imgAvatar)

        participant.on('trackSubscribed', track => this.trackSubscribed(track, participant.sid))
        participant.on('trackEnabled', track => this.trackRemoteEnabled(track, participant.sid))
        participant.on('trackDisabled', track => this.trackRemoteDisabled(track, participant.sid))
        document.getElementById('video-call').appendChild(videoRemote)
      }
    },
    trackSubscribed (track, sid) {
      const div = document.querySelector('#' + sid)
      div.appendChild(track.attach())
      if (track.kind === 'video') {
        if (track.isEnabled) {
          const video = document.querySelector('#' + sid + ' video')
          video.className = ''
          const image = document.querySelector('#' + sid + ' img')
          image.className = 'hidden'
        } else {
          const video = document.querySelector('#' + sid + ' video')
          video.className = 'hidden'
          const image = document.querySelector('#' + sid + ' img')
          image.className = ''
        }
      }
      if (track.kind === 'audio') {
        // state
      }
    },
    trackUnsubscribed (track) {
      track.detach().forEach(element => element.remove())
    },
    trackRemoteEnabled (track, sid) {
      console.log('trackRemoteEnabled')
      if (track.kind === 'video') {
        this.stateCall.remoteVideo = true
        const video = document.querySelector('#' + sid + ' video')
        video.className = ''
        const image = document.querySelector('#' + sid + ' img')
        image.className = 'hidden'
      }
      if (track.kind === 'audio') {
        this.stateCall.remoteAudio = true
      }
    },
    trackRemoteDisabled (track, sid) {
      console.log('trackRemoteDisabled')
      if (track.kind === 'video') {
        this.stateCall.remoteVideo = false
        const video = document.querySelector('#' + sid + ' video')
        video.className = 'hidden'
        const image = document.querySelector('#' + sid + ' img')
        image.className = ''
      }
      if (track.kind === 'audio') {
        this.stateCall.remoteAudio = false
      }
    },
    participantDisconnected (participant) {
      console.log('Participant "%s" disconnected', participant.identity)
      if (document.getElementById(participant.sid)) {
        document.getElementById(participant.sid).remove()
      }
    },
    async connectCall () {
      try {
        const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
        const twilioToken = await this.A_TWILLIO_ACCESS({
          name: profile.user.firstname + '*_*' + profile.user.avatar.replace('https://mottivabucket.', ''),
          room: this.S_ROOM.emotion_room.twilio_uniquename
        })
        this.room = await VideoTwilio.connect(twilioToken, {
          name: this.S_ROOM.emotion_room.twilio_uniquename,
          tracks: this.localTracks
        })

        if (this.stateCall.camera) {
          const localVideoTrack = this.localTracks.find(track => track.kind === 'video')
          localVideoTrack.enable()
        }

        if (this.room.participants && this.room.participants.size > 0) {
          this.room.participants.forEach(this.participantConnected)
        }
        this.room.on('participantConnected', this.participantConnected)
        this.room.on('participantDisconnected', this.participantDisconnected)
      } catch (error) {
        console.log(error)
      }
    },
    async enableCamera () {
      this.stateCall.camera = !this.stateCall.camera
      var video = document.querySelector('#videoElement')
      const localVideoTrack = this.localTracks.find(track => track.kind === 'video')

      if (this.stateCall.camera) {
        if (video) {
          video.appendChild(localVideoTrack.attach())
        }
        localVideoTrack.restart()
        localVideoTrack.enable()
      } else {
        localVideoTrack.disable()
        localVideoTrack.stop()
        if (video) {
          [].slice.call(video.children).forEach(function () {
            video.firstChild.remove()
          })
        }
      }
    },
    enableAudio () {
      this.stateCall.mic = !this.stateCall.mic
      const localAudioTrack = this.localTracks.find(track => track.kind === 'audio')
      if (this.stateCall.mic) {
        localAudioTrack.restart()
        localAudioTrack.enable()
      } else {
        localAudioTrack.disable()
        localAudioTrack.stop()
      }
    },
    async initParticipantList () {
      await this.A_GET_PARTICIPANTS_ROOM({
        id: this.$route.params.slug
      })
      this.patientList = []
      this.S_PARTICIPANTS.data.forEach(patient => {
        this.patientList.push({
          ...patient,
          mic: false,
          camera: false,
          state: 'error',
          lastMessage: '...',
          countMessage: 0,
          idPrivate: 0,
          created_at: 0
        })

        this.A_GET_PRIVATE_CHAT({ idRoom: this.S_ROOM.emotion_room.id, idPatient: patient.id }).then(
          (privadito) => {
            // subscribe tu user events
            this.$socket.emit('joinRoom', { roomName: 'room-private-' + privadito.id })
            this.patientList.map((item, key) => {
              if (item.id === patient.id) {
                this.patientList[key].idPrivate = privadito.id
                if (privadito.messages.length > 0) {
                  this.patientList[key].lastMessage = privadito.messages[privadito.messages.length - 1].message
                  this.patientList[key].created_at = this.$moment(privadito.messages[privadito.messages.length - 1].created_at, 'YYYY-MM-DDTHH:mm:ss Z').format('x')
                }
              }
            })
          }
        )

        // listener user state
        this.sockets.subscribe('connected-' + patient.id, (data) => {
          this.patientList.map((item, key) => {
            if (item.id === patient.id) {
              if (data) {
                this.patientList[key].state = 'warning'
              } else {
                this.patientList[key].state = 'error'
              }
            }
          })
        })

        // listener user state
        this.sockets.subscribe('connected-in-room-' + patient.id, (data) => {
          this.patientList.map((item, key) => {
            if (item.id === data.idProfile) {
              this.patientList[key].name = ' - ' + data.name
              if (this.S_ROOM.emotion_room.id === data.idRoom) {
                console.log('le puse correct')
                this.patientList[key].state = 'connect'
                if (data.mic) {
                  this.patientList[key].mic = data.mic
                } else {
                  this.patientList[key].mic = false
                }
                if (data.cam) {
                  this.patientList[key].camera = data.cam
                } else {
                  this.patientList[key].camera = false
                }
              } else {
                this.patientList[key].state = 'error'
                this.patientList[key].mic = false
                this.patientList[key].camera = false
                this.removeParticipant(data.sid)
              }
              console.log('desde: connected-in-room-')
              console.log(this.patientList[key])
            }
          })
        })

        // listener user state
        this.sockets.subscribe('connected-out-room-' + patient.id, (data) => {
          this.removeParticipant(data.sid)
          this.$socket.emit('isConnect', {
            idProfile: patient.id
          })
        })

        // listener user state
        this.sockets.subscribe('enterRoom-' + patient.id, (data) => {
          this.patientList.map((item, key) => {
            if (item.id === data.idProfile) {
              this.patientList[key].name = ' - ' + data.name
              if (this.S_ROOM.emotion_room.id === data.idRoom) {
                this.patientList[key].state = 'connect'
              } else {
                this.patientList[key].state = 'error'
              }
              if (data.mic) {
                this.patientList[key].mic = data.mic
              } else {
                this.patientList[key].mic = false
              }
              if (data.cam) {
                this.patientList[key].camera = data.cam
              } else {
                this.patientList[key].camera = false
              }
              console.log('desde: enterRoom')
              console.log(this.patientList[key])
            }
          })
        })

        // camera user state
        this.sockets.subscribe('camera-' + patient.id, (data) => {
          console.log('camera on: ' + data.cam)
          this.patientList.map((item, key) => {
            if (item.id === data.idProfile && this.S_ROOM.emotion_room.id === data.idRoom) {
              this.patientList[key].camera = data.cam
            }
          })
        })

        // mic user state
        this.sockets.subscribe('mic-' + patient.id, (data) => {
          console.log('min on: ' + data.mic)
          this.patientList.map((item, key) => {
            if (item.id === data.idProfile && this.S_ROOM.emotion_room.id === data.idRoom) {
              this.patientList[key].mic = data.mic
            }
          })
        })

        // subscribe tu user events
        this.$socket.emit('joinRoom', { roomName: 'roomUser-' + patient.id })

        // check if connect
        this.$socket.emit('isConnect', {
          idProfile: patient.id
        })
      })
    },
    micOff (idProfile) {
      this.patientList.map((item, key) => {
        if (item.id === idProfile) {
          if (this.patientList[key].mic) {
            this.patientList[key].mic = false
            this.$socket.emit('micOff', { idProfile: idProfile })
          }
        }
      })
    },
    camOff (idProfile) {
      this.patientList.map((item, key) => {
        if (item.id === idProfile) {
          if (this.patientList[key].camera) {
            this.patientList[key].camera = false
            this.$socket.emit('camOff', { idProfile: idProfile })
          }
        }
      })
    },
    sendNote () {
      let priority = 0
      const note = this.message
      if (this.noteState === 'normal') {
        priority = 1
      } else if (this.noteState === 'regular') {
        priority = 2
      } else if (this.noteState === 'emergency') {
        priority = 3
      }
      const params = {
        idRoom: this.$route.params.slug,
        note: note,
        priority: priority
      }
      this.A_SAVE_NOTE(params)
    },
    initNote () {
      if (this.S_ROOM.note) {
        this.message = this.S_ROOM.note.notes
        if (this.S_ROOM.note.priority === 1) {
          this.noteState = 'normal'
        } else if (this.S_ROOM.note.priority === 2) {
          this.noteState = 'regular'
        } else if (this.S_ROOM.note.priority === 3) {
          this.noteState = 'emergency'
        }
      }
    },
    changeState (state) {
      if (this.noteState !== state) {
        this.noteState = state
      } else {
        this.noteState = ''
      }
    },
    removeParticipant (sid) {
      if (document.getElementById(sid)) {
        document.getElementById(sid).remove()
      }
    },
    beforeUnload (e) {
      if (this.room) {
        this.disconnectCall()
      }
    },
    toggleChat () {
      this.chat.active = !this.chat.active
    },
    toggleCurrentChat (current) {
      this.chat.current = current
    },
    sendMessage () {
      const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
      this.$socket.emit('messageToRoom', {
        roomName: 'room-' + this.S_ROOM.emotion_room.id,
        author: profile.user.firstname,
        message: this.messageChat
      })
      this.A_SET_ROOM_MESSAGE({
        id: this.S_CHAT.data.ChatParticipant.id,
        message: this.messageChat
      })
      this.messageChat = ''
    },
    scrollChatToEnd () {
      const container = this.$el.querySelector('.conversation')
      if (container) {
        container.scrollTop = container.scrollHeight - container.clientHeight
      }
    },
    async enablePrivate (position) {
      this.chat.current = 'private'
      this.currentPrivate = this.patientList[position].idPrivate
      this.patientList[position].countMessage = 0
      this.privateMessages = []
      const data = await this.A_GET_ROOM_PRIVATE_CHAT(this.patientList[position].idPrivate)
      this.privateMessages = data.messages
      this.currentPrivateChatParticipantId = data.ChatParticipant.id
    },
    sendPrivateMessage () {
      const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
      this.$socket.emit('messageToRoom', {
        roomName: 'room-private-' + this.currentPrivate,
        author: profile.user.firstname,
        message: this.messagePrivateChat
      })
      this.A_SET_ROOM_MESSAGE({
        id: this.currentPrivateChatParticipantId,
        message: this.messagePrivateChat
      })
      this.messagePrivateChat = ''
    },
    closeRoom () {
      this.disconnectCall()
      this.$socket.emit('closeRoom', { roomName: 'room-' + this.S_ROOM.emotion_room.id })
      const body = {
        idRoom: this.S_ROOM.emotion_room.id,
        state: 2
      }
      this.A_CLOSE_ROOM(body)
      this.$router.push('/agenda/sesiones')
    }
  }
}
</script>

<style lang="css" scoped>
.c-room{
  min-height: 100vh;
}
.hidden{
  opacity: 0;
}
.conversation .in{
  border: solid 2px #006AB6;
}
.conversation .out{
  background-color: #006AB6;
}
.backToUs{
  padding: 8px 0;
  width: 32px;
  display: block;
  line-height: 1;
  color: #006AB6;
  cursor: pointer;
}
.countMessage {
  background-color: #EFEFEF;
  color: #006AB6;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  float: right;
}
.dateMessage {
  display: inline-block;
  font-size: 12px;
  float: right;
}
</style>
