<template lang="pug">
  .row.ed-grid.m-grid-9
    .m-cols-1
      .cell {{ item.firstname }}
    .m-cols-1
      .cell {{ item.lastname }}
    .m-cols-1
      .cell {{ item.birthday }}
    .m-cols-1
      .cell {{ item.document }}
    .m-cols-1
      .cell {{ item.phone }}
    .m-cols-1.center
      .cell.c-gubernamental__program
        i(
          :class="`${ iconProgram } ${ item.program }`"
        )
    .m-cols-1
      .cell {{ item.dateStart }}
    .m-cols-1.center
      .cell
        label.c-gubernamental__toggle
          span {{ item.state ? 'Activo': 'Inactivo' }}
          input(
            type="checkbox"
            v-model="item.state"
          )
          .input
            span
    .m-cols-1.center
      .cell
        i.icon-trash.c-gubernamental__trash
</template>

<script>
import { mapActions } from 'vuex'
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: false,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      checkInput: false
    }
  },

  computed: {
    iconProgram () {
      if (this.item.program === 'complete') return 'icon-ok_ico'
      else if (this.item.program === 'progress') return 'icon-flehca_derecha_ico'
      return 'error-program'
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CASES: 'Sessions/A_GET_CASES'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
