<template lang="pug">
  .c-training(
    v-if="S_TRAINING.Media"
  )
    breadcrumb(
      :routes="[{ name: S_TRAINING.Media.name }]"
    )
    video(controls)
      source( :src="S_TRAINING.Media.file" type="video/mp4")
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    breadcrumb: () => import('@/components/02-molecule/breadcrumb/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {}
    }
  },

  computed: {
    ...mapState({
      S_TRAINING: state => state.Trainings.S_TRAINING
    })
  },
  watch: {},
  async created () {
    await this.A_GET_TRAINING(this.$route.params.slug)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_TRAINING: 'Trainings/A_GET_TRAINING'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
