<template lang="pug">
  .c-options-case.ed-grid.m-grid-6
    .m-cols-5
      h3 Caso 1403
        span 05/01/2021
      .c-options-case__buttons
        .e-btn.e-btn--secondary.e-btn--small.e-btn--rounded(
          @click="optionCase='notes'"
          :class="optionCase === 'notes' ? '':'e-btn--white'"
        ) Notas
        .e-btn.e-btn--secondary.e-btn--small.e-btn--rounded(
          @click="optionCase='protocoles'"
          :class="optionCase === 'protocoles' ? '':'e-btn--white'"
        ) Protocolos
    .m-cols-1
      i.icon-back_ico(@click="back")
    .m-cols-3
      detail-case(
        v-if="optionCase === 'notes'"
      )
    .m-cols-6(
      v-if="optionCase === 'protocoles'"
    )
      protocole-case
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    detailCase: () => import('@/components/02-molecule/case/history'),
    createCase: () => import('@/components/02-molecule/case/create'),
    protocoleCase: () => import('@/components/02-molecule/case/protocole')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      optionCase: 'notes'
      /**
       * notes
       * create-notes
       * protocoles
       */
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    back () {
      this.$emit('back', 'list')
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
