<template lang="pug">
  .c-table.c-emotion-room-table
    .c-table__head.ed-grid.m-grid-12
      //- Header
      .m-cols Status
      .m-cols-1.center Nombre de la sala
      .m-cols-1.center Fecha
      .m-cols-1.center H. reunión
      .m-cols-1.center H. reunión
      .m-cols-1.center H. actual
      .m-cols-1.center H. restante
      .m-cols-1.center Estado de notificacion
      .m-cols-1.center Responsable
      .m-cols-1.center Pacientes
      .m-cols-1.center Enlace
      .m-cols-1.center Asignarme
    .c-table__body
      //- Body
      emotion-room-table-row(
        v-for="(session, key) in rooms"
        :key="key"
        :session="session"
      )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    emotionRoomTableRow: () => import('@/components/02-molecule/emotionRoomTable/row')
  },
  props: {
    rooms: {
      required: true,
      type: Array
    }
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      sessions: [
        {
          id: 1,
          status: 'error',
          /**
           * error
           * connect
           * regular
           * start
           * soon
           */
          personal: {
            patient: 'connect',
            psychologist: 'error'
            /**
             * connect
             * error
             * warning
             */
          },
          time: '10:30:00',
          timeNow: '14:51:00',
          timeLeft: '15:15:00',
          notificationState: 'Sesión cancelada',
          psychologist: {
            name: 'Erika',
            state: 'active'
          },
          patients: 4,
          totalPatients: 8,
          session: {
            total: 3,
            reasign: 0
          },
          notification: {
            state: 'error',
            name: 'S. cancelada'
          }
        },
        {
          id: 2,
          status: 'connect',
          /**
           * error
           * connect
           * regular
           * start
           * soon
           */
          personal: {
            patient: 'connect',
            psychologist: 'connect'
            /**
             * connect
             * error
             * warning
             */
          },
          time: '10:30:00',
          timeNow: '14:51:00',
          timeLeft: '15:15:00',
          notificationState: 'Sesión cancelada',
          psychologist: {
            name: 'Erika',
            state: 'active'
          },
          patients: 4,
          totalPatients: 8,
          session: {
            total: 3,
            reasign: 0
          },
          notification: {
            state: 'error',
            name: 'Reagendar'
          }
        },
        {
          id: 3,
          status: 'regular',
          /**
           * error
           * connect
           * regular
           * start
           * soon
           */
          personal: {
            patient: 'connect',
            psychologist: 'warning'
            /**
             * connect
             * error
             * warning
             */
          },
          time: '10:30:00',
          timeNow: '14:51:00',
          timeLeft: '15:15:00',
          notificationState: 'Sesión cancelada',
          psychologist: {
            name: 'Erika',
            state: 'active'
          },
          patients: 4,
          totalPatients: 8,
          session: {
            total: 3,
            reasign: 0
          },
          notification: {
            state: '',
            name: ''
          }
        },
        {
          id: 4,
          status: 'start',
          /**
           * error
           * connect
           * regular
           * start
           * soon
           */
          personal: {
            patient: 'warning',
            psychologist: 'error'
            /**
             * connect
             * error
             * warning
             */
          },
          time: '10:30:00',
          timeNow: '14:51:00',
          timeLeft: '15:15:00',
          notificationState: 'Sesión cancelada',
          psychologist: {
            name: 'Erika',
            state: 'active'
          },
          patients: 4,
          totalPatients: 8,
          session: {
            total: 3,
            reasign: 0
          },
          notification: {
            state: '',
            name: ''
          }
        },
        {
          id: 5,
          status: 'soon',
          /**
           * error
           * connect
           * regular
           * start
           * soon
           */
          personal: {
            patient: 'error',
            psychologist: 'error'
            /**
             * connect
             * error
             * warning
             */
          },
          time: '10:30:00',
          timeNow: '14:51:00',
          timeLeft: '15:15:00',
          notificationState: 'Sesión cancelada',
          psychologist: {
            name: 'Erika',
            state: 'active'
          },
          patients: 4,
          totalPatients: 8,
          session: {
            total: 3,
            reasign: 0
          },
          notification: {
            state: 'success',
            name: 'Aprobada'
          }
        }
      ]
    }
  },

  computed: {
    ...mapState({
      S_ROOMS: state => state.emotionRoom.S_ROOMS
    })
  },
  watch: {},
  async created () {
    await this.A_GET_ROOMS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_ROOMS: 'emotionRoom/A_GET_ROOMS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
