<template lang="pug">
  .c-benefits-table
    .c-benefits-table__options
      .e-btn.e-btn--rounded.e-btn--small.e-btn--white.e-btn--secondary.e-btn--icon
        i.icon-rango_fechas_ico
      .e-btn.e-btn--rounded.e-btn--small.e-btn--white.e-btn--secondary Rango de fechas
      select-input(:elements="filters.categories" @input="changeCurrentSelect()")
      .e-btn.e-btn--rounded.e-btn--small.e-btn--icon.e-btn--white.e-btn--secondary
        i.icon-history_ico
        | Historial
      .c-search(
        v-click-outside="hide"
        @click="toggleSearch = true"
        :class="toggleSearch ? 'active': ''"
      )
        input(
          type="text"
          placeholder="Buscar"
        )
        i.icon-buscar_ico
    .c-table.c-benefits-table.c-table--rounded
      .c-table__head.ed-grid.m-grid-12
        //- Header
        .m-cols-1.center
          .cell Nombres
        .m-cols-1.center
          .cell Apellidos
        .m-cols-1.center
          .cell Celular
        .m-cols-1.center
          .cell Beneficio
        .m-cols-1.center
          .cell Total de puntos
        .m-cols-1.center
          .cell Costo de pts.
        .m-cols-1.center
          .cell Fecha de solicitud
        .m-cols-1.center
          .cell Operador
        .m-cols-1.center
          .cell Asignarme
        .m-cols-1.center
          .cell Voucher
        .m-cols-1
        .m-cols-1.center
          .cell Estado
      .c-table__body
        benefits-table-row(
          v-for="(benefit, key) in S_BENEFITS"
          :key="key"
          :benefit="benefit"
        )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    benefitsTableRow: () => import('@/components/02-molecule/benefitsTable/row'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
    cases: {
      required: false,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      toggleSearch: false,
      filters: {
        categories: [
          {
            name: 'Enero',
            value: 0
          },
          {
            name: 'Febrero',
            value: 1
          },
          {
            name: 'marzo',
            value: 2
          },
          {
            name: 'Abril',
            value: 3
          },
          {
            name: 'Mayo',
            value: 4
          },
          {
            name: 'Junio',
            value: 5
          },
          {
            name: 'Julio',
            value: 6
          },
          {
            name: 'Agosto',
            value: 7
          },
          {
            name: 'Septiembre',
            value: 8
          },
          {
            name: 'Octubre',
            value: 9
          },
          {
            name: 'Noviembre',
            value: 10
          },
          {
            name: 'Diciembre',
            value: 11
          }
        ]
      },
      currentFilters: {
        categories: {
          name: 'Mes',
          value: null
        }
      }
    }
  },

  computed: {
    ...mapState({
      S_BENEFITS: state => state.Benefits.S_BENEFITS
    })
  },
  watch: {},
  async created () {
    await this.A_GET_BENEFITS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_BENEFITS: 'Benefits/A_GET_BENEFITS'
    }),
    changeCurrentSelect (e) {
      this.currentFilters.categories = e
    },
    hide () {
      this.toggleSearch = false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
