<template lang="pug">
  .c-gubernamental.c-managers
    .header
      .c-managers__title
        h2 Gestores | Administrador Mesa de Ayuda
      .c-managers__select
        span Ver como:
        select-input.secondary(
          :elements="filters.points"
          @input="changeCurrentSelect()"
          :placeholder="currentFilters.points"
        )
    .body
      managers-table(
        :items="users"
      )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    managersTable: () => import('@/components/03-organism/managersTable/default'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      users: [
        {
          id: 1,
          firstname: 'Juan Carlos',
          lastname: 'Herrera Lopez',
          birthday: '25/10/1982',
          gender: 'M',
          document: '48026945',
          phone: '963748625',
          email: 'juan@herrera.com',
          state: true
        },
        {
          id: 2,
          firstname: 'Adrian Tito',
          lastname: 'Rodriguez Rodriguez',
          birthday: '25/10/1982',
          gender: 'M',
          document: '48026945',
          phone: '948526987',
          email: 'adrian@rodriguez.com',
          state: true
        }
      ],
      filters: {
        points: [
          {
            name: 'Pendiente',
            value: 1000
          },
          {
            name: 'En curso',
            value: 2000
          },
          {
            name: 'Finalizado',
            value: 3000
          }
        ]
      },
      currentFilters: {
        points: {
          name: 'Programa',
          value: null
        }
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    returnPage () {
      this.$router.go(-1)
    },
    changeCurrentSelect (e) {
      this.currentFilters.points = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
