<template lang="pug">
  .c-navbar
    router-link(to="/")
      img(src="@/assets/images/Logo.svg")
    ul
      li
        router-link(:to="{ name: 'IndexPage' }")
          i.icon-home_ico
          span Inicio
      li
        router-link(:to="{ name: 'MessagesPage' }")
          i.icon-mensajes_ico
          span Mensajes
      li
        router-link(:to="{ name: 'ProfilePage' }")
          i.icon-perfil_ico
          span Perfil
      li.c-navbar__footer
        a(
          @click="logoutAuth"
        )
          i.icon-cerrar_sesion_ico
          span Cerrar sesión
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_LOGOUT: 'Auth/A_LOGOUT'
    }),
    logoutAuth () {
      this.A_LOGOUT()
      this.$router.push({ name: 'LoginForm' })
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
