<template lang="pug">

  router-link.c-card-session(
    :to="router"
    :class="`${ typeSession !== 'personal' ? 'c-card-session--community' : '' }`"
  )
    img(
      v-if="session.Patient && session.Patient.Avatar"
      :src="session.Patient.Avatar.image"
    )
    img(
      v-if="session.image"
      :src="session.image"
    )
    .c-card-session__description
      h4(v-if="session.Patient") {{ session.Patient.firstname }} {{ session.Patient.lastname }}
      h4(v-if="session.title") {{ session.title }}
      p(v-if="!session.title") Sesión: {{ session.week }}/6
      span(v-if="mode === 'history'") Personal
      span(v-else) {{ $moment(session.date, 'YYYY-MM-DDTHH:mm:ss Z').format('h:mm a') }}
    .c-card-session__calendar( :class="`${ session.title ? 'purple' : 'cyan' }`" )
      span {{ $moment(session.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('ddd') }}
      span {{ $moment(session.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('D') }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    mode: {
      require: false,
      type: String,
      default: 'normal'
    },
    typeSession: {
      /**
       * Personal
       * Community
       */
      type: String,
      default: 'personal'
    },
    type: {
      /**
       * R: regular
       * M: medium
       * E: emergency
       * C: community
       */
      type: String
    },
    router: {
      required: true,
      type: Object
    },
    session: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    description () {
      if (this.mode === 'history') {
        return `Sesión: ${this.session.session.current}/${this.session.session.total}`
      } else {
        return `${this.session.session.current}/${this.session.session.total} ${this.session.session.type}`
      }
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="css" scoped>
.purple{
  background-color: #FF869C;
  color: white;
}
.cyan {
  background-color: #D2EFF7;
  color: #006AB6;
}
</style>
