<template lang="pug">
  .c-table.c-session-table
    .c-table__head.ed-grid.m-grid-11
      //- Header
      .m-cols-1 Nombres
      .m-cols-1 Apellidos
      .m-cols-1 Nacimiento
      .m-cols-1 Edad
      .m-cols-1 DNI
      .m-cols-1 Celular
      //-.m-cols-1 Departamento
      //-.m-cols-1.center Distrito
      .m-cols-1 Institución
      .m-cols-1 Programa
      .m-cols-1 Sesiones
      .m-cols-1 Diagnostico
      .m-cols-1
    .c-table__body
      //- Body
      patient-table-row(
        v-for="(patient, key) in patients"
        :key="key"
        :patient="patient"
      )
</template>

<script>
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    patientTableRow: () => import('@/components/02-molecule/patientTable/row')
  },
  props: {
    patients: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {},
  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
