<template lang="pug">
  .c-frequent-questions
    .ed-container
        h2 PREGUNTAS FRECUENTES
        tabs(:items="tabsItems")
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    tabs: () => import('@/components/02-molecule/tabs/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      tabsItems: [
        {
          title: '1. ¿Lorem ipsum dolor sit amet, sun consectetur adipiscin elite terdum?',
          body: 'Sit sodales pellentesque diam in fermentum. Orci sit tellus tempus mauris turpis urna est lacus placerat. Aliquet cursus interdum amet gravida ut mattis a habitant. Ut eu gravida nisl nisl dui sagittis non gravida id integer Sit sodales pellentesque diam in fermentum. Orci sit tellus tempus mauris turpis urna est lacus placerat. Aliquet cursus interdum amet gravida ut mattis a habitant. Ut eu gravida nisl nisl dui sagittis non gravida id integer.'
        },
        {
          title: '1. ¿Lorem ipsum dolor sit amet, sun consectetur adipiscin elite terdum?',
          body: 'Sit sodales pellentesque diam in fermentum. Orci sit tellus tempus mauris turpis urna est lacus placerat. Aliquet cursus interdum amet gravida ut mattis a habitant. Ut eu gravida nisl nisl dui sagittis non graer.'
        },
        {
          title: '1. ¿Lorem ipsum dolor sit amet, sun consectetur adipiscin elite terdum?',
          body: 'Sit sodales pellentesque diam in fermentum. Orci sit tellus tempus mauris turpis urna est lacus placerat. Aliquet cursus interdum amet gravida ut mattis a habitant. Ut eu gravida nisl nisl dui sagittis non gravida id integer Sit sodales pellentesque diam in fermentum. Orci sit tellus tempus mauris turpis urna est lacus placerat. Aliqu.'
        },
        {
          title: '1. ¿Lorem ipsum dolor sit amet, sun consectetur adipiscin elite terdum?',
          body: 'Sit sodales pellentesque diam in fermentum. Orci sit tellus tempus mauris turpis urna est lacus placerat. Aliquet cursus interdum amet gravida ut mattis a habitant. Ut eu gravida nisl nisl dui sagittis non gravida id'
        },
        {
          title: '1. ¿Lorem ipsum dolor sit amet, sun consectetur adipiscin elite terdum?',
          body: 'Sit sodales pellentesque diam in fermentum. Orci sit tellus tempus mauris turpis urna est lacus placerat. Aliquet cursus interdum amet gravida ut mattis a habitant. Ut eu gravida nisl nisl dui sagittis non gravida id integer Sit sodales pellentesque diam in fermentum. Orci sit tellus tempus mauris turpis urna est lacus placerat'
        }
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
