<template lang="pug">
  ul.c-breadcrumb
    li
      a(@click="goPrevPage")
        i.icon-left
    li(v-for="item in routes")
      router-link( v-if="item.route" :to="item.route.name") {{ item.name }}
      span {{ item.name }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    routes: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    goPrevPage () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
