<template lang="pug">
  .c-history.c-gubernamental
    .ed-grid.m-grid-5
      .m-cols-3
        .c-history__options
          .c-creator__title
            i.icon-left(
              @click="returnPage()"
            )
            h3 Lista de pacientes EsSalud
          .c-history__filters
            .c-search(
              v-click-outside="hide"
              @click="toggleSearch = true"
              :class="toggleSearch ? 'active': ''"
            )
              input(
                type="text"
                placeholder="Buscar"
              )
              i.icon-buscar_ico
            select-input.white(
              :elements="filters.points"
              @input="changeCurrentSelect()"
              :placeholder="currentFilters.points"
            )
      .m-cols-2
        legend-table.c-history__legend
          ul.secondary
            li Pendiente
            li En curso
            li Finalizado
        h2.total
          span 120 000&nbsp;
          | de 1000 000
          p Pacientes
      .m-cols-5
        gubernamental-table(
          :items="patients"
        )
</template>

<script>
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    gubernamentalTable: () => import('@/components/03-organism/gubernamentalTable/patients'),
    legendTable: () => import('@/components/01-atomo/legendTable/default'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      toggleSearch: false,
      filters: {
        points: [
          {
            name: 'Pendiente',
            value: 1000
          },
          {
            name: 'En curso',
            value: 2000
          },
          {
            name: 'Finalizado',
            value: 3000
          }
        ]
      },
      currentFilters: {
        points: {
          name: 'Programa',
          value: null
        }
      },
      patients: [
        {
          id: 1,
          firstname: 'Juan Carlos',
          lastname: 'Herrera Lopez',
          birthday: '25/10/2021',
          document: '48026945',
          phone: '963748625',
          program: 'progress',
          dateStart: '25/10/2021',
          state: true
        },
        {
          id: 2,
          firstname: 'Adrian Tito',
          lastname: 'Rodriguez Rodriguez',
          birthday: '25/10/2021',
          document: '48026945',
          phone: '948526987',
          program: 'progress',
          dateStart: '25/10/2021',
          state: false
        },
        {
          id: 3,
          firstname: 'Lorem Ipsum',
          lastname: 'Herrera Lopez',
          birthday: '25/10/2021',
          document: '48026945',
          phone: '948526987',
          program: 'complete',
          dateStart: '25/10/2021',
          state: true
        },
        {
          id: 4,
          firstname: 'Jorge Luis',
          lastname: 'Rodriguez Rodriguez',
          birthday: '25/10/2021',
          document: '48026945',
          phone: '965487263',
          program: 'progress',
          dateStart: '25/10/2021',
          state: false
        },
        {
          id: 5,
          firstname: 'Erik Jose',
          lastname: 'Herrera Lopez',
          birthday: '25/10/2021',
          document: '48026945',
          phone: '965487263',
          program: 'error',
          dateStart: '25/10/2021',
          state: true
        },
        {
          id: 6,
          firstname: 'Jose Maria',
          lastname: 'Rodriguez Rodriguez',
          birthday: '25/10/2021',
          document: '48026945',
          phone: '992136748',
          program: 'progress',
          dateStart: '25/10/2021',
          state: true
        },
        {
          id: 7,
          firstname: 'Rodrigo Enzo',
          lastname: 'Herrera Lopez',
          birthday: '25/10/2021',
          document: '48026945',
          phone: '934787712',
          program: 'progress',
          dateStart: '25/10/2021',
          state: false
        },
        {
          id: 8,
          firstname: 'Gino Franco',
          lastname: 'Rodriguez Rodriguez',
          birthday: '25/10/2021',
          document: '48026945',
          phone: '906330785',
          program: 'complete',
          dateStart: '25/10/2021',
          state: true
        }
      ]
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentSelect (e) {
      this.currentFilters.points = e
    },
    hide () {
      this.toggleSearch = false
    },
    changeSwitch (e) {
      this.position = e
    },
    returnPage () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
