<template lang="pug">
  .row.ed-grid.m-grid-12
    .m-cols-1.center
      .cell {{ benefit.patient.firstname }}
    .m-cols-1.center
      .cell {{ benefit.patient.lastname }}
    .m-cols-1.center
      .cell {{ benefit.patient.phone }}
    .m-cols-1.center
      .cell {{ benefit.plan }}
    .m-cols-1.center
      .cell {{ benefit.patient.points }}
    .m-cols-1.center
      .cell {{ benefit.cost }}
    .m-cols-1.center
      .cell {{ benefit.date }}
    .m-cols-1.center
      .cell {{ benefit.patient.operator }}
    .m-cols-1.center
      .cell
        span.c-benefits-table__checkbox(
          :class="benefit.assigned ? 'active': ''"
          @click="assignMe"
        )
          i.icon-login_ico_check
    .m-cols-1.center
      .cell
        label.c-benefits-table__upload(
          :class="benefit.assigned ? '': 'disabled'"
        )
          i.icon-subir_ico
          input(
            type="file"
            :disabled="!benefit.assigned"
            accept="image/png, image/jpeg"
            @change="previewFiles"
          )
    .m-cols-1.center
      .cell
        .c-benefits-table__select(
          :class="option.disabled ? 'disabled':''"
        )
          span(
            @click="toggleOption"
          ) Aceptar
          i.icon-down(
            @click="toggleOption"
          )
          transition(name="fade")
            .option(v-if="option.action")
              span Rechazar
    .m-cols-1.center
      .cell.c-benefits-table__state(
        :class="benefit.state"
      )
        i(
          :class="stateIcon"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    benefit: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      option: {
        disabled: true,
        action: false
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    stateIcon () {
      if (this.benefit.state === 'success') {
        return 'icon-beneficios_ok_ico'
      } else if (this.benefit.state === 'warning') {
        return 'icon-beneficios_pendiente_ico'
      }
      return 'icon-beneficios_error_ico'
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    assignMe () {
      this.benefit.assigned = !this.benefit.assigned
    },
    toggleOption () {
      if (!this.option.disabled) {
        this.option.action = !this.option.action
      }
    },
    previewFiles (e) {
      this.benefit.voucher = URL.createObjectURL(e.target.files[0])
      console.log(URL.createObjectURL(e.target.files[0]))
      this.option.disabled = false
    }

  }
}
</script>

<style lang="sass" scoped>
</style>
