<template lang="pug">
  .row.ed-grid.m-grid-6
    .m-cols-1
      .cell.gray
        span {{ $moment(history.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('L') }}
    .m-cols-1.center
      .cell {{ $moment(history.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('hh:mm a') }}
    .m-cols-1.center
      .cel(style="margin-top:1rem")
        i(
          :class="`icon-${ iconCategory() }`"
        )
    .m-cols-1
      .cell.c-history-table__state
        span(
          :class="state[history.state]"
        )
        | {{ history.Session ? history.Session.Patient.firstname + history.Session.Patient.lastname : '--' }}
    .m-cols-1.center
      .cell.c-history-table__case(
        @click="toggleOption = !toggleOption"
        :class="toggleOption ? 'active': ''"
      )
        i.icon-down
        | {{ history.theme }}
    .m-cols-1
      .cell {{ `${history.Profile.firstname} ${history.Profile.lastname}` }}
    transition(name="fade")
      .m-cols-6(v-if="toggleOption")
        list-case
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listCase: () => import('@/components/03-organism/listCase/history')
  },
  props: {
    // propierty: { required: false, type: String },
    history: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      toggleOption: false,
      state: ['error', 'success', 'warning', 'info']
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    assignCase () {
      this.session.assigned = !this.session.assigned
    },
    iconCategory () {
      this.type = this.history.Session ? 'session' : 'room'
      if (this.type === 'session') {
        return 'team'
      } else if (this.type === 'room') {
        return 'salas_emo_ico'
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
